
  <!-- Head Section -->
  <section class="small-section bg-dark" data-background="<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%>" style="margin-top: 75px;">
      <div class="relative container align-left">
          
          <div class="row">
              
              <div class="col-md-8">
                  <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">NSoJ News</h1>
                  <div class="hs-line-4 font-alt">
                      <!-- We share our best ideas in our blog -->
                  </div>
              </div>
              
           </div>
          
      </div>
  </section>
  <!-- End Head Section -->


  <!-- Services Section -->
    <section class="page-section" id="news_services" style="padding-bottom:0px;">
        <div class="container relative">
            

            <!-- Nav tabs -->
            <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
                <li class="active">
                    <a href="#service-news" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-newspaper"></span>
                        </div>
                        
                        NSoJ Post
                    </a>
                </li>
                <!-- <li>
                    <a href="#service-events" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-puzzle"></span>
                        </div>
                        
                        Events
                    </a>
                </li> -->
                <li>
                    <a href="#service-radio" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-megaphone"></span>
                        </div>
                        
                        Podcast
                    </a>
                </li>
                <li>
                    <a href="#service-tv" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-desktop"></span>
                        </div>
                        
                        NSoJ TV
                    </a>
                </li>
                <li>
                    <a href="#service-blog" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-tools"></span>
                        </div>
                        
                        Blog
                    </a>
                </li>
            </ul>
            <!-- End Nav tabs -->

       
        </div>
    </section>
    <!-- End Services Section -->





    <section class="page-section" id="service-news" style="padding-bottom:0px;">
        <div class="container relative">
          
          <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
              NSoJ Post
              
              <a href="#" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>

          


          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
            
              
              <a href="<%=asset_path('pdf1.pdf') %>" target="_blank" ><img src=<%= asset_path('pdf_thumb1.png') %> alt="Work" /></a>




              <!-- <ul class="works-grid clearfix font-alt  hide-titles masonry" id="work-grid">
                
               
                <li class="work-item mix classroom" style="width:auto;">
                    <a href="<%=asset_path('file-page1.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="<%= asset_path('file-page1.jpg')%>" alt="Work" />
                        </div>                        
                    </a>
                </li>
            
                <li class="work-item mix classroom" style="display:none;">
                    <a href="<%= asset_path('NSoJ-issue1-p2-page-001.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img class="work-img" src="<%= asset_path('NSoJ-issue1-p2-page-001.jpg')%>" alt="Work" />
                        </div>
                        
                    </a>
                </li>
               
                <li class="work-item mix design classroom" style="display:none;">
                    <a href="<%= asset_path('NSoJ-issue1-p3-page-001.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img class="work-img" src="<%= asset_path('NSoJ-issue1-p3-page-001.jpg')%>" alt="Work" />
                        </div>                       
                    </a>
                </li>

                <li class="work-item mix design classroom" style="display:none;">
                    <a href="<%= asset_path('NSoJ-issue1-p4-page-001.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img class="work-img" src="<%= asset_path('NSoJ-issue1-p4-page-001.jpg')%>" alt="Work" />
                        </div>                       
                    </a>
                </li>

              </ul> -->
              
          </div>
          <!-- End Post Item -->


          <!-- Post Item -->
          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              
              
              <a href="<%=asset_path('pdf2.pdf') %>" target="_blank" ><img src=<%= asset_path('pdf_thumb2.png') %> alt="Work" /></a>
              
          </div>
          <!-- End Post Item -->

          <!-- Post Item -->
          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              
              
              <a href="<%=asset_path('pdf3.pdf') %>" target="_blank" ><img src=<%= asset_path('pdf_thumb3.png') %> alt="Work" /> </a>
              
          </div>

        </div>
    </section>

    <!-- <section class="page-section" id="service-events" style="padding-bottom:0px;">
        <div class="container relative">

          <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
              Events
              
              <a href="/nsoj_events" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>

          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
            
     
              <img height="120" src=<%= asset_path('full-width-images/2.jpg') %> alt="Work" />
              
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              

              <img height="120" src=<%= asset_path('full-width-images/classroom_pg3_10.JPG') %> alt="Work" />
              
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              
               
              <img height="120" src=<%= asset_path('full-width-images/IMG-20151026-WA0002.jpg') %> alt="Work" />                               
              
          </div>

        </div>
    </section> -->

    <section class="page-section" id="service-radio" style="padding-bottom:0px;">
        <div class="container relative">
          <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
              Podcast
              
              <a href="/nsoj_radio" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>
          
          <% @nsojradios.each do |nsojradio| %>
             <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
            
                <iframe width="100%" height="120" scrolling="no" frameborder="no" src="<%= nsojradio.link %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                
            </div>
          <%end %>
        </div>
    </section>

    <section class="page-section" id="service-tv" style="padding-bottom:0px;">
        <div class="container relative">
          
          <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
              NSoJ TV - Featured
              
              <a href="/nsoj_tv" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>
           <% @nsojtvs.each do |nsojtv| %>
            <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
            
                <iframe width="100%" src="<%=nsojtv.link%>?rel=0" frameborder="0" allowfullscreen></iframe>
                
            </div>
          <%end %>
        </div>
    </section>

    <section class="page-section" id="service-tv" style="padding-bottom:0px;">
        <div class="container relative">
          
          <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
              NSoJ TV - Daily Bulletin
              
              <a href="/nsoj_tv" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>
           <% @nsojtvs.each do |nsojtv| %>
            <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
            
                <iframe width="100%" src="<%=nsojtv.link%>?rel=0" frameborder="0" allowfullscreen></iframe>
                
            </div>
          <%end %>
        </div>
    </section>

    <section class="page-section" id="service-blog" style="padding-bottom:0px;">
        <div class="container relative">
          
          <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
              Blog
              
              <a href="https://nsojblog.wordpress.com" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>

          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              <div class="mb-30">
                <img height="120" src=<%= asset_path('sondhi-crowd.jpg') %> alt="Work" />
              </div>
              

              <p>Media needs regulation: Aditya Sondhi</p>
              
          </div>
          <!-- End Post Item -->
          

          <!-- Post Item -->
          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              <div class="mb-30">
                 <img height="120" src=<%= asset_path('matphil1.jpg') %> alt="Work" />
              </div>
             

              <p>Misconception persists on rights violations: Mathews</p>                                
              
          </div>

          <!-- Post Item -->
          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              <div class="mb-30">
                <img height="120" src=<%= asset_path('akkai1.jpg') %> alt="Work" />
              </div>

              <p>Do not judge by sexual identity, says celebrity transgender</p>
              
          </div>
          <!-- End Post Item -->

        </div>
    </section>






