<p id="notice"><%= notice %></p>

<h1>Listing Nsoj Radios</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nsoj_radios.each do |nsoj_radio| %>
      <tr>
        <td><%= nsoj_radio.title %></td>
        <td><%= nsoj_radio.link %></td>
        <td><%= link_to 'Show', nsoj_radio %></td>
        <td><%= link_to 'Edit', edit_nsoj_radio_path(nsoj_radio) %></td>
        <td><%= link_to 'Destroy', nsoj_radio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nsoj radio', new_nsoj_radio_path %>
