<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @nsoj_radio.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @nsoj_radio.link %>
</p>

<%= link_to 'Edit', edit_nsoj_radio_path(@nsoj_radio) %> |
<%= link_to 'Back', nsoj_radios_path %>
