<script>
    document.title = "Our Student Journalists - National school of Journalism"
</script>    
<!-- Page Loader -->        
<%= render 'landing_page/page_loader' %>

<section style="background: rgba(34,34,34, .9);">
  <div class="bg-gray-lighter align-center" style="padding: 20px;">
    <h1 class="hs-line-11 font-alt mb-0">Our Student Journalists</h1>
  </div>
  <div id="home">
    <div class="row <%= 'flex-wrap' unless browser.device.mobile? %>">
      <% @students.each_with_index do |student, i|%>
        <div class="student-box align-center col-md-3">
          <a href="<%=student_path(student)%>">
            <div class="student-box-container hover-zoom">  
              <img  src="<%= student.avatar.file? ? student.avatar.url(:thumb) : asset_path("faculty/anon.png")%>" class="img-circle">
              <h2 class="font-alt"><%= student.user.name %></h2>
              <div class="description align-left">
                  <%= (student.bio == nil ? "" : "#{student.bio[0..280]} #{student.bio.length > 280 ? "..." : ""}").gsub(/\n/,"</br>").html_safe %>
              </div>
            </div>
          </a>
        </div>
        <% if (i+1) % 4 == 0 %>
          </div><div class="row <%= 'flex-wrap' unless browser.device.mobile? %>">
        <% end %>
      <%end%>
    </div>
  </div>
</section>