
  <!-- Head Section -->
  <section class="small-section bg-dark" data-background="<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%>" style="margin-top: 75px;">
      <div class="relative container align-left">
          
          <div class="row">
              
              <div class="col-md-8">
                  <h1 class="hs-line-11 font-alt mb-20 mb-xs-0"><img src=<%= image_path("logo-footer.png") %> width="78" height="36" alt="" /> Student Publications</h1>
                  <div class="hs-line-4 font-alt">
                      <!-- We share our best ideas in our blog -->
                  </div>
              </div>
              
           </div>
          
      </div>
  </section>
  <!-- End Head Section -->


  <!-- Services Section -->
    <section class="page-section" id="news_services" style="padding-bottom:0px;">
        <div class="container relative">
            

            <!-- Nav tabs -->
            <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
                <li class="active">
                    <a href="#service-news" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-newspaper"></span>
                        </div>
                        
                        NSoJ Post
                    </a>
                </li>
                <!-- <li>
                    <a href="#service-events" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-puzzle"></span>
                        </div>
                        
                        Events
                    </a>
                </li> -->
                <li>
                    <a href="#service-radio" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-megaphone"></span>
                        </div>
                        
                        NSoJ Radio
                    </a>
                </li>
                <li>
                    <a href="#service-tv" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-desktop"></span>
                        </div>
                        
                        NSoJ TV
                    </a>
                </li>
               <!--  <li>
                    <a href="#service-blog" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-tools"></span>
                        </div>
                        
                        Blog
                    </a>
                </li> -->
            </ul>
            <!-- End Nav tabs -->

       
        </div>
    </section>
    <!-- End Services Section -->





    <section class="page-section" id="service-news" style="padding-bottom:0px;">
        <div class="container relative">
          
          <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
              NSoJ Post
              
              <a href="/nsoj_post" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>

          


          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
            
              
              <a href="<%=asset_path('pdf1.pdf') %>" target="_blank" ><img src=<%= asset_path('pdf_thumb1.png') %> alt="Work" /></a>
              
          </div>
          <!-- End Post Item -->


          <!-- Post Item -->
          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              
              
              <a href="<%=asset_path('pdf2.pdf') %>" target="_blank" ><img src=<%= asset_path('pdf_thumb2.png') %> alt="Work" /></a>
              
          </div>
          <!-- End Post Item -->

          <!-- Post Item -->
          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              
              
              <a href="<%=asset_path('pdf3.pdf') %>" target="_blank" ><img src=<%= asset_path('pdf_thumb3.png') %> alt="Work" /> </a>
              
          </div>

        </div>
    </section>

    <section class="page-section" id="service-radio" style="padding-bottom:0px;">
        <div class="container relative">
          <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
              nsoj radio
              
              <a href="/nsoj_radio" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>
          
          <% @nsojradios.each do |nsojradio| %>
             <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              
                <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%=nsojradio.link%>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                
            </div>
          <%end %>
        </div>
    </section>

    <section class="page-section" id="service-tv" style="padding-bottom:0px;">
        <div class="container relative">
          
          <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
              NSoJ TV - No Newsense
              
              <a href="/nsoj_tv" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>
           <% @nsojtvs_no_newsense.each do |nsojtv| %>
            <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
            
                 <iframe width="100%" src="https://www.youtube.com/embed/<%=get_youtube_id(nsojtv.link)%>?rel=0" frameborder="0" allowfullscreen></iframe>
                
            </div>
          <%end %>
        </div>
    </section>

    <section class="page-section" id="service-tv" style="padding-bottom:0px;">
        <div class="container relative">
          
          <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
              NSoJ TV - Daily Bulletin
              
              <a href="/nsoj_tv" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>
           <% @nsojtvs_bulleitin.each do |nsojtv| %>
            <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
            
                <iframe width="100%" src="https://www.youtube.com/embed/<%=get_youtube_id(nsojtv.link)%>?rel=0" frameborder="0" allowfullscreen></iframe>
                
            </div>
          <%end %>
        </div>
    
    </section class="page-section" id="service-tv" style="padding-bottom:0px;">

        <div class="container relative">
          
          <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
              NSoJ TV - Featured
              
              <a href="/nsoj_tv" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>
           <% @nsojtvs_featured.each do |nsojtv| %>
            <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
            
                 <iframe width="100%" src="https://www.youtube.com/embed/<%=get_youtube_id(nsojtv.link)%>?rel=0" frameborder="0" allowfullscreen></iframe>
                
            </div>
          <%end %>
        </div>
    </section>

  <!--   <section class="page-section" id="service-blog" style="padding-bottom:0px;">
        <div class="container relative">
          
          <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
              Blog
              
              <a href="https://nsojblog.wordpress.com" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>

          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              <div class="mb-30">
                <a href="https://nsojblog.wordpress.com/2015/11/30/media-needs-regulation-aditya-sondhi/" target="_blank">
                  <div style="height: 220px; background: url('<%=asset_path('sondhi-crowd.jpg')%>'); background-size: cover; background-repeat: no-repeat;"></div>
                </a>                
              </div>
              
              <a href="https://nsojblog.wordpress.com/2015/11/30/media-needs-regulation-aditya-sondhi/" target="_blank">
              <p>Media needs regulation: Aditya Sondhi</p></a>
              
          </div>
       
          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              <div class="mb-30">
              <a href="https://nsojblog.wordpress.com/2015/10/01/misconception-persists-on-rights-violations-mathews/" target="_blank">
                <div style="height: 220px; background: url('<%=asset_path('matphil1.jpg')%>'); background-size: cover; background-repeat: no-repeat;"></div>
              </a>
                 
              </div>
             

              <a href="https://nsojblog.wordpress.com/2015/10/01/misconception-persists-on-rights-violations-mathews/" target="_blank"><p>Misconception persists on rights violations: Mathews</p>                               </a> 
              
          </div>

      
          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              <div class="mb-30">
                <a href="https://nsojblog.wordpress.com/2015/11/11/do-not-judge-by-sexual-identity-says-celebrity-transgender/" target="_blank">
                  <div style="height: 220px; background: url('<%=asset_path('akkai1.jpg')%>'); background-size: cover; background-repeat: no-repeat;"></div>
                </a>                
              </div>

              <a href="https://nsojblog.wordpress.com/2015/11/11/do-not-judge-by-sexual-identity-says-celebrity-transgender/" target="_blank"><p>Do not judge by sexual identity, says celebrity transgender</p></a>
              
          </div>
    

        </div>
    </section> -->






