<style>.page{
    background-color: rgba(34,34,34, .9);
    color: wheat;
}</style>
  <!-- Head Section -->
  <section class="small-section bg-dark" data-background="<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%>" style="margin-top: 75px;">
      <div class="relative container align-left">
          
          <div class="row">
              
              <div class="col-md-8">
                  <h1 class="hs-line-11 font-alt mb-20 mb-xs-0"><img src=<%= image_path("logo-footer.png") %> width="78" height="36" alt="National School of Journalism, Bangalore" /> Student Publications</h1>
                  <div class="hs-line-4 font-alt">
                      <!-- We share our best ideas in our blog -->
                  </div>
              </div>
              
           </div>
          
      </div>
  </section>
  <!-- End Head Section -->

  <section class="page-section" id="news_services" style="padding:20px 0 0 0;">
    <div class="container relative">
      <br><br>
      <p>Our student journalists create and contribute to industry standard news productions as an intrinsic part of their programme.</p>
      <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">NSoJ Post and Blog</h1>
      <p>Students specialising in print and convergence journalism produce NSoJ Post, a high quality newsmagazine featuring original news articles based on news gathered by student journalists. NSoJ Post meets and excels national newspaper industry standards in terms of content, design and style. Our students are trained in the use of the most advanced software in the industry and gain a thorough understanding of page layout and design skills for newspapers and newsmagazines. NSoJ Post is edited by a student editor under the guidance of our Director, Mr. H. S. Balram, who was Resident Editor, The Times of India (Bangalore) for more than a decade. Digital versions of NSoJ Post are uploaded on our website and on our social media channels to showcase the journalistic talents of our student journalists. Online versions of news stories appear in a convergence format on the NSoJ blog. Print and convergence students also benefit from training received from award winning instructors in photojournalism in developing their news stories and features for NSoJ Post and for our blog.</p>
      
      <br>
      <!-- <section id="post_services" style="padding:0px;">
        <div class="container relative">
          <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
            <li>
              <a href="#service-news" >
                <div class="alt-tabs-icon">
                    <span class="icon-newspaper"></span>
                </div>
                NSoJ Post
              </a>
            </li>
          </ul>
        </div>
      </section>
      <br> -->

      <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">NSoJ Radio and Television</h1>
      <p>Students specialising in broadcast journalism produce a range of news based productions for television and radio. Student journalists produce podcasts and radio features under the guidance of nationally renowned radio guru, Ashish Sen. Students interview prominent and newsworthy personalities and have unmatched opportunities to work closely with and learn from the best in the business. Broadcast students also produce several television programmes, including a daily news bulletin, television features, such as auto reviews, and a high quality satirical news production, "No Newsense". No Newsense uses in-depth research and creativity to showcase some of the most pressing and relevant issues of our times in a satirical and yet impactful manner. Students are trained to write scripts and host or anchor these shows live in addition to gaining a thorough understanding of the technical aspects of production,  including cameras, teleprompters, sound, lights and video editing using the most advance software in the industry. Broadcast students also benefit from the training received from award winning instructors in documentary film making in developing their television productions.</p>

      <br><!-- 
      <section id="news_services" style="padding-bottom:0px;">
      <div class="container relative">
        <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
          <li>
            <a href="#service-radio" >
              <div class="alt-tabs-icon">
                <span class="icon-megaphone"></span>
              </div>
              NSoJ Radio
            </a>
          </li>
          <li>
            <a href="#service-tv" >
              <div class="alt-tabs-icon">
                <span class="icon-desktop"></span>
              </div>
              NSoJ TV
            </a>
          </li>
        </ul>
      </div>
    </section> -->

    </div>
  </section>

  <section class="page-section" id="service-radio" style="padding:25px 0 0 0;">
      <div class="container relative">
        <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
          NSoJ Post
            
            <a href="/nsoj_post" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
            
        </h2>
        
        <% @nsojposts.each do |nsojpost| %>
          <div class="col-sm-4 col-md-3 col-lg-3 mb-md-50 wow fadeIn" >
            <a href="<%=nsojpost.document.url%>" target="_blank" ><img src="<%=nsojpost.document.url(:thumb)%>" alt="Work" /> </a>
          </div>
        <%end %>
      </div>
  </section>

  <section class="page-section" id="service-radio" style="padding:25px 0 0 0;">
      <div class="container relative">
        <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
            nsoj radio
            
            <a href="/nsoj_radio" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
            
        </h2>
        
        <% @nsojradios.each do |nsojradio| %>
           <div class="col-sm-4 col-md-3 col-lg-3 mb-md-50 wow fadeIn" >
            
              <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%=nsojradio.link%>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
              
          </div>
        <%end %>
      </div>
  </section>
  
  <section class="page-section" id="service-tv" style="padding:25px 0 25px 0;">

      <div class="container relative">
        
        <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
            NSoJ TV - Featured
            
            <a href="/nsoj_tv" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
            
        </h2>
         <% @nsojtvs_featured.each do |nsojtv| %>
          <div class="col-sm-4 col-md-3 col-lg-3 mb-md-50 wow fadeIn">
            <a href="<%=nsojtv.link%>" target="blank">
                <div class="work-img">
                  <img src="<%='http://i1.ytimg.com/vi/video_id/mqdefault.jpg'.gsub('video_id',get_youtube_id(nsojtv.link))%>" alt="National School of Journalism" />
                </div>
                <div class="work-intro">
                    <h3 style="font-weight: 800; color: white; text-shadow: 1px 1px 1px grey;" class="work-title"><%=nsojtv.title%></h3>
                </div>
            </a>
          </div>
          <!-- <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" >
              <iframe width="100%" src="https://www.youtube.com/embed/<%=get_youtube_id(nsojtv.link)%>?rel=0" frameborder="0" allowfullscreen></iframe>
              
          </div> -->
        <%end %>
      </div>
  </section>
  
  <section class="page-section" id="service-tv" style="padding:25px 0 0 0;">
      <div class="container relative">
        
        <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
            NSoJ TV - No Newsense
            
            <a href="/nsoj_tv" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
            
        </h2>
          <% @nsojtvs_no_newsense.each do |nsojtv| %>
            <div class="col-sm-4 col-md-3 col-lg-3 mb-md-50 wow fadeIn">
            <a href="<%=nsojtv.link%>" target="blank">
                <div class="work-img">
                  <img src="<%='http://i1.ytimg.com/vi/video_id/mqdefault.jpg'.gsub('video_id',get_youtube_id(nsojtv.link))%>" alt="National School of Journalism" />
                </div>
                <div class="work-intro">
                    <h3 style="font-weight: 800; color: white; text-shadow: 1px 1px 1px grey;" class="work-title"><%=nsojtv.title%></h3>
                </div>
            </a>
          </div>

        <%end %>
      </div>
  </section>

  <section class="page-section" id="service-tv" style="padding:25px 0 0 0;">
      <div class="container relative">
        
        <h2 class="section-title font-alt align-left mb-30 mb-sm-40">
            NSoJ TV - Daily Bulletin
            
            <a href="/nsoj_tv" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
            
        </h2>
         <% @nsojtvs_bulleitin.each do |nsojtv| %>
          <div class="col-sm-4 col-md-3 col-lg-3 mb-md-50 wow fadeIn">
            <a href="<%=nsojtv.link%>" target="blank">
                <div class="work-img">
                  <img src="<%='http://i1.ytimg.com/vi/video_id/mqdefault.jpg'.gsub('video_id',get_youtube_id(nsojtv.link))%>" alt="National School of Journalism" />
                </div>
                <div class="work-intro">
                    <h3 style="font-weight: 800; color: white; text-shadow: 1px 1px 1px grey;" class="work-title"><%=nsojtv.title%></h3>
                </div>
            </a>
          </div>
          
        <%end %>
      </div>
  </section>
  