<div class="col-md-4 video-sidebar" style="padding-left: 15px;">
    <% @videos.each_with_index do |video, i|
        status = @selected_video.id == video.id ? 'active' : ''
    %>
        <a href="videos?<%=@forward_link%>v=<%=get_youtube_id(video.link)%>" class="pb-10 <%=status%>">
            <div class="row clearfix sidebar-item <%=status%>" style="padding: 5px;">
                <img class="sidebar-image" src="<%='http://i1.ytimg.com/vi/video_id/mqdefault.jpg'.gsub('video_id',get_youtube_id(video.link))%>" alt="" />
                <p class="plain-font video-title"><%=video.title%></p>
            </div>
        </a>
    <%end%>
</div>

<script>
    jQuery.fn.scrollTo = function(elem) { 
        $(this).scrollTop($(this).scrollTop() - $(this).offset().top + $(elem).offset().top); 
        return this; 
    };
    $(".video-sidebar").scrollTo(".video-sidebar>.active");
</script>