<%=render 'stories/nav'%>
<%=render 'videos/nav'%>
<div class="home-full dark" style="padding-top: 130px;" >
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>

    <div class="row mt-20 home-container"> 
        <div class="row mt-30 mb-50 ">
            <div class="col-md-8" style="padding-right: 8px;">
                <iframe width="830" height="455" src="https://www.youtube.com/embed/<%=get_youtube_id(@selected_video.link)%>?rel=0&controls=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p class="story-font video-title main-video-title"><%=@selected_video.title%></p>
            </div>


            <%= render 'videos/sidebar' %>
        </div>

        <% @video_categories.each_with_index do |category, i|%>
            <%
                @videos = NsojTv.where(nsoj_tv_category_id: category.id).order("created_at DESC").limit(6)
                @category = category
            %>
            <%= render 'stories/video_section'%>
        <%end%>
    </div>
</div>
<script>
    jQuery.fn.scrollTo = function(elem) { 
        $(this).scrollTop($(this).scrollTop() - $(this).offset().top + $(elem).offset().top); 
        return this; 
    };
    $(".video-sidebar").scrollTo(".video-sidebar>.active");
</script>