<div style="margin-top: 5px;">
    <a href="students" style="text-decoration: none; color: black;"><h3 class="font-alt mb-70 mb-sm-40" style="text-align: center; margin-bottom: 5px;"><img src=<%= image_url("logos/footer.png") %> style="width: 50px;" alt="National School of Journalism, Bangalore" /><span style="text-transform: capitalize;margin-left: 15px;">Faculty</span></h3></a>

    <div class="clearfix row multi-columns-row" style="margin: 0;">
        <div class="row" style="padding: 0;">
            <a  style="color: #333;">
                <div class="col-sm-4 col-md-4 col-lg-4" style="padding: 0 10px 0 0;">
                    <div class="align-center profile_box">
                        <img src="<%= asset_path("faculty/h_s_balram.jpg")%>" alt="National School of Journalism, Bangalore" style="width:90px; margin-bottom: 5px;" class="img-circle">
                        <p class="font-alt">H S Balram</p>
                        <h3 class="alt-features-title font-alt" style="text-transform: none; margin: 0;">Director <br>
                        <span class="post-prev-info font-alt">Opinion and editorial writing, Politics & Society</span></h3>
                    </div>
                </div>
            </a>
            <a style="color: #333;">
                <div class="col-sm-4 col-md-4 col-lg-4" style="padding: 0 10px 0 0;">
                    <div class="align-center profile_box">
                        <img src="<%=asset_path("faculty/thangaraj_new.jpg")%>" alt="National School of Journalism, Bangalore" style="width:90px; margin-bottom: 5px;" class="img-circle">
                        <p class="font-alt">Dr. Thomas Thangaraj</p>
                        <h3 class="alt-features-title font-alt" style="text-transform: none; margin: 0;">Dean of Academic Affairs <br>
                        <span class="post-prev-info font-alt">Ethics, Politics & Society</span></h3>
                    </div>
                </div>
            </a>
            <a style="color: #333;">
                <div class="col-sm-4 col-md-4 col-lg-4" style="padding: 0 10px 0 0;">
                    <div class="align-center profile_box">
                        <img src="<%= asset_path("faculty/saswati-nsoj1.jpg")%>" alt="National School of Journalism, Bangalore" style="width:90px; margin-bottom: 5px;" class="img-circle">
                        <p class="font-alt">Saswati Chakravarty</p>
                        <h3 class="alt-features-title font-alt" style="text-transform: none; margin: 0;">
                        <span class="post-prev-info font-alt">Core editing skills, Business &amp; Finance</span></h3>
                    </div>
                </div>
            </a>      
        </div>   
        <div class="row" style="padding: 0;">
            <a style="color: #333;">
                <div class="col-sm-4 col-md-4 col-lg-4" style="padding: 0 10px 0 0;">
                    <div class="align-center profile_box">
                        <img src="<%= asset_path("faculty/simon.jpg")%>" alt="National School of Journalism, Bangalore" style="width:90px; margin-bottom: 5px;" class="img-circle">
                        <p class="font-alt">SIMON VARGHESE</p>
                        <h3 class="alt-features-title font-alt" style="text-transform: none; margin: 0;">Principal Instructor <br>
                        <span class="post-prev-info font-alt">CONVERGENCE MEDIA</span></h3>
                    </div>
                </div>
            </a>
            <a style="color: #333;">
                <div class="col-sm-4 col-md-4 col-lg-4" style="padding: 0 10px 0 0;">
                    <div class="align-center profile_box">
                        <img  src="<%= asset_path("faculty/dipti.png")%>" alt="National School of Journalism, Bangalore" style="width:90px; margin-bottom: 5px;" class="img-circle">
                        <p class="font-alt">DIPTI KUMAR</p>
                        <h3 class="alt-features-title font-alt" style="text-transform: none; margin: 0;">
                        <span class="post-prev-info font-alt">BROADCAST; CONVERGENCE; ART AND CULTURE</span></h3>
                    </div>
                </div>
            </a>
            <a style="color: #333;">
                <div class="col-sm-4 col-md-4 col-lg-4" style="padding: 0 10px 0 0;">
                    <div class="align-center profile_box">
                        <img  src="<%= asset_path("faculty/papiya.jpg")%>" alt="National School of Journalism, Bangalore" style="width:90px; margin-bottom: 5px;" class="img-circle">
                        <p class="font-alt">Papiya Bhattacharya</p>
                        <h3 class="alt-features-title font-alt" style="text-transform: none; margin: 0;">
                        <span class="post-prev-info font-alt">Science Journalism; English Language Skills</span></h3>
                    </div>
                </div>
            </a>
        </div>                  
    <a href="program#faculty" class="section-more right" style="margin: 5px 10px; color: black; font-weight: 800; letter-spacing: 0.1em; font-size: 14px;">Show more <i class="fa fa-angle-right"></i></a>
    </div>
</div>