<div style="padding-right: 0px;">
    <%n = @num_stories >= 16 ? 16 : @num_stories%>
    <%n.times do |i|%>
    <%popular_story = @popular_stories[i]%>
    <ul class="clearlist widget-posts">
        <li class="clearfix">
            <a href=<%=story_path(popular_story)%>><img height="60" width="60" src="<%=popular_story.blog_image.file? ? popular_story.blog_image.url(:small) : ''%>" alt="" class="widget-posts-img" /></a>
            <div class="widget-posts-descr">
                <a href=<%=story_path(popular_story)%> title=""><%=popular_story.title%></a>
                <div style="font-size: 10px; color: #777; font-weight: 500;">
                    <%  @byline = ""
                        popular_story.story_bylines.each_with_index do |student, i|
                            @byline += i > 0 ? " and " : ""
                            @byline += student.user.name
                        end
                        @byline += (@byline=="" ? "" : " | ") + "#{local_time(popular_story.created_at, '%d %b %Y')}"
                    %><%=@byline.html_safe%>
                </div>
            </div>
        </li>
    </ul>
    <%end%>
</div>