<div class="about-images col-md-3" style="padding: 0px;">
    <img src="<%= asset_path("about_left/bg0.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
    <img src="<%= asset_path("about_left/bg1.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
    <img src="<%= asset_path("about_left/bg2.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
    <img src="<%= asset_path("about_left/bg3.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
    <img src="<%= asset_path("about_left/bg4.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
    <!-- <img src="<%= asset_path("about_left/bg5.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
    <img src="<%= asset_path("about_left/bg6.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
    <img src="<%= asset_path("about_left/bg7.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
    <img src="<%= asset_path("about_left/bg8.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;"> -->
</div>