 <section class="small-section bg-dark-alfa-30 parallax-2" data-background=<%= asset_path("full-width-images/NSOJ_Journalism_School1.gif")%> style='margin-top: 75px; background-image:url(<%= asset_path("full-width-images/NSOJ_Journalism_School1.gif")%>)'>
        <div class="relative container align-left">
            
            <div class="row">
                
                <div class="col-md-8">
                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Slant 2016</h1>
                    <div class="hs-line-4 font-alt">
                    </div>
                </div>
                
              
            </div>
            <div class="row">
                <div class="mb-10 mt-30">
                        <a href="/slants/new" class="btn btn-mod btn-w btn-circle btn-large" style="border: 2px solid #e41919; color:red;">Apply now</a>
                    </div>
            </div>
            
        </div>
    </section>

    <section class="page-section pb-0">
        <div class="relative">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <img src=<%=asset_path("slant/file-page1.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/file-page2.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/file-page3.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/file-page4.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/Slant_2016_Documentary_Artwork_File.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/Slant_2016_Photo_Journal_Artwork_File.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/slant_2016_Essay.jpg")%> alt="National School of Journalism, Bangalore" />

                </div>
            </div>
        </div>
    </section>

    <div class="mb-50 mt-30 align-center">
        <a href="/slants/new" class="btn btn-mod btn-round btn-large">Apply now</a>
    </div>