
   <!--  <section class="home-section bg-dark-alfa-70 parallax-2 " data-background=<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%> style='margin-top: 90px; background-image:url(<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%>)' id="home">
        <div class="js-height-parent container ">
            <div class="home-content">
                <div class="home-text">
                    <h2 class="hs-line-14 font-alt mt-50 mb-30 mb-xs-10 mt-xs-10">
                        Slant 2017
                    </h2>
                    <div class="mb-50 mb-xs-10">
                        <a href="/slant/apply" class="btn btn-mod btn-w btn-circle btn-large" style="border: 2px solid #e41919; color:red;">Apply now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
 -->
    
    <section class="page-section pb-0">
        <div class="relative">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img style="width: 100%;" src=<%=asset_path("slant/header.png")%> alt="National School of Journalism, Bangalore" />
                    <br><br>
                    <!-- <a style="margin: 0 auto; margin-bottom: 30px; background-color: #c30011; font-size: 1.2em;" href="/slant/apply" class="btn btn-mod btn-round btn-large">Apply now</a>
                    <img style="width: 100%;" src=<%=asset_path("slant/1.png")%> alt="National School of Journalism, Bangalore" />
                    <img style="width: 100%;" src=<%=asset_path("slant/2.png")%> alt="National School of Journalism, Bangalore" />
                    <img style="width: 100%;" src=<%=asset_path("slant/3.png")%> alt="National School of Journalism, Bangalore" />
                    <img style="width: 100%;" src=<%=asset_path("slant/4.png")%> alt="National School of Journalism, Bangalore" />

                    <img style="width: 100%;" src=<%=asset_path("slant/poster1.png")%> alt="National School of Journalism, Bangalore" />
                    <img style="width: 100%;" src=<%=asset_path("slant/poster2.png")%> alt="National School of Journalism, Bangalore" />
                    <img style="width: 100%;" src=<%=asset_path("slant/poster3.png")%> alt="National School of Journalism, Bangalore" />
                    <img style="width: 100%;" src=<%=asset_path("slant/poster4.png")%> alt="National School of Journalism, Bangalore" /> -->


<!--

Online Events:

Essay:

1st – Abhimanyu Hazarika, Symbiosis College for Liberal Arts, Pune

2nd – Mahima Mohan, CMS Jain University

3rd – Keshav Khanna, St Joseph’s Arts & Science

Documentary:

1st – Mount Carmel College

2nd – CMS Jain University

Photo Journal:

1st – Kristu Jayanti College

2nd – CMS Jain University

3rd – CMS Jain University
-->

                    <h1 class="hs-line-14 font-alt mt-10" style="font-size:25px; font-weight: 800;">SLANT 2017 WINNERS</h1> <br>
                                        
                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:20px;">
                        Fact Check
                    </h2>
                    <ul>
                        <li>1st - Mount Carmel College</li>
                        <li>2nd - Kristu Jayanti College</li>
                        <li>3rd – St Joseph’s Boys High School</li>
                    </ul>
                    
                    <h2 class="hs-line-14 font-alt mt-10" style="font-size:20px;">
                        Red Button winners 
                    </h2>
                    <ul>
                        <li>1st - Christ University</li>
                        <li>2nd - Mount Carmel College</li>
                        <li>3rd - Bishop Cotton Boys High School</li>
                    </ul>

                    <h2 class="hs-line-14 font-alt  mt-40" style="font-size:20px;">
                        Tweet This! 
                    </h2>
                    <ul>
                        <li>1st - Presidency College</li>
                        <li>2nd - Bishop Cotton Girls High School</li>
                        <li>3rd - Kristu Jayanti College</li>
                        <li>3rd - Bishop Cotton Boys High School</li>
                    </ul>

                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:20px;">
                       Breaking news 
                    </h2>
                    <ul>
                        <li>1st - Bishop Cotton Boys High School; Bishop Cotton Girls High School</li>
                        <li>2nd - Presidency College</li>
                        <li>3rd - St Joseph’s Boys High School</li>
                    </ul>


                    <h2 class="hs-line-14 font-alt  mt-40" style="font-size:20px;">
                        Online events 
                    </h2>
                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:14px;">
                       Essay  
                    </h2>
                    <ul>
                        <li>1st – Abhimanyu Hazarika, Symbiosis College for Liberal Arts, Pune</li>
                        <li>2nd - Mahima Mohan, CMS Jain University</li>
                        <li>3rd - Keshav Khanna, St Joseph’s Arts & Science</li>
                    </ul>
                    
                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:14px;">
                       Documentary  
                    </h2>
                    <ul class="mb-30">
                        <li>1st – Mount Carmel College</li>
                        <li>2nd - CMS Jain University</li>
                    </ul>

                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:14px;">
                        Photo Journal 
                    </h2>
                    <ul>
                        <li>1st - Kristu Jayanti College</li>
                        <li>2nd - CMS Jain University</li>
                        <li>3rd - CMS Jain University</li>
                    </ul>

                </div>
            </div>
        </div>
    </section>

    <!-- <div class="mb-50 mt-30 align-center">
        <a style="margin: 0 auto; margin-bottom: 30px; background-color: #c30011; font-size: 1.2em;" href="/slant/apply" class="btn btn-mod btn-round btn-large">Apply now</a>
    </div> -->