 <section class="small-section bg-dark-alfa-30 parallax-2" data-background=<%= asset_path("full-width-images/NSOJ_Journalism_School1.gif")%> style='margin-top: 75px; background-image:url(<%= asset_path("full-width-images/NSOJ_Journalism_School1.gif")%>)'>
        <div class="relative container align-left">
            
            <div class="row">
                
                <div class="col-md-8">
                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Slant 2016 results</h1>
                    <div class="hs-line-4 font-alt">
                    </div>
                </div>
                
              
            </div>
            <div class="row">
                <!-- <div class="mb-10 mt-30">
                        <a href="/slants/new" class="btn btn-mod btn-w btn-circle btn-large" style="border: 2px solid #e41919; color:red;">Apply now</a>
                    </div> -->
            </div>
            
        </div>
    </section>

    <section class="page-section pb-0">
        <div class="relative">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <!-- <img src=<%=asset_path("slant/file-page1.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/file-page2.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/file-page3.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/file-page4.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/Slant_2016_Documentary_Artwork_File.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/Slant_2016_Photo_Journal_Artwork_File.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/slant_2016_Essay.jpg")%> alt="National School of Journalism, Bangalore" /> -->


                    
                    <h2 class="hs-line-14 font-alt mt-10" style="font-size:20px;">
                        Red Button winners 
                    </h2>
                    <ul>
                        <li>1st-  Sripoorna Purohit, Shinjan Mitra, Samrat Nath, Harshit Pai, Roshan Sriram, Krushnaraj Hudad
            (Christ University)</li>
                        <li>2nd-  Edwin Thomas, William Mathews, Pallavi Jha, Manjuri Ram, Aksheeya Suresh, Kesavan
            (Christ University)</li>
                        <li>3rd-  Dipanwita Chatterjee, Harsh Singh, Deepti Nickam, Ramya Heera, Karan Ashwath, Abhishek Majumdar 
             (Presidency College)</li>
                    </ul>






                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:20px;">
                       Breaking news 
                    </h2>
                    <ul>
                        <li>1st- Vishal Sengupta, Shinjan Mitra, Samrat Nath, Harshit Pai.  (Christ University)</li>
                        <li>2nd- Pallavi Jha, Edwin Thomas, William Mathews, Aksheeya Suresh (Christ University)</li>
                        <li>2nd- Abhishek Majumdar, Karan Ashwath, Deepti Nickam, Ramya Heera (Presidency College)</li>
                        <li>2nd- Dipanwita Chatterjee, Harsh Singh, Vaishnav, Priya Rangan (Presidency College)</li>
                        <li>3rd- Amal Devasia, Gowri V Nair, George Thomas, Praise Nimmy Iype (Kristu Jayanti)</li>
                    </ul>




                    
                    <h2 class="hs-line-14 font-alt  mt-40" style="font-size:20px;">
                        Tweet This! 
                    </h2>
                   <!--  <h2 class="hs-line-14 font-alt  mt-30" style="font-size:14px;">
                        Team number
                    </h2> -->
                    <ul>
                        <li>1st- Edwin Thomas, Pallavi Jha & Manjari Ramasubramanian – Christ University</li>
                        <li>2nd- Harsh Singh, Priya Rangan & Abhishek Majumdar – Presidency College </li>
                        <li>3rd- Aksheeya Suresh, Nakul Sridhar & William Mathews – Christ University</li>
                    </ul>
                    <p>Best Tweet – William Mathews</p>








                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:20px;">
                        Fact Check (Quiz): Winners 
                    </h2>
                    <ul>
                        <li>1st- Christ University (Kesavan Nampoothiry, Aksheeya Suresh, Manjari Ramasubramanian)</li>
                        <li>2nd - Presidency (Harsh Singh, Abhishek Majumdar, Vaishnav)</li>
                        <li>3rd – Kristu Jayanti (George Thomas, Amal Devasia, Praise Nimmy Iype)</li>
                    </ul>

                     <h2 class="hs-line-14 font-alt  mt-30" style="font-size:20px;">
                       Special Awards
                    </h2>
                    <ul>
                        <li>Best Student Journalist: Edwin Thomas (Christ University)</li>
                        <li>Overall Champions of Slant 2016: Christ University, Bangalore</li>
                       
                    </ul>







                    <h2 class="hs-line-14 font-alt  mt-40" style="font-size:20px;">
                        Online competitions 
                    </h2>
                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:14px;">
                       Essay  
                    </h2>
                    <ul>
                        <li>1st – Muktha Kantaraj Tavane (Bishop Cotton Womens Christian College)</li>
                        <li>2nd - Kesavan Nampoothiry (Christ University)</li>
                        <li>3rd - Edwin Thomas (Christ University)</li>
                    </ul>
                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:14px;">
                        Photo Journal 
                    </h2>
                    <ul>
                        <li>1st - Prajwala MV (Oxford College)</li>
                        
                    </ul>
                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:14px;">
                       Documentary  
                    </h2>
                    <ul class="mb-30">
                        <li>1st – Qazi Shibli (Oxford College)</li>
                        
                    </ul>

                </div>
            </div>
        </div>
    </section>

    <!-- <div class="mb-50 mt-30 align-center">
        <a href="/slants/new" class="btn btn-mod btn-round btn-large">Apply now</a>
    </div> -->