 <section class="small-section bg-dark-alfa-30 parallax-2" data-background=<%= asset_path("full-width-images/NSOJ_Journalism_School1.gif")%> style='margin-top: 75px; background-image:url(<%= asset_path("full-width-images/NSOJ_Journalism_School1.gif")%>)'>
        <div class="relative container align-left">
            
            <div class="row">
                
                <div class="col-md-8">
                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Slant 2016 results</h1>
                    <div class="hs-line-4 font-alt">
                    </div>
                </div>
                
              
            </div>
            <div class="row">
                <!-- <div class="mb-10 mt-30">
                        <a href="/slants/new" class="btn btn-mod btn-w btn-circle btn-large" style="border: 2px solid #e41919; color:red;">Apply now</a>
                    </div> -->
            </div>
            
        </div>
    </section>

    <section class="page-section pb-0">
        <div class="relative">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <!-- <img src=<%=asset_path("slant/file-page1.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/file-page2.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/file-page3.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/file-page4.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/Slant_2016_Documentary_Artwork_File.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/Slant_2016_Photo_Journal_Artwork_File.png")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("slant/slant_2016_Essay.jpg")%> alt="National School of Journalism, Bangalore" /> -->


                    
                    <h2 class="hs-line-14 font-alt mt-10" style="font-size:20px;">
                        Red Button winners 
                    </h2>
                    <ul>
                        <li>1st- Sreepoorna, Sinjan Mitra, Samrat nath, Harshit pai,Roshan, Krishna raj (Christ University)</li>
                        <li>2nd- Edwin Thomas,William Mathews,Pallavi jha,Manjuri ram,Aksheeya suresh,Kesavan N (Christ univ)</li>
                        <li>3rd- Dipanwita,Harsh,Deepthi,Ramya,Karan,Abhishek   (Presidency college)</li>
                    </ul>

                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:20px;">
                       Breaking news 
                    </h2>
                    <ul>
                        <li>1st- Vishal Sengupta,Shirjan Mitra,Samrat Nath,Harshit Pai.  (Christ university)</li>
                        <li>2nd- Pallavi Jha, Edwin Thomas, William Mathews, Askheeya Suresh ( Christ university)</li>
                        <li>2nd- Abhishek,Karan,Deepti,Ramya (presidency)</li>
                        <li>2nd- Dipanwita,Harsh,Vaishnav,Priya ( Presidency )</li>
                        <li>3rd- Amal Devasia,Gowri V Nair,George Thomas,Praise Nimmy Iype (kristu Jayanthi)</li>
                    </ul>

                    <h2 class="hs-line-14 font-alt  mt-40" style="font-size:20px;">
                        Tweet This! 
                    </h2>
                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:14px;">
                        Team number
                    </h2>
                    <ul>
                        <li>1st- tm2 Christ university  - Edwin & team</li>
                        <li>2nd- tm3 (Presidency) – harsh,Priya </li>
                        <li>3rd- tm4 (Christ) -  Aksheeya</li>
                    </ul>
                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:14px;">
                        Fact check finals 
                    </h2>
                    <ul>
                        <li>1st- Chritst University ( Kesavan Namphoothiry, Aksheeya Suresh, Manjari)</li>
                        <li>2nd- Presidency (Harsh, Abhishek,Vaishnav)</li>
                        <li>3rd- Kristu Jayanthi ( George Thomas, Amal Devasia, Praise Nimmy )</li>
                    </ul>

                    <h2 class="hs-line-14 font-alt  mt-40" style="font-size:20px;">
                        Online competitions 
                    </h2>
                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:14px;">
                       Essay  
                    </h2>
                    <ul>
                        <li>1st- muktha (Bishop Cotton womens Christian college )</li>
                        <li>2nd- kesavan ( Christ university)</li>
                        <li>3rd- Edwin (Christ university)</li>
                    </ul>
                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:14px;">
                        Photo Journal 
                    </h2>
                    <ul>
                        <li>1st-  Prajwal V (oxford College)</li>
                        
                    </ul>
                    <h2 class="hs-line-14 font-alt  mt-30" style="font-size:14px;">
                       Documentary  
                    </h2>
                    <ul>
                        <li>1st- Qazi (oxford College)</li>
                        
                    </ul>

                </div>
            </div>
        </div>
    </section>

    <!-- <div class="mb-50 mt-30 align-center">
        <a href="/slants/new" class="btn btn-mod btn-round btn-large">Apply now</a>
    </div> -->