<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @slant.string %>
</p>

<%= link_to 'Edit', edit_slant_path(@slant) %> |
<%= link_to 'Back', slants_path %>
