<%= render 'stories/nav'%>
<style>
    @import url('https://fonts.googleapis.com/css?family=Merriweather');
    .nsoj-feature-title{
        font-family: "merriweather";
        font-size: 60px;
        text-align: right;
        line-height: 54px;
    }
    .nsoj-feature-byline{
        text-align: right;
        font-size: 24px;
    }
    .nsoj-feature-article{

    }
    .title-divider{
        width: 300px;
        border-top: 4px solid #fff;
        float: right;
    }
    h3.chapter, h4{
        font-family: "merriweather";
        line-height: 40px;
        font-size: 35px;
        margin-bottom: 30px;
    }
    h4{
        font-size: 28px;
    }
    .article-text{
        line-height: 28px;
        width: 75%;
    }
    .first-char{
        font-size: 75px; 
        float: left; 
        line-height: 70px; 
        margin-right: 15px;
    }
    .article-textbox{
        border: 1px solid #000;
        padding: 20px;
        margin: 30px 0;
        font-size: 24px;
        line-height: 30px;
    }
    .article-videobox{
        width: 50%;
        float: right;
        margin: 10px 0 20px 20px;
    }
    .article-imagebox{
        width: 50%;
        float: right;
        margin: 0 0 20px 20px;
    }

    blockquote{
        display:block;
        background: #fff;
        padding: 15px 20px 15px 45px;
        margin: 0 0 20px;
        position: relative;

        /*Font*/
        font-family: Georgia, serif;
        font-size: 16px;
        line-height: 1.2;
        color: #666;
        text-align: justify;

        /*Borders - (Optional)*/
        border-left: 15px solid #c76c0c;
        border-right: 2px solid #c76c0c;

        /*Box Shadow - (Optional)*/
        -moz-box-shadow: 2px 2px 15px #ccc;
        -webkit-box-shadow: 2px 2px 15px #ccc;
        box-shadow: 2px 2px 15px #ccc;
    }

    blockquote::before{
        content: "\201C"; /*Unicode for Left Double Quote*/

        /*Font*/
        font-family: Georgia, serif;
        font-size: 60px;
        font-weight: bold;
        color: #999;

        /*Positioning*/
        position: absolute;
        left: 10px;
        top:5px;
    }

    blockquote::after{
        /*Reset to make sure*/
        content: "";
    }

    blockquote a{
        text-decoration: none;
        background: #eee;
        cursor: pointer;
        padding: 0 3px;
        color: #c76c0c;
    }

    blockquote a:hover{
        color: #666;
    }

    blockquote em{
        font-style: italic;
    }
</style>

<!-- Home Section -->
<section class="home-section bg-dark-alfa-30 fixed-height-small mt-50 mb-30" style="background-image: url(<%=image_path('features/ftloa/main.png')%>);">
    <div class="js-height-parent container">

        <!-- Hero Content -->
        <div class="home-content">
            <div class="home-text">
                <h2 class="hs-line-14 hs-line-11 mb-10 mb-xs-30 nsoj-feature-title">
                    For the Love of Art
                </h2>
                <div class="clearfix"><hr class="title-divider"></div>
                <h1 class="hs-line-8 no-transp font-alt mt-10 mb-50 mb-xs-30 nsoj-feature-byline">
                    By Ipsita Kabiraj and Neil Gershom
                </h1>
                
                <div class="local-scroll right">
                    <a href="https://www.youtube.com/watch?v=rKGIwp6oEKQ" class="btn btn-mod btn-border-w btn-medium btn-round lightbox mfp-iframe"><i class="fa fa-play"></i></a>
                </div>
                
            </div>
        </div>
        <!-- End Hero Content -->
        
    </div>
</section>



<section class="clearfix border_b" style="padding-bottom: 10px;">
    <div class="row">

        <!-- Start Article -->
        <div class="col-md-7 mt-10 col-md-offset-2">
            <h3 class="chapter">
                Chapter 1: Panjim, Goa
            </h3>
            <p class="article-text story-font story-content">
                <span class="first-char">I</span>t’s an idyllic location for a holiday. But for a group of people it’s become their work place. On this particular warm morning in Panjim,Goa, frequent gusts of ocean breeze break up the sweat lined brows of students who are busy working inside the Archbishop’s Palace. One section of the historic location has been converted into a classroom where bottles of solvents, varnish, cotton swabs and brushes are in plenty.   
            </p>

            <div class="article-imagebox">
                <img src="<%=asset_path('features/ftloa/higgins.png')%>" alt="">
                <p class="right story-font story-byline plain-font">Milena Braganca wiping varnish from the painting</p>
            </div>

            <p class="article-text story-font story-content">
                A woman seated on a chair in the porch is hunched over and working on a piece of canvas. An early copy of ‘La Madonna della Seggiola’ by Raphael lies before her. Passed down five decades within the family, the painting is faded and portions of paint have peeled away from the canvas, stripping the painting off its rich hues and detail. Milena Braganca, the owner of this piece, carefully scrubs the varnish off the painting with a small cotton bud dipped in a mild solvent.  She is a retired banker. When she read about Restorers without Frontiers in the local newspaper, she was quick to apply.
                “I have a few paintings at home that are not in the best of conditions, so this was a golden opportunity for me to save my art and learn the process as well,” she said, while momentarily pausing to see the portion of the painting she was cleaning.  
                <br><br>
                She is soon joined by Caterina Goodhart, a vision in white. Together the two women sit and chat as they methodically take turns to use cotton swabs dipped in solvent, removing varnish from the painting. Goodhart is the founder of Restorers without Frontiers, an initiative undertaken by The London School of Picture and Frame Conservation, which she started in 2015.  Goodhart trains eight Indian students in the art of restoration and conservation, along with visiting students from London and Europe.  
                <br><br>
                Like Braganca students come from different walks of life. All with the same vision—to conserve heritage work.  Caetano Filipe Colaco is a retired marine engineer and local. His job is carpentry - working on frames that are badly damaged.
                <br><br>
                “I like to work with my hands,” Caetano says, looking down at his ink smeared fingers, remains of the day spent in releasing damaged canvases from their wooden frames.
            </p>

            <div class="article-imagebox">
                <img src="<%=asset_path('features/ftloa/japan_paper.png')%>" alt="">
                <p class="right story-font story-byline plain-font">Caetano Colaco peels Japan paper off a painting</p>
            </div>

            <p class="article-text story-font story-content">
                “It’s amazing to see the changes that take place in the process of conservation and restoration of a piece of art, and you get tremendous satisfaction because you played a role in it,” he remarks. 
                Colaco has been hammering away at a frame, firmly tugging out rusty nails. After pulling each of the hundred odd nails he’s managed to release a layer of paper from the painting.  
                <br><br>
                The Japan paper he’s peeled off is an essential part of the restoration process that helps prevent the painting from cracking or peeling off entirely.  Its unique fibres make it strong enough to reduce further damage. The paper which looks like baking sheets disappears after glue made from rabbit skin is used to stick the paper to the canvas.   
            </p>

            <p class="article-textbox plain-font">
                Japan paper’s microscopic fibres allows for it to be stronger and acts like a support for a damaged painting, allowing conservators to work on it.
            </p>

            <h4>Chipping away</h4>

            <p class="article-text story-font story-content">
                Joseph Travesso is a businessman from Mumbai. He’s been flying between the two cities, swapping his formal wear for more comfortable attire while he works on a statue of Mary. He has been nicknamed ‘the solvent man’ among his class mates. Travesso’s chemistry and knowledge of the subject has greatly helped the team. Goodhart walks over to check how far he’s gotten with filling up holes in the statue.
            </p>

            <div class="article-videobox">
                <hr style="border-top: 2px solid #ddd; margin-bottom: 30px;">
                <video muted autoplay loop>
                    <source src="<%=asset_path('features/ftloa/wooden.webm')%>" type="video/webm">
                </video>
                <p class="right story-font story-byline plain-font">The restored statute of Joseph holding infant Jesus</p>
            </div>

            <p class="article-text story-font story-content">
                The team has been working on three statues. Joseph holding the infant Jesus is a single piece of wood that was victim of termites. The damage was so extensive and debilitating that a portion of the statue’s foot was eaten up. One of the students, Every Luis has skilfully recreated that portion with clay, restoring the complete look.
                <br><br>
                Two statues of Mary are in two different spots within the class. The smaller of the two is on a bench just outside the door. A portion of her face and hair has been restored, revealing a golden head of hair on the left and a dull sandy brown to the right that’s waiting for its reveal. The golden colouring comes from using real gold.  A pair of students from London is gently etching away a terrible paint job that completely covered the gold stars on the bodice of the painting.  
                <br><br>
                "In churches all over the world, if a painting or a statue is falling apart, they just repaint it, most of the time with local painters and not artists, which completely changes the original painter or sculptor's intentions and style. Some of these paintings are more than 400 years old and it's very important to try and preserve it for another 400 years or more for future generations to come," says Christopher Goodhart, Caterina's husband, who’s busy behind the scenes.

            </p>

            <blockquote class="article-quotebox mt-30 mb-30">
                Conservation is keeping the painting or statue as is and looking after it and maybe moving it, if needed, in order to preserve it. Whereas restoration happens when you can’t live with the piece of art as it is and you insist on re-doing it- repainting or replacing certain elements of the artefact.” - <span class="story-byline plain-font">Caterina Goodhart</span>
            </blockquote>

            <p class="article-text story-font story-content">
                Art conservation and restoration is a labour-intensive process. First, one needs to distinguish between the two. According to Goodhart, conservation is when you look after the artwork and nurse it slowly back to health. Restoration is when you think you can’t live with the piece of art as it is and you insist on redoing it- repainting or replacing certain elements of the artefact.
                <br><br>
                The market value of the artefact increases or decreases post-restoration. If one uncovers a masterpiece behind an oxidized varnish then the value goes up enormously, and if a painting is repainted completely following a restoration, then the value goes down. 
                Of the 33 Archbishops that team will be working on, Rhea D’Souza is busy preparing a frame for a recently conserved piece.  
                <br><br>
                She is labouring over the gilding work -adding gold leafing to a portion of the frame that’s been prepared with glue made from animal skins. An architect by profession D’Souza is patiently working—holding her breathe she swiftly moves a blush brush toward  her cheeks to absorb facial oil that will help the gold leaf adhere. She very carefully lays 22 karat gold leafing to the prepared border. 
                “The gold leaf is delicate and you can breathe it in,” she says after stepping away from the frame. Her passion for the job is evident. 
                <br><br>
                “There’s a dearth of restorers…” 
                <br><br>
                She remarks that more awareness about the rich history of local art is crucial to help these pieces last the test of time.  She’s still holding  her breath between each piece of gold that’s getting laid. The square leaf has been cut on a velvet cushion.  After meticulously laying and brushing away excess gold dust, she stands straight to see the ‘bling’ border of the once dull frame. 
                The students are working on methods that the Italian born Goodhart herself used in work and teaching. She believes that if an artefact can be saved and preserved in its original form, then restoration isn’t considered.  At the Palace, the paintings have suffered from overdone coats of varnish which have stained the rich colours into dark coffee browns. Some have been peeled off from original backings and re-stuck using commercial glue-further damaging the delicate work.
                Other paintings suffer tears or holes. In some cases the canvases have been deformed. These make good cases for restoration.
                <br><br>
                "We came to Goa three years ago and felt the need to do something about conserving art in India. Hence we started 'Restorers Without Frontiers' to help train local artists, and introduce conservation to the locals. Conservation is very important. It is not repainting or changing what the original artist intended to do. It is preserving what he/she did, for the future generations to see," says Goodhart.

            </p>


            <h3 class="chapter mt-50">
                Restoration of rare art in India <br>
                Chapter 2: Rachol, Goa
            </h3>

            <p class="article-text story-font story-content">
                An hour south from Panjim is the second location for work. Goodhart and few of her students have undertaken the task of restoring a historic piece of art at a seminary.  The drive through the winding back roads, paddy fields and narrow pathways leads up to the Patriarchal Seminary of Rashol. Amidst the lush greenery stands a majestic white building, more than four centuries old. It glimmers bright in the sunlight.
            </p>

            <p class="article-textbox">
                The edifice that presently houses the seminary was constructed by the Jesuits with donations from the boy-king of Portugal, Dom Sebastião, in an area occupied originally by an Islamic fortress. The Seminary also possesses a 19th-century pipe organ that is played during liturgical services. In 1886, the Archbishop of Goa and Daman was bestowed the honorific title of Patriarch of the East Indies. Since then the seminary is known as the "Patriarchal Seminary of Rachol"
            </p>

            <p class="article-text story-font story-content">
                It’s a short flight of steps into the Rector’s Hall, where Goodhart and her team members are working on a rare painting that is lying on its sides.
                <br><br>
                Surrounding this formidable painting which stands at over 10 feet (3.14m X 2.56m) are smaller ones that hang on the wall. The paintings of the Archbishops that look over the work are themselves in various stages of deterioration. 
                <br><br>
                The painting is a detailed depiction of King Sebastian's victory over the infidels, It’s been laid to its side in a position where the King and his horse be appear to be looking up to at the ceiling.
                Caterina wears a look of concern as she says the brown wooded square roofs of the Rector's Hall could collapse at any point.  
                <br><br>
                The team know their roles. Each picks a spot for work, settling onto the floor or carefully standing up against the painting. Some cleaned the varnish which has turned into a dark shade of brown over the centuries, and a few others applied gesso to seal or fill the crackquelure (cracks or gaps left by the damage on the painting at an earlier stage). 
                <br><br>
                "Heritage is a huge asset. That is what we are trying to teach the locals. The key is education, spreading the word. People need to know that these works of Art are precious," says Joanna Brogan Higgins, a colleague of Goodhart who’s working with the team.
                <br><br>
                This particular painting is important because of a few things: rarity being the most important factor. This could be the third or fourth version of the painting of King Sebastian, and the only one left in India, according to Higgins, who’s been documenting the work in minute detail. Adding to the exclusivity is the fact that other than this painting, there exists no other pictorial representation of King Sebastian on a white horse., 
                <br><br>
                "Paintings can have two values, historic and artistic. Here, the painting has immense historical value, making it quite priceless." says Goodhart.   
                <br><br>
                The seminary is a museum of artwork. From paintings on wood, murals, architecture and wood carvings, Goodhart feels right at home while giving a tour of the place. She’s spent time observing the years of damage on some pieces, noting that the seminary has invaluable art in every corner. 
                <br><br>
                On a "a critique's tour of the place", she talks about the materials used to paint, the type of workmanship on the life sized candelabras that are placed along the corridors while continuing to take brisk steps to cover as much within the large property.  
                <br><br>
                "It is not very easy to maintain such a large place, especially when it is this old,” she says. 
                Inside a smaller chapel in one section of the seminary, Goodhart explains the cost incurred in preserving art. The peace within these small walls is louder than the distant sounds of carpentry. She explains that conservation and restoration is not a cheap affair. 
                <br><br>
                The Rector at the Seminary Rev. Aleixo Menezes  shares Goodhart’s sentiment on costs.
                <br><br>
                "In Goa, we have a lot of heritage in architecture and art. If one looks around Goa, they would find that people are realizing that heritage houses, sometimes centuries old, are very hard to maintain. The main problem here is conservation. The Archaeological Survey of India takes care of dead monuments, but they cannot restore all churches, as regular church services would be affected by their work. In most churches, the money that comes in is used to provide food, clothing and social help, not giving enough space for art to be prioritised."  
                <br><br>
                On being asked if they had any plans to commission the restoration or conservation of more paintings, he was quick to respond, "There is goodwill to do it, but funding is the problem. If we can find sponsors, we would love to do much more than we are, for the preservation and restoration of our art and heritage"    
                <br><br>
                Though conservation of art is a practice which is centuries old, the importance of it came into light only after the floods in Florence. The 1960’s flood in Florence, Italy marked the dawn of a new specialization in the artist community.

            </p>

            <p class="article-textbox">
                On November 4,1966 Italy’s Arno river bursts its banks in the city of Florence, the birthplace of the Italian Renaissance, killing more than 30 people. This damaged or destroyed scores of priceless works of art and rare books. The flood drenched the city centre in an estimated 18 billion gallons of water and mud, and at some sites, the water was more than 20 feet deep. In the aftermath of the disaster, thousands of volunteers from around the world who were dubbed ‘angeli del fango’ or ‘mud angels’ flocked to Italy to help rescue Florence’s ancient art and literary treasures and assist with the effort to clean up the city. Credit- history.com
            </p>

            <p class="article-text story-font story-content">
                Goodhart said, “The disaster in Florence made everyone realise how important it was to preserve art and heritage.”
                <br><br>
                Further implying her efforts towards the cause of preservation, “I do not touch [the paintings] to make it look more aesthetic, but only to preserve what was originally there.” 
                <br><br>
                In Goa, Goodhart is “a God sent,” according to Fr. Menezes. For Fr. Menezes, an avid art lover, the restoration work being done on King Sebastian is a sign of hope.  
                <br><br>
                "We met Caterina at the Archbishops house last year, and invited her to come and visit the Seminary. She saw the painting of Dom Sebastian, fell in love with it and said she would do what she could to restore and conserve it. Together with an expert conservationist from Italy, and volunteers from Goa, she has worked on it this year, producing excellent results," says Fr. Menezes.   
                <br><br>
                There’s a lot of work to be done. The  original canvas suffered a nasty tear starting from the top, meandering all the way  toward the centre, which Goodhart believes could have happened from a gash.
                <br><br>
                The tear was haphazardly stitched in what Higgins calls ‘Frankstein-ish stitching.’ The team has worked in removing the seams of the stitches and fixing it using Japan Paper. This time, without actually running a needle or thread through the heavily damaged canvas, the seams were healed by the gentle, more discreet fix from the paper. But the damage is still far from fixed.
                <br><br>
                The prior stitching caused the bottom part of the painting to sag, much like fabric. 
                <br><br>
                "If the sagging was left as it was, the whole painting would have collapsed in a year or two due to the weight", says Higgins as she shows images of the well-documented repair that’s taken place.
                <br><br>
                Back inside the Rector’s Hall, the team is labouring over the horse’s face and a portion of the bottom right corner of the painting. This portion is damaged from the sagging and Goodhart’s daughter along with Travesso is patiently filling in gesso. 
                <br><br>
                The tear in the painting was too massive and had done too much damage already to conserve it. Japan paper was applied on the painting to hold it in place before being transferred to the new canvas on the new stretcher. The restoration process, though painstakingly slow, was showing results.    
                <br><br>
                Once the gaps are filled, and all the varnish removed from the painting, a fresh coat of paint will be put into sections where needed. All the work done by Goodhart and her team are ‘reversible’, meaning that it can be removed and re-done without damaging the original work. 
                <br><br>
                The man-hours taken to fix the basic issues spanned over five weeks. The costs incurred are also equally high. 
                Is the effort worth the time and money? Paintings are bought, paying a huge price, which shows that there is an appreciation for art, but the problem lies in the upkeep of these artefacts.
                <br><br>
                Venkat and Madhavi Singh are conservators at the Dharohar Art Conservation in Lucknow. Conservation of art, to them, is a three-fold process. “Conservation consists of three processes, namely examination, preservation and restoration,” says Madhavi Singh.
                <br><br>
                Dharohar’s process of treatment of the artefact is quite similar. “We treat art as per the international ethic of conservation; the process is always reversible in nature. So if the client is not happy with the post production, we can bring it back to original without damage. The treatment to be performed is governed by many factors, primarily the medium of the art work and the kind of damage endured by it,” adds Venkat Singh. 
                Over the last five decades, India has seen a rise in the appreciation of art restoration and conservation. 
                <br><br>
                “There are enough conservators in India and with time, the awareness and interest in this field is increasing. However, much more effort is needed to make people sensitive towards artefacts and help them understand the importance of their rarity,” says Madhavi. 
                <br><br>
                Agencies like Dharohar provide short term training to sponsored candidates in the art of conservation. They also actively participate in the drafting of the National Conservation Policy by the Government of India. Today conservation is not limited to monuments but also paintings and sculptures. Goodhart’s group of students are immersed in the study of art and its layers of history. They soak in every correction, assignment and challenge and work as a collective to make a difference. 
                <br><br>
                Akshaya Elizabeth Zachariah, a student of art who’s developing her repertoire of  mural work around the city of Bengaluru points out that, because of newer and better materials used in paintings, modern art has a better life expectancy than ancient art, which makes it more important to preserve old art, that cannot be replaced or created again. It is a treasure which needs to be taken more seriously.   
                <br><br>
                Does paying for art guarantee the longevity of it? Is there a risk that Will ancient art could be lost amidst all the modern art that’s more visible in urban cities?  
                <br><br>
                There are 27 cultural world heritage sites in India recognized by the United Nations Educational, Scientific and Cultural Organisation (UNESCO), and it is safe to assume that there would be a large number of artefacts, murals, paintings etc. at each of these sites.
                <br><br>
                With so many historical paintings, statues and artefacts in India, it is probably time we asked ourselves if the people of our sub-continent are paying enough attention to the artefacts and playing an active role in preserving our heritage.
                <br><br>
                “We came to India with three aims. To restore heritage artefacts in countries where there is a need, to work with and train local conservators and to leave a legacy in place so that the work may continue. To leave behind people who will continue to conserve. Yes, there are very few courses to teach restoration, but anyone can become a restorer,” said Goodhart, encouraging people to take up the conservation of art more seriously.

            </p>


        </div>
        <!-- End Article -->

    </div>
</section>
