<!-- <p id="notice"><%= notice %></p>

<h1>Listing Stories</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.student %></td>
        <td><%= story.title %></td>
        <td><%= story.content %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %> -->

<style>
    a{cursor: pointer !important;}
</style>     
<div style='padding-top:75px;'></div>            
<!-- Section -->
<section class="small-section pb-0 pt-10">
    
    <div class="container align-center">
        
        <!-- <div class="mb-10">
            <img src=<%=asset_path('logo-footer.png')%> width="78" height="36" alt="" />
        </div>
 -->        
        <h1 class="magazine-logo-text black font-alt">NSoJ Stories</h1>
        
    </div>
    
</section>
<!-- End Section -->

<!-- Menu Wrapper -->
<div class="container">
    
    <!-- Divider -->
    <hr class="mt-0 mb-0 "/>
    <!-- End Divider -->

    <!-- Navigation panel -->
    <nav class=" mn-centered not-top mb-30" style="z-index: 2;">
        <div class="relative clearfix">
            
            <div class="mobile-nav">
                <i class="fa fa-bars"></i>
            </div>
            
            <!-- Main Menu -->
            <div class="inner-nav desktop-nav">
                <ul class="clearlist">
                    <li style="cursor: pointer;">
                        <a href=<%=stories_path%> style="color: #b50000;">HOME</a>
                    </li>
                    <%@story_categories.each do |story_category|%>
                        <li style="cursor: pointer;">
                        <%=puts "DATA::: #{@category_id} #{story_category.id} #{@categoryMode}"%>
                            <%active_style = "" %>
                            <%if @category_id == story_category.id %>
                            <%  active_style = "font-weight:bold;"%>
                            <%end%>
                            <a href="/stories?category_id=<%=story_category.id%>" style="color: #b50000; <%="#{active_style}"%>"><%=story_category.title%></a>
                        </li>
                    <%end%>
                    <li></li>
                </ul>
            </div>
            <!-- End Main Menu -->
        </div>
    </nav>
    <!-- End Navigation panel -->
</div>
<!-- End Menu Wrapper -->


<!-- Section -->
<section class="small-section" style="padding: 0;">
    <div class="container relative" style="width: 90%">
        <%if @categoryMode == false%>
            <div class="row mb-50">
                
                <div class="col-sm-9" style="padding: 0;">
                    <div class="row" style="margin: 0;">
                    <%n = @main_stories.length >=12 ? 12 : @main_stories.length%>
                    <%n.times do |i|%>
                        <%story = @main_stories[i]%>
                        <!-- Post Slider -->
                        <div class="col-md-3" style="padding: 0 10px 0 0;">
                        <div class="blog-media mb-10 mb-xs-20">
                            <ul class="clearlist blog-posts-carousel-alt">
                                <li>
                                    
                                    <a href=<%=story_path(story)%>><img src="<%=story.blog_image.file? ? story.blog_image.url : ''%>" /></a>
                                    
                                    <!-- Slide Info -->
                                    <div class="blog-slide-info" style="padding: 10px;">
                                        
                                        <h2 class="blog-slide-title font-alt mt-0" style="font-size: 13px;"><a href=<%=story_path(story)%>><%=story.title%></a></h2>
                                        
                                        <div class="blog-slide-data">
                                            <a href="#"><i class="fa fa-clock-o" style="font-size: 11px;"></i> <%=local_time(story.created_at, "%d %b")%></a>
                                            <!-- <span class="separator">&nbsp;</span> -->
                                            <a href=<%=student_path(story.student)%> style="font-size: 11px;"><i class="fa fa-user"></i> <%=story.student.user.name%></a>
                                            <!-- <span class="separator">&nbsp;</span>
                                            <a href="/stories?category_id=<%=story.story_category.id%>" style="font-size: 11px;"><%=story.story_category.title%></a> -->
                                        </div>
                                    </div>
                                    <!-- End Slide Info -->
                                    
                                </li>
                            </ul>
                        </div>
                        </div>
                        <!-- End Post Slider -->
                    
                    <%end%>    
                    </div>
                    
                </div>
                
                <div class="col-sm-3 sidebar mt-0" style="padding-left: 30px;">
                    
                    <!-- Widget -->
                    <div class="widget">
                        
                        <div class="widget-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tpl-tabs animate">
                                <li class="active">
                                    <a href="#one" data-toggle="tab">Popular</a>
                                </li>
                                <li>
                                    <a href="#two" data-toggle="tab">Latest</a>
                                </li>
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content tpl-tabs-cont section-text">
                                <div class="tab-pane fade in active" id="one">
                                    <%n = @popular_stories.length >= 5 ? 5 : @popular_stories.length%>
                                    <%n.times do |i|%>
                                    <%story = @popular_stories[i]%>
                                    <ul class="clearlist widget-posts">
                                
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=<%=story_path(story)%>><img height="70" width="70" src="<%=story.blog_image.url(:thumb)%>" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href=<%=story_path(story)%> title=""><%=story.title%></a>
                                                <div>
                                                    Posted by <%=story.student.user.name%> <%=local_time(story.created_at,'%d %b')%>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->

                                    </ul>
                                    <%end%>
                                </div>
                                <div class="tab-pane fade" id="two">
                                    <%n = @latest_stories.length >= 5 ? 5 : @latest_stories.length%>
                                    <%n.times do |i|%>
                                    <%story = @latest_stories[i]%>
                                    <ul class="clearlist widget-posts">
                                
                                        <!-- Preview item -->
                                        <li class="clearfix">
                                            <a href=<%=story_path(story)%>><img height="70" width="70" src="<%=story.blog_image.url(:thumb)%>" alt="" class="widget-posts-img" /></a>
                                            <div class="widget-posts-descr">
                                                <a href=<%=story_path(story)%> title=""><%=story.title%></a>
                                                <div>
                                                    Posted by <%=story.student.user.name%> <%=local_time(story.created_at,'%d %b')%>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Preview item -->

                                    </ul>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- End Widget -->
                    
                </div>
                
            </div>
            
            <%@story_categories.each do |story_category|%>
                <%@grouped_stories = Story.all.where(story_category_id: story_category.id).order(created_at: :desc, last_accessed_at: :desc)%>
                <%if @grouped_stories.length > 0%>
                <div class="row">
                    <h3 class="blog-item-title font-alt mb-10"><a href="/stories?category_id=<%=story_category.id%>"><%=story_category.title%></a></h3>
                        
                    <hr class="mt-0 mb-30" />
                    
                    <!-- Blog Posts -->
                    <div class="row multi-columns-row">
                        <%n = @grouped_stories.length >= 4 ? 4 : @grouped_stories.length%>
                        <%n.times do |i|%>
                        <%grouped_story = @grouped_stories[i]%>
                        <!-- Post Item -->
                        <div class="col-md-3 col-lg-3 mb-30">
                            
                            <div class="post-prev-img">
                                <a href=<%=story_path(grouped_story)%>><img src="<%=grouped_story.blog_image.url%>" alt="" /></a>
                            </div>
                            
                            <div class="post-prev-title font-alt">
                                <a href=<%=story_path(grouped_story)%>><%=grouped_story.title%></a>
                            </div>
                            
                            <div class="post-prev-info font-alt">
                                <a href=<%=student_path(grouped_story.student)%>><%=grouped_story.student.user.name%></a> | <%=local_time(grouped_story.created_at, '%d %b')%>
                            </div>
                            
                            <div class="post-prev-text">
                                <%=grouped_story.content[0..150]%> ... 
                            </div>
                            
                            <div class="post-prev-more">
                                <a href=<%=story_path(grouped_story)%> class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                            
                        </div>
                        <!-- End Post Item -->
                        <%end%>
                        
                    </div>
                    <!-- End Blog Posts -->
                    
                    <!-- Post Small Previews -->
                    <div class="row mb-70">
                        
                        <div class="row">
                        <%n = @grouped_stories.length >= 6 ? 6 : @grouped_stories.length%>
                        <%n.times do |i|%>
                        <%grouped_story = @grouped_stories[i]%>
                            <div class="col-md-3">
                            <div class="blog-post-prev-small clearfix">
                                <a href=<%=story_path(grouped_story)%>><img width="70" height="70" src="<%=grouped_story.blog_image.url(:thumb)%>" alt="" class="widget-posts-img" /></a>
                                <div class="widget-posts-descr">
                                    <a href=<%=story_path(grouped_story)%> title=""><%=grouped_story.title%></a>
                                    Posted by <%=grouped_story.student.user.name%></a> | <%=local_time(grouped_story.created_at, '%d %b')%>
                                </div>
                            </div>
                            </div>
                        <%if i > 0 && i % 3 == 0%>
                        </div>
                        <div class="row">
                        <%end%>
                        <%end%>
                        </div>
                        
                    </div>
                    <!-- End Post Small Previews -->
                    <div class="col-md-4"></div>
                </div>
                <%end%>
            <%end%>

        <%else%>
        <!-- Category mode starts here-->
            <div class="row multi-columns-row">
                <%@grouped_stories = Story.all.where(story_category_id: @category_id).order(created_at: :desc, last_accessed_at: :desc)%>
                <%@grouped_stories.each_with_index do |story, i|%>
                <!-- Post Item -->
                <div class="col-md-3 col-lg-3 mb-30">
                    
                    <div class="post-prev-img">
                        <a href=<%=story_path(story)%>><img src="<%=story.blog_image.url%>" alt="" /></a>
                    </div>
                    
                    <div class="post-prev-title font-alt">
                        <a href=<%=story_path(story)%>><%=story.title%></a>
                    </div>
                    
                    <div class="post-prev-info font-alt">
                        <a href=<%=student_path(story.student)%>><%=story.student.user.name%></a> | <%=local_time(story.created_at, '%d %b')%>
                    </div>
                    
                    <div class="post-prev-text">
                        <%=story.content[0..150]%> ... 
                    </div>
                    
                    <div class="post-prev-more">
                        <a href=<%=story_path(story)%> class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
                <!-- End Post Item -->
                <%end%>
                
            </div>
        <%end%>
    </div>
</section>
<!-- End Section -->            

<!-- Latest News -->
<section class="page-section" style="padding-top: 0;">
    <div class="container relative">
        
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Latest News
        </h2>
        
        <div class="row multi-columns-row">
            <%n = @latest_stories.length >= 4 ? 4 : @latest_stories.length%>
            <%n.times do |i|%>
            <%story = @latest_stories[i]%>
            <!-- Post Item -->
            <div class="col-md-3 col-lg-3 mb-30">
                
                <div class="post-prev-img">
                    <a href=<%=story_path(story)%>><img src="<%=story.blog_image.url%>" alt="" /></a>
                </div>
                
                <div class="post-prev-title font-alt">
                    <a href=<%=story_path(story)%>><%=story.title%></a>
                </div>
                
                <div class="post-prev-info font-alt">
                    <a href=<%=student_path(story.student)%>><%=story.student.user.name%></a> | <%=local_time(story.created_at, '%d %b')%>
                </div>
                
                <div class="post-prev-text">
                    <%=story.content[0..150]%> ... 
                </div>
                
                <div class="post-prev-more">
                    <a href=<%=story_path(story)%> class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                </div>
                
            </div>
            <!-- End Post Item -->
            <%end%>
            
        </div>
        
    </div>
</section>
<!-- End Lates News -->            
            
