<div id="home">
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>

    <!-- Render Nav Partial here -->
    <%= render 'stories/nav'%>
    <%= render 'stories/nsojpost_header'%>

    
    <!-- if not categoryMode -->
    <%if @categoryMode == false%>

        <!-- Main Section -->
        <%= render 'stories/main_preview'%>    
        <!-- End Main Section -->

        <!-- Video Section -->
        <%= render 'stories/video_section'%>
        
        <!-- Start Categries in Main NSoJPost -->
        <%= render 'stories/main_categories'%>
        <!-- End Categries in Main NSoJPost -->
    
    <!-- start categoryMode -->
    <%else%>
        
        <%=render 'stories/category'%>
    <!-- end categoryMode condition -->
    <%end%>

</div>