<div id="home">
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>

    <!-- Render Nav Partial here -->
    <%= render 'stories/nav'%>
    <%=render 'stories/nsojpost_header'%>

    
    <!-- if not categoryMode -->
    <%if @categoryMode == false%>

    <!-- Main Section -->
    <section class="clearfix border_b" style="padding-bottom: 10px;">
        <div class="row" style="margin: 0 0 10px 0;">
            <%n = @main_stories.length >= 5 ? 5 : @main_stories.length%>
            
            <!-- Top story -->
            <%story = @main_stories[0]%>
            <div class="col-md-6" style="padding: 0 10px 0 0;">
                <a href=<%=story_path(story)%>><img src="<%=story.blog_image.file? ? story.blog_image.url : ''%>" /></a>
                <p class="story-font story-head"><a href=<%=story_path(story)%>><%=story.title%></a></p>
                <p class="story-font story-content"><%=story.content[0..200]%></p>
                <p class="story-font story-byline plain-font"><%=local_time(story.created_at, "%d %b %Y")%>
                <%  @byline = " - By "
                    story.story_bylines.each_with_index do |student, i|
                        @byline += i > 0 ? " and " : ""
                        @byline += "<a href='#{student_path(student)}'>#{student.user.name}</a>"
                    end
                %><%=@byline.html_safe%></p>
            </div>
            
            <!-- 2nd story | middle pane -->
            <%story = @main_stories[1]%>
            <div class="col-md-3 border_l border_r" style="padding: 0 10px; margin-left: -1px;">
                <a href=<%=story_path(story)%>><img src="<%=story.blog_image.file? ? story.blog_image.url : ''%>" /></a>
                <p class="story-font story-head"><a href=<%=story_path(story)%>><%=story.title%></a></p>
                <p class="story-font story-content"><%=story.content[0..200]%></p>
                <p class="story-font story-byline plain-font"><%=local_time(story.created_at, "%d %b %Y")%>
                <%  @byline = " - By "
                    story.story_bylines.each_with_index do |student, i|
                        @byline += i > 0 ? " and " : ""
                        @byline += "<a href='#{student_path(student)}'>#{student.user.name}</a>"
                    end
                %><%=@byline.html_safe%></p>
            </div>
            
            <!-- 3rd and 4th story -->
            <div class="col-md-3 border_l" style="padding: 0 10px; margin-left: -1px;">
                <div>
                    <%story = @main_stories[2]%>
                    <p class="story-font story-head"><a href=<%=story_path(story)%>><%=story.title%></a></p>
                    <p class="story-font story-content">
                        <a href=<%=story_path(story)%>><img class="story-thumb" src="<%=story.blog_image.file? ? story.blog_image.url : ''%>" /></a>
                        <%=story.content[0..200]%>
                    </p>
                    <p class="story-font story-byline plain-font"><%=local_time(story.created_at, "%d %b %Y")%>
                    <%  @byline = " - By "
                        story.story_bylines.each_with_index do |student, i|
                            @byline += i > 0 ? " and " : ""
                            @byline += "<a href='#{student_path(student)}'>#{student.user.name}</a>"
                        end
                    %><%=@byline.html_safe%></p>
                </div>

                <div>
                    <%story = @main_stories[3]%>
                    <p class="story-font story-head"><a href=<%=story_path(story)%>><%=story.title%></a></p>
                    <p class="story-font story-content">
                        <a href=<%=story_path(story)%>><img class="story-thumb" src="<%=story.blog_image.file? ? story.blog_image.url : ''%>" /></a>
                        <%=story.content[0..200]%>
                    </p>
                    <p class="story-font story-byline plain-font"><%=local_time(story.created_at, "%d %b %Y")%>
                    <%  @byline = " - By "
                        story.story_bylines.each_with_index do |student, i|
                            @byline += i > 0 ? " and " : ""
                            @byline += "<a href='#{student_path(student)}'>#{student.user.name}</a>"
                        end
                    %><%=@byline.html_safe%></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Main Section -->

    <!-- Video Section -->
    <section class="clearfix border_b" style="padding-bottom: 10px;">
        <a href="videos">
            <h2 class="story-font plain-font section-head">Videos</h2>
        </a>
        <%=@videos.length > 6 ? "<span class='plain-font section-more'><a href='/videos'>More ></a></span>".html_safe : ''%>
        <div class="video-carousel">
        <% @videos.each do |video| %>
            <div style="padding: 0 5px;">
                <div class="post-prev-img mb-0">
                    <a href="" class="mfp-image">
                        <img src="<%='http://i1.ytimg.com/vi/video_id/mqdefault.jpg'.gsub('video_id',get_youtube_id(video.link))%>" alt="" />
                    </a>
                    <p class="story-font video-title"><%=video.title%></p>
                    <%  @byline = "By "
                        video.video_authors.each_with_index do |video_author, i|
                            @byline += i > 0 ? " and " : ""
                            @byline += "<a href='#{student_path(video_author.student)}'>#{video_author.student.user.name}</a>"
                        end
                    %>
                    <p class="story-byline"><%=@byline.html_safe%></p>
                </div>                            
            </div>
        <%end%>
        </div>

    </section>
    
    <!-- Start Categries in Main NSoJPost -->
    <%@story_categories.each do |story_category|%>
        <%@grouped_stories = 
            Story.where(:id => 
                Category.select(:story_id).where(story_category_id: story_category.id)
            ).order(created_at: :desc, last_accessed_at: :desc)
        %>
        <%if @grouped_stories.length > 0 %>
            <section class="clearfix border_b" style="padding-bottom: 10px;">
                <a href="/nsojpost?c=<%=story_category.title.downcase%>">
                    <h2 class="story-font plain-font section-head"><%=story_category.title%></h2>
                </a>
                <%=@grouped_stories.length > 5 ? "<span class=\"plain-font section-more\"><a href=\"/nsojpost?c=#{story_category.title.downcase}\">More ></a></span>".html_safe : ''%>
                <div style="margin: 0 -20px;">
                <div class="story-carousel" style="padding: 0 20px;">
                <%n = @grouped_stories.length >= 5 ? 5 : @grouped_stories.length%>
                <%n.times do |i|%>
                    <%grouped_story = @grouped_stories[i]%>
                    <div style="padding: 0 20px;" class="<%= i==0 ? '' : 'border_l' %>">
                        <div class="post-prev-img mb-0">
                            <a href=<%=story_path(grouped_story)%> class="mfp-image">
                                <img src="<%=grouped_story.blog_image.file? ? grouped_story.blog_image.url(:thumb) : ''%>" alt="" />
                            </a>
                            <p class="story-font video-title"><a href=<%=story_path(grouped_story)%>><%=grouped_story.title%></a></p>
                            <p class="story-font story-content"><%=grouped_story.content[0..200]%></p>
                            <%  @byline = "#{local_time(grouped_story.created_at, '%d %b %Y')} - By "
                                grouped_story.story_bylines.each_with_index do |student, j|
                                    @byline += j > 0 ? " and " : ""
                                    @byline += "<a href='#{student_path(student)}'>#{student.user.name}</a>"
                                end
                            %>
                            <p class="story-byline"><%=@byline.html_safe%></p>
                        </div>                            
                    </div>
                <%end%>
                </div>
                </div>
            </section>
        <%end%>
    <%end%>
    <!-- End Categries in Main NSoJPost -->
    
    <!-- start categoryMode -->
    <%else%>
        <div class="row mb-20 mt-20" style="padding: 0;">
        <%@stories.each_with_index do |story, i|%>

        <div class="col-md-3 <%= ((i+1) % 4) == 0 ? '' : 'border_r' %>" style="padding: 0 10px; margin-left: -1px;">
            <a href=<%=story_path(story)%>><img src="<%=story.blog_image.file? ? story.blog_image.url : ''%>" /></a>
            <p class="story-font story-head"><a href=<%=story_path(story)%>><%=story.title%></a></p>
            <p class="story-font story-content"><%=story.content[0..200]%></p>
            <p class="story-font story-byline plain-font"><%=local_time(story.created_at, "%d %b %Y")%>
            <%  @byline = " - By "
                story.story_bylines.each_with_index do |student, i|
                    @byline += i > 0 ? " and " : ""
                    @byline += "<a href='#{student_path(student)}'>#{student.user.name}</a>"
                end
            %><%=@byline.html_safe%></p>
        </div>

            <%if ((i+1) % 4) == 0%>
                </div><hr><div class="row mb-20 mt-20" style="padding: 0;">
            <%end%>
        <%end%>
        </div>
    <!-- end categoryMode condition -->
    <%end%>

</div>