
<style>
	.page-section{
		padding: 30px 0;
	}
	#top > section > div > div > div.col-sm-8 > div.blog-item.mb-80.mb-xs-40 > div > h1{
		margin: 0; 
		letter-spacing: 0.1em; 
		text-transform: inherit;
	}
    embed{
        min-width: 640px !important;
        min-height: 320px !important;
    }
</style>

<!-- Menu Wrapper -->
<div>

    <!-- Navigation panel -->
    <nav class=" mn-centered pb-20 pt-20 mb-30" style="z-index: 2; background-color: #ccc;">
        <div class="relative clearfix">
            
            <div class="nav-logo-wrap local-scroll" style="margin-left: 20px;">
                <%= link_to(root_path, class: "logo", method: :get, style: "height: 35px;" ) do %>
                    <img src=<%= image_path("logo-white.png") %> style="height: 35px;" alt="NSOJ Post" />
                <%end%>
            </div>
            <div class="mobile-nav">
                <i class="fa fa-bars"></i>
            </div>
            
            <!-- Main Menu -->
            <div class="inner-nav desktop-nav">
                <ul class="clearlist" style="padding: 8px 0;">
                    <li style="cursor: pointer;">
                        <%if @category_id.blank?%>
                            <a href=<%=stories_path%> style="font-weight: bold; color: #ffffff;">HOME</a>
                        <%else%>
                            <a href=<%=stories_path%> style="font-weight: bold; color: #b50000;">HOME</a>
                        <%end%>
                    </li>
                    <%@story_categories.each do |story_category|%>    
                        <li>
                            <%if @category_id.to_i == story_category.id.to_i %>
                                <a href="/stories?category_id=<%=story_category.id%>" style="color: #ffffff; font-weight: bold;"><%=story_category.title%></a>
                            <%else%>
                                <a href="/stories?category_id=<%=story_category.id%>" style="color: #b50000; font-weight: bold;"><%=story_category.title%></a>
                            <%end%>
                        </li>
    
                    <%end%>
                    <li></li>
                </ul>
            </div>
            <!-- End Main Menu -->
        </div>
    </nav>
    <!-- End Navigation panel -->
</div>
<!-- End Menu Wrapper -->


<section class="small-section bg-gray-lighter" style="padding: 20px 0; margin-top: -30px;">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0"><%=@story.title%></h1>
                <div class="hs-line-4 font-alt black">
                    <%@story.students.each do |student|%><a href="<%=student_path(student)%>"><%="#{student.user.name}"%></a><%end%> &nbsp;|&nbsp; <%=local_time(@story.created_at,'%d %b')%>
                </div>
            </div>
            
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href=<%=stories_path%>>Home</a>&nbsp;/&nbsp;<span><%=@story.title%></span>
                </div>
                
            </div>
        </div>
        
    </div>
</section>

<!-- Section -->
<section class="page-section">
    <div class="container relative">
        
        <div class="row">
            
            <!-- Content -->
            <div class="col-sm-8">
                
                <!-- Post -->
                <div class="blog-item mb-80 mb-xs-40">
                    
                    <!-- Text -->
					<div class="blog-item-body">
                        <%if @story.blog_image.file? %>
                        <!-- Media Gallery -->
                        <div class="blog-media mt-10 mb-10 mb-xs-10">

                            <ul class="clearlist content-slider">
                                <li>
                                    <img src="<%=@story.blog_image.file? ? @story.blog_image.url : ""%>" alt="" />
                                </li>
                            </ul>
                        </div>
                        <%end%>
						<div class="hs-line-4 font-alt black mb-30" style="text-align: center;"><%=@story.image_caption%></div>
                        <%=@story.content.gsub(/\n/,'<br>').html_safe%>
                        
                        <%if !@story.video_link.blank?%>
                            <div class="mt-30">
                                <script type="text/javascript" src="http://s3.spruto.org/embed/player.js"></script> <script class="splayer"> var params = {"playlist":[{"video":[{"url":"<%@story.video_link%>"}],"duration":0,"posterUrl":"<%='http://i1.ytimg.com/vi/video_id/hqdefault.jpg'.gsub('video_id',get_youtube_id(@story.video_link))%>"}],"uiLanguage":"en","width":"640","height":"640"}; player.embed(params); </script>
                            </div>
                            <div class="hs-line-4 font-alt black mb-30" style="text-align: center;"><%=@story.video_caption%></div>
                        <%end%>
                        
					</div>
                    <!-- End Text -->
					
				</div>

				<!-- End Post -->
				
                <!-- Prev/Next Post -->
                <!-- <div class="clearfix mt-40">
                    <a href="#" class="blog-item-more left"><i class="fa fa-angle-left"></i>&nbsp;Prev post</a>
                    <a href="#" class="blog-item-more right">Next post&nbsp;<i class="fa fa-angle-right"></i></a>
                </div> -->
                <!-- End Prev/Next Post -->
                
            </div>
            <!-- End Content -->
            
            <!-- Sidebar -->
            <div class="col-sm-4 col-md-4 sidebar">
                
                <div class="widget">
                    
                    <div class="widget-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tpl-tabs animate">
                            <li class="active">
                                <a href="#one" data-toggle="tab">Popular</a>
                            </li>
                            <li>
                                <a href="#two" data-toggle="tab">Latest</a>
                            </li>
                        </ul>
                        
                        <!-- Tab panes -->
                        <div class="tab-content tpl-tabs-cont section-text">
                            <div class="tab-pane fade in active" id="one">
                                <%n = @stories.length >= 10 ? 10 : @stories.length%>
                                <%n.times do |i|%>
                                <%story = @stories[i]%>
                                <ul class="clearlist widget-posts">
                            
                                    <!-- Preview item -->
                                    <li class="clearfix">
                                        <a href=""><img height="70" width="70" src="<%=story.blog_image.url(:thumb)%>" alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title=""><%=story.title%></a>
                                            <div>
                                                Posted by <%story.students.each do |student|%><%=student.user.name%>&nbsp;<%end%> <%=local_time(story.created_at,'%d %b')%>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- End Preview item -->

                                </ul>
                                <%end%>
                            </div>
                            <div class="tab-pane fade" id="two">
                                <%n = @stories.length >= 10 ? 10 : @stories.length%>
                                <%n.times do |i|%>
                                <%story = @stories[i]%>
                                <ul class="clearlist widget-posts">
                            
                                    <!-- Preview item -->
                                    <li class="clearfix">
                                        <a href=""><img height="70" width="70" src="<%=story.blog_image.url(:thumb)%>" alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title=""><%=story.title%></a>
                                            <div>
                                                Posted by <%story.students.each do |student|%><%=student.user.name%>&nbsp;<%end%> <%=local_time(story.created_at,'%d %b')%>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- End Preview item -->

                                </ul>
                                <%end%>
                            </div>
                        </div>
                    </div>
                
            </div>
            <!-- End Sidebar -->
        </div>
        
    </div>
</section>