
<style>
	.page-section{
		padding: 30px 0;
	}
	#top > section > div > div > div.col-sm-8 > div.blog-item.mb-80.mb-xs-40 > div > h1{
		margin: 0; 
		letter-spacing: 0.1em; 
		text-transform: inherit;
	}
</style>
<!--<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @story.student %>
</p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @story.content %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
 -->

<div style='padding-top:75px;'></div>  

<!-- Section -->
<section class="page-section">
    <div class="container relative">
        
        <div class="row">
            
            <!-- Content -->
            <div class="col-sm-8">
                
                <!-- Post -->
                <div class="blog-item mb-80 mb-xs-40">
                    
                    <!-- Text -->
					<div class="blog-item-body">
                    	<h1 class="hs-line-11 font-alt mb-20 mb-xs-0"><%=@story.title%></h1>
                
                        
                        <%if @story.blog_image.file? %>
                        <!-- Media Gallery -->
                        <div class="blog-media mt-10 mb-10 mb-xs-10">

                            <ul class="clearlist content-slider">
                                <li>
                                    <img src="<%=@story.blog_image.url%>" alt="" />
                                </li>
                            </ul>
                        </div>
                        <%end%>
						<div class="hs-line-4 font-alt black mb-30" style="text-align: center;"><%=@story.image_caption%></div>
                        <%=@story.content.gsub(/\n/,'<br>').html_safe%>
                        
                        
					</div>
                    <!-- End Text -->
					
				</div>
				<!-- End Post -->
				
                <!-- Prev/Next Post -->
                <!-- <div class="clearfix mt-40">
                    <a href="#" class="blog-item-more left"><i class="fa fa-angle-left"></i>&nbsp;Prev post</a>
                    <a href="#" class="blog-item-more right">Next post&nbsp;<i class="fa fa-angle-right"></i></a>
                </div> -->
                <!-- End Prev/Next Post -->
                
            </div>
            <!-- End Content -->
            
            <!-- Sidebar -->
            <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
                
                <div class="widget">
                    
                    <div class="widget-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tpl-tabs animate">
                            <li class="active">
                                <a href="#one" data-toggle="tab">Popular</a>
                            </li>
                            <li>
                                <a href="#two" data-toggle="tab">Latest</a>
                            </li>
                        </ul>
                        
                        <!-- Tab panes -->
                        <div class="tab-content tpl-tabs-cont section-text">
                            <div class="tab-pane fade in active" id="one">
                                <%n = @stories.length >= 10 ? 10 : @stories.length%>
                                <%n.times do |i|%>
                                <%story = @stories[i]%>
                                <ul class="clearlist widget-posts">
                            
                                    <!-- Preview item -->
                                    <li class="clearfix">
                                        <a href=""><img height="70" width="70" src="<%=story.blog_image.url(:thumb)%>" alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title=""><%=story.title%></a>
                                            <div>
                                                Posted by <%=story.student.user.name%> <%=local_time(story.created_at,'%d %b')%>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- End Preview item -->

                                </ul>
                                <%end%>
                            </div>
                            <div class="tab-pane fade" id="two">
                                <%n = @stories.length >= 10 ? 10 : @stories.length%>
                                <%n.times do |i|%>
                                <%story = @stories[i]%>
                                <ul class="clearlist widget-posts">
                            
                                    <!-- Preview item -->
                                    <li class="clearfix">
                                        <a href=""><img height="70" width="70" src="<%=story.blog_image.url(:thumb)%>" alt="" class="widget-posts-img" /></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title=""><%=story.title%></a>
                                            <div>
                                                Posted by <%=story.student.user.name%> <%=local_time(story.created_at,'%d %b')%>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- End Preview item -->

                                </ul>
                                <%end%>
                            </div>
                        </div>
                    </div>
                
            </div>
            <!-- End Sidebar -->
        </div>
        
    </div>
</section>