<div id="home">
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>

    <!-- Render Nav Partial here -->
    <%= render 'stories/nav'%>

    <section class="clearfix" style="padding-bottom: 10px; margin-top: 90px;">
        <h1 class="hs-line-11 story-font story-title"><%=@story.title%></h1>
        <hr>
        <div class="row">
            <div class="col-md-8">
                <%  @byline = ""
                    @story.story_bylines.each_with_index do |student, i|
                        @byline += i > 0 ? " and " : ""
                        @byline += "<a href='#{student_path(student)}'>#{student.user.name}</a>"
                    end
                %>
                <p class="story-font plain-font story-byline-head mb-0">
                    By <strong><%=@byline.html_safe%></strong> &nbsp;|&nbsp; <%=local_time(@story.created_at,'%d %b %Y').upcase.html_safe%>
                </p>
            </div>
            <div class="col-md-4 align-right">
                <%= social_share_button_tag(@story.title, :url => request.original_url, :image => @story.blog_image.url, desc: ((@story.summary.nil? || @story.summary.empty?) ? @story.content[0..200] : @story.summary), via: "nsoj_bangalore") %>
            </div>
        </div>
        <hr>
    </section>

    <section class="clearfix border_b" style="padding-bottom: 10px;">
        <div class="row">

            <!-- Start Article -->
            <div class="col-md-8 mt-10">
                <%if !@story.video_link.blank?%>
                    <div class="mt-30">
                        <iframe width="820" height="461" src="//www.youtube.com/embed/<%=get_youtube_id(@story.video_link)%>?rel=0&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <%  @byline = ""
                        @story.video_bylines.each_with_index do |student, i|
                            @byline += i > 0 ? " and " : ""
                            @byline += "<a href='#{student_path(student)}'>#{student.user.name}</a>"
                        end
                    %>
                    <div class="clearfix"><p class="media-caption mb-0"><%=@story.video_caption%></p></div>

                    <p class="story-font plain-font story-byline">
                        Video by <%=@byline.html_safe%>
                    </p>
                <%end%>
                
                <% arr = @story.content.gsub(/\n/,'<br>').split("<br>", 4) %>
                <p class="story-font article-content mb-20">
                    <%= arr[0].html_safe %>
                </p>
                <p class="story-font article-content">
                    <%= arr[2].html_safe %>
                </p>
                <%if @story.blog_image.file? %>
                    <div>
                        <img class="article-image" src="<%=@story.blog_image.file? ? @story.blog_image.url : ""%>" alt="" />
                        <div class="clearfix"><p class="media-caption"><%=@story.image_caption%></p></div>
                    </div>

                <% end %>
                <p class="story-font article-content">
                    <%= arr[3].html_safe %>
                </p>
                
                <div class="clearfix mt-30">
                    <%= social_share_button_tag(@story.title, :url => "http://nsoj.in#{request.original_fullpath}", :image => '@story.blog_image.url', desc: '@story.content[0..100]', via: "nsoj_bangalore") %>
                </div>              
            </div>
            <!-- End Article -->                

            <!-- Sidebar -->
            <div class="col-md-4 sidebar">
                <%= render 'stories/sidebar_widget'%>
            </div>
            <!-- End Sidebar -->

        </div>
    </section>
</div>