<h2>Hi</h2>
<p><%= @name%> wants to Contact you</p>
<p>Email:- <%= @email %></p>
<p>City:- <%= @city %></p>
<p>Phone:- <%= @phone %></p>
<p>Subject:- <%= @subject %></p>
<p>University:- <%= @university %></p>
<p>Mesage:- <%= @message %></p>