<!-- Page Loader -->        
<%= render 'landing_page/page_loader' %>  

<div id="home">

    <div class="row">

        <div class="col-md-9 d-pr-0">
            <div style="margin-bottom: 10px;">
                <img src="<%=asset_path('digitaljournalism/main_wide.png')%>" alt="">
            </div>
            
            <div class="col-md-4 page-left-col clearfix" style="padding: 0 5px 0 0;">
                <a class="twitter-timeline" data-chrome="nofooter noheader noscrollbar" data-theme="light" data-height="1000" data-show-replies="true" href="https://twitter.com/NSoJ_Bangalore">Tweets by NSoJ_Bangalore</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    
            </div>

            <div class="col-md-8">
            <div class="banner-decription" style="color:black;" >
                <h4 class="font-alt anchor" id="admission_requirements">Postgraduate Diploma in Digital Journalism and Storytelling (P.G.D.D.J.)</h4>        
                <p>YourStory.com, one of India's leading digital journalism websites, has partnered with NSoJ to provide students with a hands-on approach to digital journalism and storytelling. Students choosing to specialize in digital journalism and storytelling, will receive a postgraduate diploma jointly offered by NSoJ and YourStory.com. These students will get to work alongside YourStory.com's reporters in India's start-up capital and have the opportunity to regularly contribute stories to YourStory.com during the course of the programme. Students will also enjoy internship and preferred employment opportunities in YourStory.com.</p>
                <hr>

                <h4 class="font-alt anchor" id="pgdj_programme_fees">P.G.D.D.J. Programme Fees</h4>
                <p>
                    All our students will be trained in and have full access to all our equipment and facilities, including the use of our state of the television studio, broadcast cameras and video and audio editing technology.
                </p>
                <p> 
                    <div>
                        <div style="font-weight: 400;">Fees &amp; Payment Schedule for Admissions:</div>
                    </div>
                    <br>
                    <table class="table">
                        <tr>
                            <th style="font-weight: 400;">Admission Fees: Rs 425,000*</th>
                            <th style="font-weight: 400;">First Instalment</th>
                            <th style="font-weight: 400;">By July 10, 2017</th>
                            <th style="font-weight: 400;">By July 14, 2017</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Rs 150,000</td>
                            <td>Rs 150,000</td>
                            <td>Rs 125,000*</td>
                        </tr>
                    </table>
                    <span style="font-size: 12px;">* Programme fees are subject to the prevailing tax which should be paid along with the final instalment. Programme fees once paid are not refundable even if the candidate does not start or complete the programme. 
                </span>
                </p>

                <p>Programme Fees are due in full before the commencement of the programme. We regret that students who have not paid fees in full will not be allowed to attend the course. Fees include examination fees, all teaching, studio equipment and training fees. Books, equipment for personal use, travel costs for assignments, etc. are not included. N.B. Students are responsible for insuring their own belongings left on school premises. All students’ property left on the school’s premises is left entirely at the owner’s risk and the school specifically does not accept responsibility for any damage or loss howsoever caused. Fees are not refundable under any circumstances.</p>
                
                <!-- <hr>
                <p><div style="margin: 10px 0; text-align: center; background-color: #CD4; padding: 10px; cursor: pointer;"><strong>ADMISSION ASSESSMENT AND APPLICATION FORM FOR P.G.D.D.J</strong></div></p>
                <hr> -->
                <hr>
                <p><div style="margin: 10px 0; text-align: center; background-color: #CD4; padding: 10px; cursor: pointer;">
                <a href="/edit_pgddj_admission" style="padding: 10px; font-weight: 800; color: #1a499e;"> ADMISSION ASSESSMENT AND APPLICATION FORM</a>
                </div></p>
                <hr>

                <h4 class="font-alt anchor" id="application_form">Admission and Assessment Application Form </h4>
                <p>
                    Admission and Assessment Application Forms can be accessed by registering <a href="/edit_pgddj_admission">here</a> . On registration, you will receive a user name and password, which you can activate from the email address that you provide. Once registered you can login and start your application form. You can also save, exit, resume, amend and submit the form online. Should you encounter any technical difficulties or need help, please contact us. 
                </p>
                <p>
                    We strongly encourage applicants to apply online. If you would, however, prefer to submit your application in physical form, please contact us and we will email you the form. 
                </p>

                

            </div>
            </div>
        </div>
        <!-- End of About Us content -->
        <div class="col-md-3 page-right-col" style="padding: 0 0 0 5px;">
            <!-- <a href="/edit_admission_form" style="margin-bottom: 5px; display: block;"><img src="<%= asset_path("banners/admission 2.png")%>" alt="" /></a> -->
            <img src="<%= asset_path("programmes/left/bg0.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("programmes/left/bg1.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("programmes/left/bg2.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("programmes/left/bg3.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("programmes/left/bg4.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <!-- <img src="<%= asset_path("programmes/left/bg5.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("programmes/left/bg6.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("programmes/left/bg7.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;"> -->
            <!-- <img src="<%= asset_path("programmes/left/bg8.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;"> -->

        </div>
    </div>
    
</div>
