
<!-- Head Section -->
<section class="small-section bg-gray-lighter" style="padding: 20px 0;">
    <div class="relative container align-left">
                <h1 class="hs-line-11 font-alt align-center">Our Faculty</h1>
    </div>
</section>
<!-- End Head Section -->
      
<div id="home">
<section class="page-section" id="faculty">
  <!-- <div class="container relative"> -->
      
      <!-- Features Grid -->
      <div class="row multi-columns-row alt-features-grid">
          
          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/h_s_balram.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">H.S. Balram</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;">Director <br>
                      <span class="post-prev-info font-alt">Opinion and editorial writing, Politics & Society</span></h3>
                  <div class="alt-features-descr align-left">
                      H.S. Balram is a familiar face in Karnataka's media landscape. He was Resident Editor at The Times of India for 15 years. During his tenure, the paper reached the number one position in Karnataka in terms of readership and circulation. He was also best known for his popular column To The Point. Before joining The Times of India, he was with the Indian Express in New Delhi and served as Resident Editor of the Indian Express, Bangalore. He was a director at Asianet News Network and the host of a weekly talk show on Radio Indigo 91.9 FM.

                  </div>
              </div>
          </div>
          <!-- End Features Item -->
          
          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/saswati-nsoj1.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">Saswati Chakravarty</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Core editing skills, Business & Finance</span></h3>
                  <div class="alt-features-descr align-left">
                      Saswati is a veteran business journalist. She spent 22 years at The Economic Times, eventually serving as Resident Editor of the South Editions. She successfully incubated, set up and launched three major metropolitan editions of The Economic Times. In 2010, she started Bhasha News Media, a development media platform disseminating livelihoods-focused news to rural areas. Bhasha News Media operates in the regional language media space with a view to having a more inclusive media, built on the theme of social justice; as she puts it, "even marginalized voices have a right to be heard". She is consulting editor as well as senior faculty member at NSoJ.
                  </div>
              </div>
          </div>
          <!-- End Features Item -->

           <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/thangaraj_new.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">Dr. Thomas Thangaraj</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;">Dean of Academic Affairs <br><span class="post-prev-info font-alt"><span class="post-prev-info font-alt">Ethics, Politics & Society</span></h3>
                  <div class="alt-features-descr align-left">
                      Professor Thomas Thangaraj has a longstanding and celebrated career in the field of academia. He completed his doctoral studies at Harvard University and is Professor Emeritus at Emory University, Atlanta. He was Visiting Scholar at Oklahoma City University, and Visiting Professor at Harvard and Boston Universities. He has been published extensively; he is the author of 12 books and numerous academic papers. His teaching interests have been ethics, religious diversity and inter-faith engagement, subject areas that he will deliver lectures on at NSoJ, where he also serves as Dean of Academic Affairs.
                  </div>
              </div>
          </div>
          <!-- End Features Item -->
          
          
          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/simon.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">Simon Varghese</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;">Principal Instructor <br><span class="post-prev-info font-alt">Convergence Media</span></h3>
                  <div class="alt-features-descr align-left">
                      Media and Communications professional with close to 20 years of experience in print, online and television journalism. He was Editorial head at Indiatimes.com and was responsible for the portal’s city specific site timescity.com. Earlier, he was the Online Editorial Coordinator of the Economic Times. Simon was also Senior Editor and Senior Production Executive at News9. He handles the Print and Convergence pathway at NSoJ.
                  </div>
              </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/dipti.png")%>" alt="" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">Dipti Kumar</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Broadcast; Convergence; Art and Culture</span></h3>
                  <div class="alt-features-descr align-left">
                     Dipti Kumar is an International award winning journalist who started her career in broadcast. She has worked as news anchor, producer and reporter with NDTV Hindu (Chennai), NDTV (USA), Global Citizen (USA), BBC (London), The International Business Times (New York), The Brooklyn Daily Eagle (New York), The Independent (New York), Inside Edition, CBS (New York), All India Radio (Bengaluru), The Hindu (Bengaluru) and ANI (Bengaluru).<br>Kumar has masters’ degrees in Television Journalism from Goldsmiths College, The University of London and Health and Science Reporting from Stony Brook University, New York. She has travelled on foreign reporting trips to Turkana, Kenya where her report on the dropout rate of girls in education was awarded the 2013 “Outstanding Story on Any Subject by a Student in USA and Canada” by the South Asian Journalists Association. She co-led and mentored a group of journalism students from her alma mater, Stony Brook University on their maiden foreign reporting to Bengaluru, India in 2015 where she taught on digital news production, understanding the local landscapes and adopting best practices for story telling on multimedia platforms. She has also lent her multimedia skills in content writing, voice overs and video production to the corporate work environment.
                  </div>
              </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/papiya.jpg")%>" alt="" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">Papiya Bhattacharya</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Science Journalism; English Language Skills</span></h3>
                  <div class="alt-features-descr align-left">
                     Papiya Bharracharya is a writer based in Bangalore. She has worked with newspapers and has freelanced for magazines, journals and newspapers. She writes on culture, music, science, health, technology, ecology and environment, wildlife, agriculture, astronomy, neurosciences, and climate change. She also enjoys writing on women, their health, and the social issues around them. The publications she writes for include Leonardo Reviews, Femina, The Week, Planet Earth, SciDev.net, Current Science, Wire.in, The Statesman, The Hindu, Deccan Herald, Women’s Features Service, The New Indian Express, Health & Nutrition, Kyoorius Design, Sakaal Times and 24k.
                  </div>
              </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/ramakrishna.png")%>" alt="" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">Ramakrishna Upadhya</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Print; Politics and society</span></h3>
                  <div class="alt-features-descr align-left">
                     Ramakrishna Upadhya is an award-winning journalist and the recipient of the Rajyotsava Award for journalism (2005). He has switched seamlessly between print and electronic media during his career lasting 37 years. Starting as a reporter in Indian Express, Bangalore in 1978, he later served as Special Correspondent in the New Delhi bureau of Indian Express. In Delhi, his rich experience included covering Parliament, the Election Commission, ministries like Defence, Science and Technology, Social Welfare, the Railways, national parties and national elections. Upadhya also served in other prestigious newspapers like The Telegraph, the Mid-Day group and Vijay Times. He also was in Deccan Herald as Senior Editor, in charge of Edit and Op-ed pages for over eight years.<br>While at Indian Express, he has the opportunity to be a part-time news anchor in Kannada for five years when Doordarshan made its debut in Bangalore in 1982. He won a one-year Paris-based scholarship with Journalists in Europe. This experience helped him to learn, travel and write out of a dozen European cities. In the year 2000, he switched from print to television to become News Coordinator at ETV-Kannada and was able to give a new direction to TV coverage during his three and a half years there. Currently, he writes for Catchnews.com and the Parliamentarian magazine, besides being on the panel for News9-TV9. He is also a published author, and has served as President of the Press Club of Bangalore.   
                  </div>
              </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/Divya-S_new.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">Divya Sreedharan</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Writing skills, art and culture, lifestyle journalism, gender, social media</span></h3>
                  <div class="alt-features-descr align-left">
                     Divya is a journalist and blogger who contributes to The Hindu Sunday Magazine, publications from the India Today group, and citizenmatters.in. She has over 15 years in journalism covering news reporting (at The Indian Express, The Hindu, ToI) and magazine writing (Marie Claire India). She has also had a short stint in advertising copywriting/content editing (Saatch & Saatchi Direct)
                  </div>
              </div>
          </div>
          <!-- End Features Item -->
          
          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/baba_prasad.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">M. Baba Prasad</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Reporting, Editing and Writing Skills</span></h3>
                  <div class="alt-features-descr align-left">
                     Baba Prasad is a veteran journalist with over 35 years of experience. He served as News Editor at The Hindu in Bangalore. Earlier, he was with the Indian Express and Mid-Day groups. He is widely recognised for his accomplishments in the newsroom and the classroom. He has delivered several University Grants Commission lectures and is a member on the board of studies at various universities. He has authored the book, Reporting: Principles and Practice.
                  </div>
              </div>
          </div>
          <!-- End Features Item -->


          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/santosh.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">J. Santosh</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;">Principal Instructor <br><span class="post-prev-info font-alt">Broadcast media</span></h3>
                  <div class="alt-features-descr align-left">
                      Broadcast journalist J. Santosh has been a mainstay at some of the country's finest newsrooms, with stints as senior editor at NDTV, Sify and CNBC's online bureau. Building on existing experience as a print journalist, he earned his stripes during his time as senior editor with Raj TV and deputy editor with Jaya TV. With the ability to work across formats, Santosh was most recently a senior editor at New Generation Television. He handles the broadcast pathway at NSoJ, with two decades of experience in everything from creating news packages and voice-overs to reporting live from the scene.
                  </div>
              </div>
          </div>
          <!-- End Features Item -->

         
          
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/anand_subramanian.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">Anand Subramanian</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Documentary filmmaking; art and culture</span></h3>
                  <div class="alt-features-descr align-left">
                     Anand Subramanian runs the Documentary Filmmaking elective module at NSoJ. Anand is an accomplished and renowned film maker, having produced and directed several feature films, television commercials, corporate videos, television series and documentary films. He worked as the in-house filmmaker for advertising agency MAA Bozel in the 1980s, and regularly produces and directs documentary film projects in India for Unilever, London. Anand is also an actor, and has featured in Kannada films as well as in a Tamil television serial. He is an alumnus of the prestigious Film and Television Institute of India (FTII), Pune where he specialised in firm direction and of the Film School, University of Southern California, Los Angeles where he specialised in independent film making.
                  </div>
              </div>
          </div> 

          

          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                       <img  src="<%= asset_path("faculty/jervis.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">JERVIS DEUEL ARTHUR</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Script writing, Television Features</span></h3>
                  <div class="alt-features-descr align-left">
                     Jervis is chief writer, director and supervising producer for No Newsense, a satirical show produced entirely by NSoJ. He has more than seven years of experience in the visual media industry where he worked in editorial and technical teams. He has played many roles ranging from Editor to Senior Team Lead. Jervis holds a Masters in Business Administration (Human Resources) and an Advanced Diploma in Business Management. Jervis uses these skills to great effect in directing No Newsense.
                  </div>
              </div>
          </div>

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/vedam.png")%>" alt="" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">Vedam Jaishankar</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Print; Sports Journalism</span></h3>
                  <div class="alt-features-descr align-left">
                     Vedam Jaishankar is a seasoned sports journalist and has covered cricket extensively from all the major cricketing venues of the world. His assignments include multiple World Cups. He has held senior positions in The Times of India, The New Indian Express, Indian Express and Deccan Herald. He launched Vijay Times, which was subsequently acquired by the Times group and renamed Bangalore Mirror.<br>Jaishankar has written two best sellers: Rahul Dravid, A Biography that was translated into four languages and went through 15 re-prints and Casting A Spell, The Story Of Karnataka Cricket where he traced the 200-year-old history of Karnataka cricket.  His third book is in post-production and is expected to hit the stands later this year. He also has rich experience in television media, both in English and regional language.  He continues to be actively involved in cricket journalism. Vedam Jaishankar anchors the sports journalism module at NSoJ.
                  </div>
              </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/anita_rao.jpg")%>" alt="" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">Anita Rao Kashi</h2>
                  <!-- <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Community Radio</span></h3> -->
                  <div class="alt-features-descr align-left">
                     Anita Rao Kashi is a travel and food writer and blogger with over 22 years of writing experience. After nearly 12 years of rough and tumble of daily reporting for The Times of India, as a civic correspondent and then as a political correspondent, Anita opted to write about travel and food, and thrives on the surprise and unexpectedness that travelling brings. She likes to focus on history, heritage, culture, experiences and food in her travel writing. Apart from writing for various national and international magazines, newspapers and websites, blogging on travel and food, she has also worked on travel and food guides, and coffee table books.
                  </div>
              </div>
          </div>
          <!-- End Features Item -->

          <!-- Features Item -->
          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <img  src="<%= asset_path("faculty/ashish.jpg")%>" alt="" style="width:180px;" class="img-circle">
                  </div>
                  <h2 class="alt-features-title font-alt">Ashish Sen</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Community Radio</span></h3>
                  <div class="alt-features-descr align-left">
                     Ashish Sen is an independent media consultant, trainer and journalist with more than 30 years hands on international and country level experience across public, private and social sectors in communications for development especially in radio and theatre. He has worked extensively with community media in India, South Asia and Asia-Pacific, and engaged with marginalized and less privileged urban and rural communities, especially farmer groups, and people with disabilities. Formerly, President of the World Association of Community Radio Broadcasters) AMARC Asia-Pacific Region and the member of AMARC’s Governance Council, he is currently Adviser to the Asia Pacific Board.  He is also editor of the Community Radio News (C R News), A South Asian Journal on Community Radio  produced by the UNESCO Chair on Community Media.<br>Sen is a Founder Member and on the Core Committee of the South Asia Network  for Community Media, a network of community media in Bangladesh,  Bhutan, India, Nepal, Pakistan and Sri Lanka. (<a style="color: #444; text-decoration: none;" href="http://www.sancomonline.net">www.sancomonline.net</a>). He is also a core member of the International Commission on Survivor Centered   Disaster Recovery. He is also a Trustee of the Dev Nandan Ubhayeker Foundation for the Arts in Bangalore
                  </div>
              </div>
          </div>
          <!-- End Features Item -->
          

          <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="alt-features-item align-center">
                  <div class="alt-features-icon">
                      <!-- <img  src="<%= asset_path("faculty/anon.png")%>" alt="" style="width:180px;" class="img-circle"> -->
                  </div>
                  <h2 class="alt-features-title font-alt">Namas Bhojani</h2>
                  <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Photo Journalism</span></h3>
                  <div class="alt-features-descr align-left">
                     Namas Bhojani is an international freelance assignment photographer. Based in India, his editorial clients include Forbes, Wired (Conde Nast), CFO, CIO, Marie Claire (Hearst), Bloomberg News, Bloomberg Markets magazine, New York Times, International Herald Tribune, Financial Times, BusinessWeek, WSJ, San Jose Mercury News, Stern, Der Spiegel, Several other US and European publications including Time, Fortune. He has been a stringer for AP and AFP in the past; Consulting Photo Editor-cum-Contract Photographer for Cosmopolitan magazine's Indian edition; Chief Photographer-cum-Photo Editor of Business Today.  Spent the academic year 1995-96 at Stanford University, as part of the Knight Fellowship Program for mid-career journalists. Explored the World Wide Web, Californian wine, Jazz music, Hollywood cinema and the American way of life. Namas is a photographer who enjoys photographing very diverse subjects from Adverting and Commercial, Food to Fashion and Beauty to hardcore reportage, travel and creative image making. Namas is a senior guest faculty at NSoJ handling photo journalism.
                  </div>
              </div>
          </div> 

      </div>
      <!-- End Features Grid -->
  
  <!-- </div> -->
</section>
</div>

