<!-- Page Loader -->        
<%= render 'landing_page/page_loader' %>

<div id="home">

    <div class="row">
        <div class="col-md-3 page-left-col" style="padding: 0 5px 0 0;">
            <%= 
            #render 'landing_page/main/sidebar_page_links' 
            %>
            
            <!-- Twitter feed -->
            <a class="twitter-timeline" data-chrome="nofooter noheader noscrollbar" data-theme="light" data-height="1500" data-show-replies="true" href="https://twitter.com/NSoJ_Bangalore">Tweets by NSoJ_Bangalore</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        

        <div class="col-md-6 page-middle-col" >
            <!-- https://www.youtube.com/watch?v=rKGIwp6oEKQ -->
            <!-- Start of Main video -->
            <div class="video">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/<%=get_youtube_id(@homepage_main_video)%>?rel=0&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- End of Main video -->

            <!-- Slider -->
            <%= render 'landing_page/main/slider' %>
            <%if browser.device.mobile?%>
            <a id="mob_admission_banner" href="/edit_admission_form"><img src="<%= asset_path("banners/admission 2.png")%>" alt="" /></a>
            <%end%>
            <!-- Students -->
            <%= 
                # render 'landing_page/main/sec_students' unless browser.device.mobile? 
            %>

            <!-- Faculty  -->
            <%= render 'landing_page/main/sec_faculty' unless browser.device.mobile? %>
        </div>    
        <div class="col-md-3 page-right-col" style="padding: 0 0 0 5px;">
            
            <a href="/edit_admission_form" style="margin-bottom: 5px; display: block;"><img src="<%= asset_path("banners/admission 2.png")%>" alt="" /></a>

            <a href="/admission/digitaljournalism" style="margin-bottom: 5px; display: block; border: 0.5px solid #ccc; box-shadow: 0px 0px 8px #ccc;"><img src="<%= asset_path("banners/digitaljournalism.png")%>" alt="" /></a>
            
            <a style="margin-top: 3px;" target="blank" href="/nsojpost"><img class="card" src="<%= asset_path("banners/NSoJ_post_wide.jpg")%>" alt="" /></a>

            <!-- Sidebar Stories -->
            <%= render 'landing_page/main/sidebar_posts_preview' %>
        </div>

        
    </div>

    <div id="about" class="row" style="margin: 0;">
        <!-- <h3 class="font-alt mb-10 mb-sm-40 mt-40" style="padding: 10px; background-color: #555; color: white;">About US</h3> -->
        <h3 class="font-alt mb-70 mb-sm-40" style="text-align: center; margin-bottom: 20px;"><img src=<%= image_path("logo-footer.png") %> width="78" height="36" alt="National School of Journalism, Bangalore" /><span style="margin-left: 15px;">About Us</span></h3>
        
        <!-- Sidebar Images -->

        <%= render 'landing_page/main/sidebar_photos'%>

        <!-- Start of About Us content -->
        <div class="col-md-6">
            <div class="banner-decription" style="color:black;" >
                National School of Journalism (NSoJ) is a highly selective postgraduate journalism institute that identifies and trains India's best journalistic talents. Our newsroom-focused curriculum, in-house digital news portal, expert faculty members and unparalleled industry connections prepare our students for successful careers in broadcast, print and convergence journalism. We invite you to join us and be the generation that transforms India's news media industry.Our purpose is to transform the news media industry in India by training a select group of graduate students every year—60 of the brightest and best in journalistic talent—to become accomplished professional journalists. NSoJ will prepare them to pursue truth in a less than perfect world, recognise the wider contexts in which issues are framed and communicate this to the public in a responsible, balanced and fair manner. We hope to create in our students a generation of journalists with the tools and perspectives to act as agents of change in the news media industry in India.<br/><br/>
                
                Our 11-month Postgraduate Diploma in Journalism programmes are designed to provide our students the right platform and skills to not only succeed, but to shape the future of journalism in India. Our faculty are leading reporters, columnists, editors, authors, academics, magazine editors, documentary filmmakers, and digital media specialists who are deeply committed to training, challenging and supporting their students.<br/><br/>
                
                We strongly encourage diversity in thought, culture, language, geography, gender, religion, academic and extracurricular interest, family circumstance, socio-economic background and more. <br><br>

                
                <h1 class="hs-line-8 no-transp font-alt ">
                     Study at One of the Best Journalism Schools in India
                </h1>
                
                A career in the news media industry is an exciting and rewarding path to follow, but it’s important to gain the right knowledge and practical skills in order to succeed. At the National School of Journalism, we identify, train  and nurture the best journalistic talent in India. Through postgraduate programs focused on broadcast, print and convergence media, we give students the best possible platform from which to begin a successful career in the industry. Join the best college for journalism in Bangalore and become the future of news media in India, with the help of experienced instructors with expertise as columnists, editors, reporters, filmmakers, academics, digital media specialists and more. <br> <br>

                <h2 class="hs-line-8 font-alt ">
                    A top college for the best and brightest 
                </h2>

                We have a passion for the news media industry, and focus our expertise on turning students into professionals by helping them navigate both journalistic theory and newsroom-focused skills while fostering growth through our in-house news portal. When you graduate from our postgraduate school, you will be equipped with the knowledge required to kick start a career and flourish in a real-world environment. Our experienced staff will help you understand traditional industry values while preparing you for a career in the modern age. Upon completion of the 11 month course, graduates will have a firm grasp of the ability to identify wider contexts surrounding any issue and possess a commanding ability to communicate information to the public in a balanced, fair and responsible manner. <br><br>

                With excellent connections within the industry, we can provide you with a number of excellent career prospects so that you hit the ground running. As one of the top journalism colleges in Bangalore and throughout India, we promote a balanced environment with equal opportunity by supporting a diverse range of ages, languages, religions, personal circumstances and much more. <br><br>
                
                <h1 class="hs-line-8 no-transp font-alt ">
                    Student Publications
                </h2>
                
                Our student journalists create and contribute to industry standard news productions as an intrinsic part of their programme. <br><br>
                
                Students specialising in print and convergence journalism produce <a href="<%=stories_path%>">NSoJ Post</a> , a high quality newsmagazine featuring original news articles based on news gathered by student journalists. NSoJ Post meets and excels national newspaper industry standards in terms of content, design and style. Our students are trained in the use of the most advanced software in the industry and gain a thorough understanding of page layout and design skills for newspapers and newsmagazines. NSoJ Post is edited by a student editor under the guidance of our Director, Mr. H. S. Balram, who was Resident Editor, The Times of India (Bangalore) for more than a decade. Digital versions of NSoJ Post are uploaded on our website and on our social media channels to showcase the journalistic talents of our student journalists. Online versions of news stories appear in a convergence format on the NSoJ blog. Print and convergence students also benefit from training received from award winning instructors in photojournalism in developing their news stories and features for NSoJ Post and for our blog. <br><br>

                Students specialising in broadcast journalism produce a range of news based productions for television and radio. Student journalists produce podcasts and radio features under the guidance of nationally renowned radio guru, Ashish Sen. Students interview prominent and newsworthy personalities and have unmatched opportunities to work closely with and learn from the best in the business. Broadcast students also produce several television programmes, including a daily news bulletin, television features, such as auto reviews, and a high quality satirical news production, "No Newsense". No Newsense uses in-depth research and creativity to showcase some of the most pressing and relevant issues of our times in a satirical and yet impactful manner. Students are trained to write scripts and host or anchor these shows live in addition to gaining a thorough understanding of the technical aspects of production,  including cameras, teleprompters, sound, lights and video editing using the most advance software in the industry. Broadcast students also benefit from the training received from award winning instructors in documentary film making in developing their television productions. <br><br>

            </div>
            <div class="local-scroll">
                <a href="#contact" class="btn btn-mod btn-medium btn-round">Lets talk</a>
            </div>
        </div>
        <!-- End of About Us content -->
        <div class="col-md-3"></div>
    </div>
    
</div>

<!-- Nsoj Method -->
<%= render 'landing_page/main/nsoj_method' unless browser.device.mobile? %>

<!-- Subscription -->
<%= 
# render 'landing_page/main/subscription' 
%>

<!-- Contact Section -->
<%= render 'landing_page/main/contact' %>

<!-- Google Map -->
<%= render 'landing_page/main/google_map' %>

<section class="page-section mb-20 mt-20" id="contact" style="padding-top:20px; padding-bottom:20px;">
    <div class="container relative">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p style="">NSoJ visits:- We welcome prospective students who would like to visit us. NSoJ visits take place at 2:30 p.m. Monday-Friday in the month of May every year. Visitors should register with us by selecting the 'NSoJ Visits' subject line in the contact form and providing details of your visit.</p>
            </div>
        </div>        
    </div>
</section>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?language=en"></script>

<%= render 'landing_page/main/main_modal' %>
