
    
    <!-- Page Loader -->        
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->    

    <div class="row">
	
        <div class="col-md-9 home-page-primary-slider" >
            <!-- Fullwidth Slider -->
            <div class="home-section fullwidth-slider bg-dark" id="home">

                <!-- Slide Item -->
                <section class="home-section bg-scroll bg-dark-alfa-30" data-background=<%= asset_path("full-width-images/Digital_Media_Journalism_Courses.gif")%> style='background-image:url(<%= asset_path("full-width-images/Digital_Media_Journalism_Courses.gif")%>)'>
                    <div class="js-height-full container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                <!-- <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                                     National School of Journalism 
                                </h1>
                                
                                <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                                    TOTAL FOOTBALL TURNED THE GAME ON ITS HEAD
                                </h2>
                                
                                <div class="local-scroll">
                                    Boot up with convergence media at NSoJ to become a total journalist
                                </div> -->
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                    </div>
                </section>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <section class="home-section bg-scroll bg-dark-alfa-50" data-background=<%= asset_path("full-width-images/Journalism_College_in_Bangalore.gif")%> style='background-image:url(<%= asset_path("full-width-images/Journalism_College_in_Bangalore.gif")%>)'>
                    <div class="js-height-full container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                               <!--  <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                                    Branding / Design / Development / Photo
                                </h1>
                                
                                <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                                    Design Studio
                                </h2>
                                
                                <div class="local-scroll">
                                    
                                </div> -->
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->

                    </div>
                </section>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <section class="home-section bg-scroll bg-dark-alfa-30" data-background=<%= asset_path("full-width-images/Journalism_College_Infrastructure.gif")%> style='background-image:url(<%= asset_path("full-width-images/Journalism_College_Infrastructure.gif")%>)'>
                    <div class="js-height-full container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                <!-- 
                                <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                                    Create your dream with
                                </h2>                       
                                
                                <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                                    Amazing Design
                                </h1>
                                
                                <div>
                                    
                                </div> -->
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                    </div>
                </section>
                <!-- End Slide Item -->

                <!-- Slide Item -->
                <section class="home-section bg-scroll bg-dark-alfa-30" data-background=<%= asset_path("full-width-images/Journalism_Courses_in_India.gif")%> style='background-image:url(<%= asset_path("full-width-images/Journalism_Courses_in_India.gif")%>)'>
                    <div class="js-height-full container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                <!-- <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                                    Create your dream with
                                </h2>                       
                                
                                <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                                    Amazing Design
                                </h1>
                                
                                <div>
                                    
                                </div> -->
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                    </div>
                </section>
                <!-- End Slide Item -->
            
            </div>
            <!-- End Fullwidth Slider -->
        </div>


        <div class="col-md-3 owl-wrapper-outer autoHeight js-height-full container home-page-secondary-slider" style="margin: auto 0px; padding: 0 45px 0 15px;    overflow-y: scroll;">
            
            <div class="row" style="height: 80px;"></div>
            <div class="row">      
                <div class="post-prev-img" style="margin-bottom: 5px;">
                    <a data-toggle="modal" data-target=".modal1"><img src=<%=asset_path("blog/post-prev-1.jpg")%> alt="" /></a>
                    <div class="modal fade modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-prev-more align-right mb-10">
                    <a href="/" class="btn btn-mod btn-gray btn-round">Show All <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            
            <div class="row">      
                <div class="post-prev-img" style="margin-bottom: 5px;">
                    <a data-toggle="modal" data-target=".modal2"><img src=<%=asset_path("blog/post-prev-1.jpg")%> alt="" /></a>
                    <div class="modal fade modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-prev-more align-right mb-10">
                    <a href="/" class="btn btn-mod btn-gray btn-round">Show All <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            
            <div class="row">      
                <div class="post-prev-img" style="margin-bottom: 5px;">
                    <a data-toggle="modal" data-target=".modal3"><img src=<%=asset_path("blog/post-prev-1.jpg")%> alt="" /></a>
                    <div class="modal fade modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-prev-more align-right mb-10">
                    <a href="/" class="btn btn-mod btn-gray btn-round">Show All <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            
            <div class="row">      
                <div class="post-prev-img" style="margin-bottom: 5px;">
                    <a data-toggle="modal" data-target=".modal4"><img src=<%=asset_path("blog/post-prev-1.jpg")%> alt="" /></a>
                    <div class="modal fade modal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-prev-more align-right mb-10">
                    <a href="/" class="btn btn-mod btn-gray btn-round">Show All <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

        </div>
    </div>


    <section class="page-section">
        <div class="container relative">
            <h2 class="section-title font-alt align-left mb-20 mb-sm-40">
                Faculty
            </h2>
            <div class="row multi-columns-row">
                
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <span aria-hidden="true" class="icon-profile-male"></span>
                        </div>
                        <h2 class="alt-features-title font-alt">H.S. Balram</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;">Director <br>
                            <span class="post-prev-info font-alt">Opinion and editorial writing, Politics & Society</span></h3>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <span aria-hidden="true" class="icon-profile-male"></span>
                        </div>
                        <h2 class="alt-features-title font-alt">Saswati Chakravarty</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;">Consulting Editor <br><span class="post-prev-info font-alt">Core editing skills, Business & Finance</span></h3>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <span aria-hidden="true" class="icon-profile-male"></span>
                        </div>
                        <h2 class="alt-features-title font-alt">Dr. Thomas Thangaraj</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;">Dean of Academic Affairs<br> <span class="post-prev-info font-alt">Ethics, Politics & Society</span></h3>
                    </div>
                </div>
                
            </div>
            <div class="post-prev-more align-right">
                <a href="/why_us#faculty" class="btn btn-mod btn-gray btn-round">Show All <i class="fa fa-angle-right"></i></a>
            </div>
            
        </div>
    </section>



    <!-- Fullwidth Slider -->
    <div class="fullwidth-slider-custom owl-carousel bg-gray">
        
        <!-- Slide Item -->
        <section class="page-section bg-gray">
            <div class="container relative">
                
                <div class="row">
                    
                    <div class="col-md-7 mb-sm-40">
                    

                        <div class="post-prev-img work-full-media mt-0">
                            <a href="blog-single-sidebar-right.html"><img src="<%= asset_path('blog/National_School_of_Journalism_Bangalore.jpg')%>" alt="" /></a>
                        </div>
                        
                        <div class="post-prev-title font-alt">
                            <a href="">Welcome</a>
                        </div>
                        
                        <div class="post-prev-info font-alt">
                            <a href="">Sreenath</a> | 10 December
                        </div>
                        
                    </div>
                    
                    <div class="col-md-5 col-lg-4 col-lg-offset-1">
                        
                        <!-- About Project -->
                        <div class="text">
                            
                            <p>
                                Welcome to the official website of National School of Journalism, Bangalore (NSoJ). We are a highly selective postgraduate journalism institute that identifies and trains India's best journalistic talents. Our newsroom-focused curriculum, in-house digital news portal, expert faculty members and unparalleled industry connections prepare our students for successful careers in broadcast, print and convergence journalism. We invite you to join us and be the generation that transforms India's news media industry.
                            </p>
                            
                            <div class="mt-40">
                                <a href="#" class="btn btn-mod btn-border btn-round btn-medium" target="_blank">Read More</a>
                            </div>
                            
                        </div>
                        <!-- End About Project -->
                        
                    </div>
                    
                </div>   
                  
            </div>
        </section>
        <!-- End Slide Item -->
        
        <!-- Slide Item -->
        <section class="page-section bg-gray">
            <div class="container relative">
                
                <div class="row">
                    
                    <div class="col-md-5 col-lg-4 mb-sm-40">
                        
                        <!-- About Project -->
                        <div class="text">
                            <!-- <h3 class="font-alt mb-30 mb-xxs-10">Mega Creative</h3> -->
                            <p>
                                 We invite final-year undergraduate students in any discipline to express your courage, independence, curiosity,open-mindedness, your ability to communicate and your engagement with society, your country and the world.
                            The three best entrants as determined by NSoJ will win the prestigious NSoJ Award for Outstanding Journalism Potential.
                            </p>
                            
                            <div class="mt-40">
                                <a href="#" class="btn btn-mod btn-border btn-round btn-medium" target="_blank">Read More</a>
                            </div>
                            
                        </div>
                        <!-- End About Project -->
                        
                    </div>
                    
                    <div class="col-md-7 col-lg-offset-1">
                        
                        <!-- Work Video -->
                    <div class="work-full-media mt-0">
                        
                        <!-- <iframe src="http://player.vimeo.com/video/37066208?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1000" height="563" allowfullscreen></iframe> -->
                        <iframe width="1000" height="563"src="https://www.youtube.com/embed/PkYQ_Lcz7F0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <!-- End Work Video -->
                        
                    </div>
                    
               </div>   
                  
            </div>
        </section>
        <!-- End Slide Item -->
        
        <!-- Slide Item -->
        <section class="page-section bg-gray">
            <div class="container relative">
                
                <div class="row">
                    
                    <div class="col-md-7 mb-sm-40">
                        
                        <div class="post-prev-img">
                            <a href="blog-single-sidebar-right.html"><img src="<%= asset_path('blog/National_School_of_Journalism_Bangalore.jpg')%>" alt="" /></a>
                        </div>
                        
                        <div class="post-prev-title font-alt">
                            <a href="">Welcome</a>
                        </div>
                        
                        <div class="post-prev-info font-alt">
                            <a href="">Sreenath</a> | 10 December
                        </div>
                        
                    </div>
                    
                    <div class="col-md-5 col-lg-4 col-lg-offset-1">
                        
                        <!-- About Project -->
                        <div class="text">
                            
                            <p>
                                Welcome to the official website of National School of Journalism, Bangalore (NSoJ). We are a highly selective postgraduate journalism institute that identifies and trains India's best journalistic talents. Our newsroom-focused curriculum, in-house digital news portal, expert faculty members and unparalleled industry connections prepare our students for successful careers in broadcast, print and convergence journalism. We invite you to join us and be the generation that transforms India's news media industry. 
                            </p>
                            
                            <div class="mt-40">
                                <a href="#" class="btn btn-mod btn-border btn-round btn-medium" target="_blank">Read More</a>
                            </div>
                            
                        </div>
                        <!-- End About Project -->
                        
                    </div>
                    
                </div>   
                  
            </div>
        </section>
        <!-- End Slide Item -->    
    </div>
    <!-- End Fullwidth Slider -->

    <section class="page-section" id="news" style="padding-top: 80px;">
        <div class="container relative">
            
            <h2 class="section-title font-alt align-left mb-20 mb-sm-40">
                Latest News
            </h2>
            
            <div class="row multi-columns-row">
                
                <!-- Post Item -->
                <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
                    
                    <div class="post-prev-img">
                        <img src="<%= asset_path('blog/National_School_of_Journalism_Bangalore.jpg')%>" alt="" />
                    </div>
                    
                    
                    
                    <div class="post-prev-text">
                       
                        
                    </div>
                    
                    <div class="post-prev-more">
                        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
                <!-- End Post Item -->
                
                <!-- Post Item -->
                <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                    
                    <div class="post-prev-img">
                        <img src="<%= asset_path('blog/NSOJ_Journalism_School.jpg')%>" alt="" />
                    </div>
                    
                   
                    <div class="post-prev-text">
                        
                    </div>
                    
                    <div class="post-prev-more">
                        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
                <!-- End Post Item -->
                
                <!-- Post Item -->
                <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
                    
                    <div class="post-prev-img">
                        <img src="<%= asset_path('blog/National_School_of_Journalism_Bangalore.jpg')%>" alt="" />
                    </div>
                    
                  
                    <div class="post-prev-text">
                       
                      
                    </div>
                    
                    <div class="post-prev-more">
                        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
                <!-- End Post Item -->

                <!-- Post Item -->
                <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
                    
                    <div class="post-prev-img">
                        <img src="<%= asset_path('blog/National_School_of_Journalism_Bangalore.jpg')%>" alt="" />
                    </div>
                    
                
                    
                    <div class="post-prev-text">
                       
                    
                    </div>
                    
                    <div class="post-prev-more">
                        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
                <!-- End Post Item -->
                
            </div>
            
        </div>
    </section>

    <!-- Call Action Section -->
    <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background=<%= asset_path("Thought_Leaders_NSOJ.jpg")%> style='background-image:url(<%= asset_path("Thought_Leaders_NSOJ.jpg")%>)' id="about">
        <div class="container relative">
            
            <div class="row">
                
                <div class="col-sm-6">
                    
                    <div class="mt-140 mt-lg-80 mb-140 mb-lg-80" >
                        <div class="banner-content" >
                           <h3 class="banner-heading font-alt" style="color:black;">About Us</h3>
                            <div class="banner-decription" style="color:black;" >
                                Our purpose is to transform the news media industry in India by training a select group of graduate students every year—60 of the brightest and best in journalistic talent—to become accomplished professional journalists. NSoJ will prepare them to pursue truth in a less than perfect world, recognise the wider contexts in which issues are framed and communicate this to the public in a responsible, balanced and fair manner. We hope to create in our students a generation of journalists with the tools and perspectives to act as agents of change in the news media industry in India.<br/><br/>
                                 Our 11-month Postgraduate Diploma in Journalism programmes are designed to provide our students the right platform and skills to not only to succeed, but to shape the future of journalism in India. Our faculty are leading reporters, columnists, editors, authors, academics, magazine editors, documentary filmmakers, and digital media specialists who are deeply committed to training, challenging, and supporting their students.<br/><br/>
                                We strongly encourage diversity in thought, culture, language, geography, gender, religion, academic and extracurricular interest, family circumstance, socio-economic background and more.
                            </div>
                            <div class="local-scroll">
                                <a href="#contact" class="btn btn-mod btn-medium btn-round">Lets talk</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-sm-6 banner-image wow fadeInUp" data-wow-duration="1.2s">
                    <img src="<%=asset_path('promo-1.png')%>" alt="" />
                </div>
                
            </div>
            
        </div>
    </section>
    <!-- End Call Action Section -->

    <!-- Alternative Services Section -->
    <section class="page-section" id="start">
        <div class="container relative">
            
            <!-- Section Headings -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 align-center">
                    
                    <h3 class="font-alt mb-70 mb-sm-40">NSOJ Method</h3>
                    
                    <div class="section-text mb-80 mb-xs-40">
                        Our postgraduate diploma programmes are structured to suit the needs of the media industry. At the same time we factor in developments that are expected to revolutionise the media industry in the next 10 years.<br/><br/>
 
                        Our environment is designed to allow the student to emerge out of campus mode, leave behind their esoteric cogitations and get down to business. The buzz of a newsroom with all its energy and quick reaction time will envelope NSoJ students, making them a part of the fourth estate the minute they walk in.
                    </div>
                                             
                </div>
            </div>
            <!-- End Section Headings -->
            
            <!-- Service Grid -->
            <div class="alt-service-grid">
                <div class="row">
                    
                    
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        
                        <!-- Alt Service Item -->
                        <div class="alt-service-wrap">
                            <div class="alt-service-item">
                                <div class="alt-service-icon">
                                    <i class="fa fa-life-ring"></i>
                                </div>
                                <h3 class="alt-services-title font-alt">Core Skill Learning </h3>
                                You will acquire skills to confidently enter careers in television, digital radio, newspapers and magazines as well as in convergence media, which is the future of journalism, combining print, photography and video into one digital piece.
                            </div>
                            
                            
                        </div>
                        <!-- End Service Item -->
                        
                        <!-- Alt Service Item -->
                        <div class="alt-service-wrap">
                            <div class="alt-service-item">
                                <div class="alt-service-icon">
                                    <i class="fa fa-desktop"></i>
                                </div>
                                <h3 class="alt-services-title font-alt">Essentials</h3>
                                You will be grounded in the fundamentals of journalism, law and ethics to prepare you for a credible, responsible and solid career in journalism.
                            </div>
                            
                            
                        </div>
                        <!-- End Service Item -->
                        
                        <!-- Alt Service Item -->
                        <div class="alt-service-wrap">
                            <div class="alt-service-item">
                                <div class="alt-service-icon">
                                    <i class="fa fa-bug"></i>
                                </div>
                                <h3 class="alt-services-title font-alt"> Newsroom training</h3>
                                Your on-the-job training begins early in the academic year. You will be allowed to try your hand at all forms of media before being tested for aptitude and choosing a specialisation that can only result in a successful career. Pedagogy is designed to factor in the rigours of news gathering from the field; developing a nose for news; production and a strong grounding in ethics.
                            </div>
                            
                            
                        </div>
                        <!-- End Service Item -->
                        
                       
                        
                    </div>
                    
                    
                    <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
                        
                        <div class="alt-services-image">
                            <img src="<%=asset_path('promo-2.png')%>" alt="" />
                        </div>
                        
                    </div>
                    
                    
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        
                        <!-- Alt Service Item -->
                        <div class="alt-service-wrap">
                            <div class="alt-service-item">
                                <div class="alt-service-icon">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <h3 class="alt-services-title font-alt">NSoJ Aptitude Tests</h3>
                                We will offer a series of customised aptitude tests along with counselling sessions to identify your core strengths and roles that you are best suited for.
                            </div>
                            
                        </div>
                        <!-- End Service Item -->
                        
                        <!-- Alt Service Item -->
                        <div class="alt-service-wrap">
                            <div class="alt-service-item">
                                <div class="alt-service-icon">
                                    <i class="fa fa-camera"></i>
                                </div>
                                <h3 class="alt-services-title font-alt">Beat specialisations</h3>
                                We will shape your perspectives on events and issues that matter, locally, nationally and globally. The areas of special interest at NSoJ are Politics and Society, Business and Finance, and Arts and Culture. You can choose to specialise in one of these areas for your beat. Politicians, bureaucrats, captains of industry, social workers, artists, actors, musicians, chefs, travel gurus and sports personalities will lecture and interact with you.
                            </div>
                            
                            
                        </div>
                        <!-- End Service Item -->
                        
                        <!-- Alt Service Item -->
                        <div class="alt-service-wrap">
                            <div class="alt-service-item">
                                <div class="alt-service-icon">
                                    <i class="fa fa-area-chart"></i>
                                </div>
                                <h3 class="alt-services-title font-alt">Live News Portal</h3>
                               You will work on a live news portal and develop skills to produce news videos, blogs, news features, reviews, opinion pieces, in-depth analyses and podcasts, etc.
                            </div>
                            
                            
                        </div>
                        <!-- End Service Item -->
                        
                       
                        
                    </div>
                    
                    
                </div>
            </div>
            <!-- End Service Grid -->
            
        </div>
    </section>
    <!-- End Alternative Services Section --> 

    <!-- Newsletter Section -->
    <section class="small-section bg-gray-lighter">
        <div class="container relative">
            
            <form class="form align-center" id="mailchimp">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        
                        <div class="newsletter-label font-alt">
                            Stay informed with our newsletter
                        </div>
                        
                        <div class="mb-20">
                            <input placeholder="Enter Your Email" class="newsletter-field form-control input-md round mb-xs-10" type="email" pattern=".{5,100}" required/>
                            
                            <button type="submit" class="btn btn-mod btn-medium btn-round mb-xs-10">
                                Subscribe
                            </button>
                        </div>
                        
                        <div class="form-tip">
                            <i class="fa fa-info-circle"></i> Please trust us, we will never send you spam
                        </div>
                        
                        <div id="subscribe-result"></div>
                        
                    </div>
                </div>
            </form>
            
        </div>
    </section>
    <!-- End Newsletter Section -->


    <!-- Google Map -->
    <div class="google-map">
        
        <div data-address="13.080113,77.592503" id="map-canvas"></div>
        
        <div class="map-section">
            
            <div class="map-toggle">
                <div class="mt-icon">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="mt-text font-alt">
                    <div class="mt-open">Open the map <i class="fa fa-angle-down"></i></div>
                    <div class="mt-close">Close the map <i class="fa fa-angle-up"></i></div>
                </div>
            </div>
            
        </div>
        
    </div>
    <!-- End Google Map -->

    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container relative">
        
            <div class="row mb-60 mb-xs-40">
                
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        
                        <div class="col-md-6 mb-20">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Address
                                </div>
                                <div class="ci-text">
                                    National School of Journalism<br/>
                                    2/F NCC Urban Windsor <br> 
                                    New Airport Road (opposite Jakkur Aerodrome) <br>
                                    Bangalore - 560 064, India
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="mb-20">
                                <div class="contact-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="ci-title font-alt">
                                        Call Us
                                    </div>
                                    <div class="ci-text">
                                        <a href="tel:+918046994799">Tel: +91 80 4699 4799</a><br>
                                        <a href="tel:+919845031305">Mobile: +91 98450 31305</a>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="contact-item">
                                    <div class="ci-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="ci-title font-alt">
                                        Email
                                    </div>
                                    <div class="ci-text">
                                        <a href="mailto:contact@nsoj.in">contact@nsoj.in</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
                
            </div>
            
            <!-- Contact Form -->                            
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>We are located 20 minutes from M.G. Road (Bangalore's Central Business District) and 20 minutes from Bangalore International Airport. Our location allows our students to conveniently undertake daily beats, and cover and break stories within moments of newsworthy events occurring in Bangalore city.</p><br><br>

                    <p>You can send us comments and enquiries by filling in the form below. We will make every effort to respond to your enquiries within 48 hours.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <%= form_for(@contact, :url => contact_path, :html => {:method => :post,:class=>"form contact-form"}) do |f| %>
                        <% if @contact.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

                              <ul>
                              <% @contact.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                        <% end %>
                        <div class="clearfix">
                            
                            <div class="cf-left-col">
                                <div class="form-group">
                                    
                                    <%= f.text_field :name , :class =>"input-md round form-control",:placeholder=>"Name*", :required=>"" %>
                                </div>
                                <div class="form-group">
                                   
                                    <%= f.text_field :email, :class =>"input-md round form-control",:placeholder=>"Email*", :required=>"" %>
                                </div>
                                <div class="form-group">
                                   
                                    <%= f.text_field :city, :class =>"input-md round form-control",:placeholder=>"City*", :required=>"" %>
                                </div>
                                <div class="form-group">
                                   
                                    <%= f.text_field :phone , :class =>"input-md round form-control",:placeholder=>"Phone*", :required=>""%>
                                </div>
                            </div>
                            
                            <div class="cf-right-col">
                                <div class="form-group">
                                   
                                    <%= f.select(:contact_subject_id, options_from_collection_for_select(@contact_subject, "id", "title"), {include_blank: "Select Subject*"}, {:class => "input-md  form-control", required: true}) %>
                                </div>
                                <div class="form-group">
                                   
                                    <%= f.text_field :university , :class =>"input-md round form-control",:placeholder=>"University", :pattern=>".{3,100}"%>
                                </div>

                                <div class="form-group">
                                    
                                    <%= f.text_area :message, :class =>"input-md round form-control",:placeholder=>"Message", :style=>"height: 84px; resize: none;" %>
                                </div>
                                

                                
                            </div>
                            
                        </div>
                        <div class="clearfix">
                            
                            <div class="cf-left-col">
                                
                                <!-- Inform Tip -->                                        
                                <div class="form-tip pt-20">
                                    <i class="fa fa-info-circle"></i> Important fields are marked by asterisk (*)
                                </div>
                                
                            </div>
                            
                            <div class="cf-right-col">
                                
                                <!-- Send Button -->
                               <!--  <div class="align-right pt-10">
                                    <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Submit Message</button>
                                </div> -->
                                <div class="actions align-right pt-10">
                                    <%= f.submit "Submit",:class=>"submit_btn btn btn-mod btn-medium btn-round" %>
                                </div>
                                
                            </div>
                            
                        </div>

                        <div id="result"></div>
                    <% end %>

                    <p style="margin-top: 15px;">NSoJ visits:-
                            We welcome prospective students who would like to visit us. NSoJ visits take place at 2:30 p.m. Monday-Friday in the month of May every year. Visitors should register with us by selecting the 'NSoJ Visits' subject line in the contact form and providing details of your visit.</p>
                    





                    <!-- <form class="form contact-form" id="contact_form">
                        <div class="clearfix">
                            
                            <div class="cf-left-col">
                                
                           
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="input-md round form-control" placeholder="Name" pattern=".{3,100}" required>
                                </div>
                                
                   
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="input-md round form-control" placeholder="Email" pattern=".{5,100}" required>
                                </div>
                                
               
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="input-md round form-control" placeholder="Email" pattern=".{5,100}" required>
                                </div>

           
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="input-md round form-control" placeholder="Email" pattern=".{5,100}" required>
                                </div>

                                
                            </div>
                            
                            <div class="cf-right-col">
                                
                         
                                <div class="form-group">                                            
                                    <textarea name="message" id="message" class="input-md round form-control" style="height: 84px;" placeholder="Message"></textarea>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        <div class="clearfix">
                            
                            <div class="cf-left-col">
                                
                                          
                                <div class="form-tip pt-20">
                                    <i class="fa fa-info-circle"></i> All the fields are required
                                </div>
                                
                            </div>
                            
                            <div class="cf-right-col">
                                
                           
                                <div class="align-right pt-10">
                                    <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Submit Message</button>
                                </div>
                                
                            </div>
                            
                        </div>
                        <br><br>
                        <p>NSoJ visits:-
                            We welcome prospective students who would like to visit us. NSoJ visits take place at 2:30 p.m. Monday-Friday in the month of May every year. Visitors should register with us by selecting the 'NSoJ Visits' subject line in the contact form and providing details of your visit.</p>
                        
                        <div id="result"></div>
                    </form> -->
                    
                </div>
            </div>
            <!-- End Contact Form -->
            
        </div>
    </section>
    <!-- End Contact Section -->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?language=en"></script>