
    <!-- Home Section -->
    <section class="small-section pb-0 pt-0" style="margin-top: 90px;">
    
    <div class="container align-center">
        
        <div class="mb-10">
            <img src=<%=asset_path('logo-footer.png')%> width="78" height="36" alt="" />
        </div>
    
        <h1 class="magazine-logo-text black font-alt">NSoJ TV</h1>
        
    </div>
       
</section>
    <!-- End Home Section -->
    
<hr class="mt-0 mb-30" />

    <!-- Portfolio Section -->
    <section class="small-section clearfix" style="padding-top: 0;">
        <div class="container relative">
            
            <!-- Works Filter -->                    
            <div class="works-filter font-alt align-center">
                <% NsojTvCategory.all.each do |category, index| %>
                    <%if index==0%>
                        <a href="#" style="text-transform: capitalize;" class="filter active" data-filter=".category_<%=category.id%>"><%=category.title%></a>
                    <%else%>
                        <a href="#" style="text-transform: capitalize;" class="filter" data-filter=".category_<%=category.id%>"><%=category.title%></a>
                    <%end%>
                <%end %>
            </div>                    
            <!-- End Works Filter -->
            
            <!-- Works Grid -->
            <ul class="works-grid work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">
                
                <% NsojTv.all.each do |tv, index| %>
                    <li class="work-item mix category_<%=tv.nsoj_tv_category_id%>">
                        <a href="<%=tv.link%>" target="blank">
                            <div class="work-img">
                              <img src="<%='http://i1.ytimg.com/vi/video_id/hqdefault.jpg'.gsub('video_id',get_youtube_id(tv.link))%>" alt="National School of Journalism" />
                            </div>
                            <div class="work-intro">
                                <h3 style="text-transform: capitalize;" class="work-title"><%=tv.title%></h3>
                                <%  @byline = ""
                                    tv.video_authors.each_with_index do |video_author, i|
                                        @byline += i > 0 ? " and " : ""
                                        @byline += "<a style='font-size: 11px; color: black;' href='#{student_path(video_author.student)}'>#{video_author.student.user.name}</a>"
                                    end
                                %><%=@byline.html_safe%>
                            </div>
                        </a>
                    </li>
                    
                <%end %>
                
            </ul>
            <!-- End Works Grid -->
            
        </div>
    </section>
    <!-- End Portfolio Section -->