<div id="home" >
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>

    <%=render 'stories/nav'%>
    <%=render 'stories/nsojpost_header'%>

    <%if params.has_key?(:vc) 
        post = NsojPost.where(id: params[:pc])

        if !post.empty?
            post = post.first%>
            <div class="controls">
                <p style="text-align: center; font-size: 20px;">
                    <%
                        prevPost = post.get_prev
                        nextPost = post.get_next
                        prevLink = prevPost.nil? ? "" : "e-paper?pc=#{prevPost.id}"
                        nextLink = nextPost.nil? ? "" : "e-paper?pc=#{nextPost.id}"
                    %>

                    <a style="text-decoration: underline;" href="<%=prevLink%>" class=<%=prevPost.nil? ? "not-active" : ""%>>< Previous</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;<%=local_time(post.created_at + 330.minutes, '%d %b, %Y')%>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a style="text-decoration: underline;" href="<%=nextLink%>" class=<%=nextPost.nil? ? "not-active" : ""%>>Next ></a>
                </p>
            </div>

            <div style="height: 3000px;">
                <object style="height: 100%" data=<%=post.document.url%> width="1250" height="100%" type='application/pdf'> 
                    This NSoJ Post cannot be rendered at the moment. Check if your Adobe Reader Plugin is up-to date.
                </object>
            </div>
        <%end%>
    <%else%>
        <div class="row mt-20">
            <!-- Works Filter -->                    
            <div class="works-filter font-alt align-center">
                <% NsojTvCategory.all.order("created_at DESC").each do |category, index| %>
                    <%if index==0%>
                        <a href="#" style="text-transform: capitalize;" class="filter active" data-filter=".category_<%=category.id%>"><%=category.title%></a>
                    <%else%>
                        <a href="#" style="text-transform: capitalize;" class="filter" data-filter=".category_<%=category.id%>"><%=category.title%></a>
                    <%end%>
                <%end %>
            </div>                    
            <!-- End Works Filter -->
            
            <!-- Works Grid -->
            <ul class="works-grid work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">
                
                <% NsojTv.all.order("created_at DESC").each do |tv, index| %>
                    <li class="work-item mix category_<%=tv.nsoj_tv_category_id%>">
                        <a href="<%=tv.link%>" target="blank">
                            <div class="work-img">
                              <img src="<%='http://i1.ytimg.com/vi/video_id/hqdefault.jpg'.gsub('video_id',get_youtube_id(tv.link))%>" alt="National School of Journalism" />
                            </div>
                            <div class="work-intro">
                                <h3 style="text-transform: capitalize;" class="work-title"><%=tv.title%></h3>
                                <%  @byline = ""
                                    tv.video_authors.each_with_index do |video_author, i|
                                        @byline += i > 0 ? " and " : ""
                                        @byline += "<a style='font-size: 11px; color: black;' href='#{student_path(video_author.student)}'>#{video_author.student.user.name}</a>"
                                    end
                                %><%=@byline.html_safe%>
                            </div>
                        </a>
                    </li>
                    
                <%end %>
                
            </ul>
            <!-- End Works Grid -->
        </div>
    <%end%>
</div>