<!-- Page Loader -->        
<%= render 'landing_page/page_loader' %>

<div id="home" >
    <%=render 'stories/nav'%>
    <%=render 'stories/nsojpost_header'%>

    <%if params.has_key?(:pc) 
        post = NsojPost.where(id: params[:pc])

        if !post.empty?
            post = post.first%>
            <div class="controls">
                <p style="text-align: center; font-size: 20px;">
                    <%
                        prevPost = post.get_prev
                        nextPost = post.get_next
                        prevLink = prevPost.nil? ? "" : "e-paper?pc=#{prevPost.id}"
                        nextLink = nextPost.nil? ? "" : "e-paper?pc=#{nextPost.id}"
                    %>

                    <a style="text-decoration: underline;" href="<%=prevLink%>" class=<%=prevPost.nil? ? "not-active" : ""%>>< Previous</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;<%=local_time(post.created_at + 330.minutes, '%d %b, %Y')%>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a style="text-decoration: underline;" href="<%=nextLink%>" class=<%=nextPost.nil? ? "not-active" : ""%>>Next ></a>
                </p>
            </div>

            <div style="height: 3000px;">
                <object style="height: 100%" data=<%=post.document.url%> width="1250" height="100%" type='application/pdf'> 
                    This NSoJ Post cannot be rendered at the moment. Check if your Adobe Reader Plugin is up-to date.
                </object>
            </div>
        <%end%>
    <%else%>
        <div class="row mt-20">
            <% NsojPost.all.order("created_at DESC").each do |post| %>
            <div class="col-md-2 fadeIn" style="margin-bottom: 40px;">
                <a href="e-paper?pc=<%=post.id%>"><img style="width: 100%;" src="<%=post.document.url(:thumb)%>" alt="Work" /></a>
                <p class="plain-font" style="text-align: center; font-size: 20px; font-weight: 700;">
                    <a href="e-paper?pc=<%=post.id%>"><%=local_time(post.created_at + 330.minutes, '%d %b, %Y')%></a> 
                </p>
            </div>
            <%end %>
        </div>
    <%end%>
</div>