<nav class="main-nav stick-fixed" style="background-color: #fff;">
        <div class="full-wrapper relative clearfix">
            
            <div class="nav-logo-wrap local-scroll">
                <%= link_to(stories_path, class: "logo", method: :get ) do %>
                    <img style="height: 40px;" src=<%= image_path("logo-nsoj-post.jpg") %> alt="NSoJ Post" />
                <%end%>
            </div>
            <div class="mobile-nav">
                <i class="fa fa-bars"></i>
            </div>
            
            <!-- Main Menu -->
            <div class="inner-nav desktop-nav">
                <ul class="clearlist scroll-nav local-scroll">
                    <%if @category_id.blank?%>
                        <%if params[:controller] == 'landing_page' && params[:action] == 'nsoj_post'%>
                            <li style="cursor: pointer;">
                                <a href=<%=stories_path%>>HOME</a>
                            </li>
                            <li style="cursor: pointer;">
                                <a href="/nsoj_post" style="font-weight: bold; color: red;">E-PAPER</a>
                            </li>
                        <%else%>
                            <li style="cursor: pointer;">
                                <a href=<%=stories_path%> style="font-weight: bold; color: red;">HOME</a>
                            </li>
                            <li style="cursor: pointer;">
                                <a href="/nsoj_post">E-PAPER</a>
                            </li>
                        <%end%>
                    <%end%>
                    <%@story_categories.each do |story_category|%>    
                        <li>
                            <%if @category_id.to_i == story_category.id.to_i %>
                                <a href="/stories?category_id=<%=story_category.id%>" style="font-weight: bold; color: red;"><%=story_category.title%></a>
                            <%else%>
                                <a href="/stories?category_id=<%=story_category.id%>"><%=story_category.title%></a>
                            <%end%>
                        </li>
                    <%end%>
                    <li></li>
                </ul>
            </div>
            <!-- End Main Menu -->
        </div>
    </nav>
    <!-- Home Section -->
    <section class="small-section pb-0 pt-0" style="margin-top: 90px;">
    
    <div class="container align-center">
        
        <div class="mb-10">
            <img src=<%=asset_path('logo-footer.png')%> width="78" height="36" alt="" />
        </div>
    
        <h1 class="magazine-logo-text black font-alt">NSoJ E-Paper</h1>
        
    </div>
       
</section>
    <!-- End Home Section -->
    <hr class="mt-0 mb-30" />


    <!-- Portfolio Section -->
    <section class="small-section">
      <div class="container relative">
        <% NsojPost.all.order("created_at DESC").each do |post| %>
          <div class="col-sm-4 col-md-3 col-lg-3 mb-md-50 wow fadeIn" >
            <a href=<%="#{post.document.url}"%> target="_blank" ><img src="<%=post.document.url(:thumb)%>" alt="Work" /></a>
            <!-- <a href="<%=post.document.url%>" target="_blank">
              <iframe src="<%=post.document.url%>&embedded=true" style=" height:500px;" frameborder="0"></iframe>
            </a> -->  

          </div>  
        <%end %>
      </div>
  </section>