<!-- Page Loader -->        
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->    

<div id="home" class="row">

    <div id="about" class="row" style="margin: 0;">
        
        <!-- Start of Images -->
        <div class="col-md-3 page-left-col" style="padding: 0 5px 0 0;">
            <div class="post-prev-img mb-0">
                <a href="/program" class="mfp-image">
                    <img src="<%= asset_path("left_tab/pgp.jpg")%>" alt="" />
                </a>
                <a class="left_tab_title slider-text font-alt" href="/program">Postgraduate Programmes</a>
            </div>
            <a class="twitter-timeline" data-chrome="nofooter noheader noscrollbar" data-theme="light" data-height="900" data-show-replies="true" href="https://twitter.com/NSoJ_Bangalore">Tweets by NSoJ_Bangalore</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- End of Images -->

        <!-- Start of About Us content -->
        <div class="col-md-6" style="padding: 0;">
            <!-- <h3 class="font-alt mb-70 mb-sm-40" style="text-align: center; margin-bottom: 20px;"><img src=<%= image_path("logo-footer.png") %> width="78" height="36" alt="National School of Journalism, Bangalore" /><span style="margin-left: 15px;">Career Services</span></h3> -->
            <img src="<%=asset_path('placements/internships.png')%>" alt="">
            <div class="banner-decription" style="color:black;" >
                The Internship and Career Services Centre at the National School of Journalism, Bangalore (NSoJ) offers valuable resources to help you at every stage of your career. <br><br>

                Experienced industry professionals advise students on a wide range of career development topics, including resumes, interviews, conducting a search, networking and selecting references. We connect students with prospective employers through our internship programme. We place our students at leading media organisations across India in a month-long mandatory internship programme. All of our students have had a wide range of opportunities to choose from and have been placed at prestigious news organisations. <br><br>

                Our campus placements are in the month of April by leading organisations from all over India. <br><br>

                Employers have access to a workforce that is ready to work from day one. The real-media experience gained through the NSoJ Method equips our students with the knowledge and skills needed in today's environment. Graduates of our Postgraduate Diploma in Journalism programme will have a choice of the best media roles appropriate for them. We do not believe in preparing our students for any job, rather we equip our students to choose the right job that will allow them to fully express their talents and skills. <br><br>

                Our selective admissions process, small class size, tremendous opportunities for skills, essentials and practical development and unparalleled industry connections ensure that our students receive the most meaningful and lucrative entry job offers in the Indian media industry. Our graduates will go on to work for India's leading newspapers, magazines, blogs, television and radio channels, as well as advertising agencies. Several of our students may also choose to start their careers within corporate communications departments of large Indian and multinational corporations. <br><br>

            </div>
        </div>
        <!-- End of About Us content -->
        <div class="col-md-3 page-right-col" style="padding: 0 0 0 5px;">
            <a href="/admission" style="margin-bottom: 5px; display: block;"><img src="<%= asset_path("banners/admission 2.png")%>" alt="" /></a>
            <img src="<%= asset_path("placements/left/bg0.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("placements/left/bg1.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("placements/left/bg2.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("placements/left/bg3.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("placements/left/bg4.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">

        </div>
    </div>
    
</div>