<script>
    document.title = "Postgraduate Journalism Courses in Bangalore, Karnataka, India"
</script>    
<div style='padding-top:75px;'></div>
    <!-- Home Section -->
    <section class="page-section home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background=<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%> style='background-image:url(<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%>)' id="home">
        <div class="js-height-parent container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                        National School of Journalism
                    </h1>
                    
                    <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                        Our Programmes
                    </h2>
                    
                    
                    
                </div>
            </div>
            <!-- End Hero Content -->
            
        </div>
    </section>
    <!-- End Home Section -->
	
	<!-- About Section -->
    <section class="page-section" id="about">
        <div class="container relative">
            
            <h2 class="section-title font-alt align-left mb-40 mb-sm-40">
                Programmes
            </h2>
            
            <div class="section-text">
                <div class="row">
                    
                    <div class="col-md-4 mb-sm-50 mb-xs-30">
                         
                       As a student in our 11-month Postgraduate Diploma in Journalism (P.G.D.J.) programmes, you will learn how to think critically and be an ethical and street smart journalist. critically and be an ethical and street smart journalist. Experienced instructors will offer one-on-one critiques and intensive feedback on your assignments, which are designed to challenge your understanding of key concepts and require application of course theory. Guided by our training, you will be fully prepared to tackle your career with the knowledge and confidence to excel. <br><br>
                       
                       <h2 class="hs-line-8 font-alt ">
                            Located in Bangalore, Karnataka, India
                        </h2>     
                     

                       We strive to maintain our reputation by offering one of the top postgraduate journalism courses in Banglore, Karnataka, India and work hard to ensure that each and every one of our students gets the best possible outcome. We select students based on their potential and aim to produce passionate and capable graduates that represent the future of the industry. Beyond completion of the course, our strong js-height-parenterships with major industry bodies give you access to favourable career prospects and other opportunities to gain experience.
                         
                    </div>
                    
                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:0px;">
                       Postgraduate Diploma in Journalism - Broadcast Media</h3>
						In this 11-month P.G.D.J programme you will acquire skills for a career in television, radio and digital broadcast media. This is a hands on course and the students are given ample time in the studio and on-field reporting in order to get a firm grounding in this popular and powerful medium. <br>
                        We take a holistic approach to digital news

and cover the many different aspects involved to equip students with the necessary skills for the workplace. You 

will be guided through the whole production process in a practical environment to gain valuable experience 

outside of the classroom.
                    </div>
                    
                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:0px;">
                        Postgraduate Diploma in Journalism - Print & Convergence Media</h3>
						In this 11-month P.G.D.J programme you will be trained for a career in traditional newspaper and magazine journalism as well as in convergence journalism, which is the future of news media, combining print photography and video into one digital piece. <br>

                        Upon completion of the course, you will be able to demonstrate versatile skills in

writing, interviewing, investigation, photography, video and more, while showing a deeper understanding of both 

personal and societal values.
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    <!-- End About Section -->


    <!-- Section -->
    <section class="page-section" id="broadcast_media">
        <div class="container relative">
            
            <div class="section-text mb-60 mb-sm-40" >
                <div class="row">
                    
                    <div class="col-sm-4 mb-sm-50 mb-xs-30">
                        
                        <h4 class="mt-0 font-alt">P.G.D.J in Broadcast Media</h4>
                        
                        <p>
                            Your journalism education begins with a 10-week skills training module called 'Writing and Reporting'. In the first term, all students take the following courses:
                        </p>
                       
                    </div>
                    
                    <div class="col-sm-8 mb-sm-50 mb-xs-30">
                         
                        <!-- Accordion -->
                        <dl class="accordion">
                            <dt>
                                <a href="">Term 1  July to October</a>
                            </dt>
                            <dd>
                                <p>Your journalism education begins with a 10-week skills training module called 'Writing and Reporting'. In the first term, all students take the following courses:</p>
								 <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:4px; margin-bottom:0px;">Television Writing and Reporting Skills</h3>
								<p>You will take classes in voiceovers, scripting, anchoring and making run-downs.</p>
								 <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:4px; margin-bottom:0px;">Audio-Visual Skills</h3>
								<p>You will take classes in video, audio, photography, and graphics and design.</p>
								 <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:4px; margin-bottom:0px;">Audience and Engagement Skills</h3>
								<p>You will attend seminars in digital engagement including classes in social media for journalists.</p>
								<p>You will also complete three short courses in the essentials: law, ethics, and the fundamentals of journalism.</p>

								<p>A culmination of the skills and essentials modules comes about when students begin to produce journalistic work on a daily basis for the duration of the programme. Students will put out video broadcasts and podcasts, available to stream live. This work is produced under the mentorship of their pathway instructors. Students are encouraged to compete with local and national media houses on getting scoops and putting out content on our news portal that meets the highest professional journalistic standards.</p>
                            </dd>
                            <dt>
                                <a href="">Term 2  November to February</a>
                            </dt>
                            <dd>
                                <p>The second term allows you to take classes in your areas of interest where you begin to specialize in beats. Our beat specialisations are: (i) Politics & Society; (ii) Business & Finance; and (iii) Arts & Culture. This includes four weeks devoted to digital training, and for six weeks you'll be assigned a beat to learn reporting methods such as how to gather and evaluate information, how to interview people, and how to tell a compelling story in your area of specialisation.</p>
                            </dd>
                            <dt>
                                <a href="">Term 3  March to May</a>
                            </dt>
                            <dd>
                                <p>The final term will combine practical work at NSoJ with external work experience gained through a structured and compulsory internship programme at leading news organizations across India. Each year ends with students working on individual projects that draw from their collective learning over the course of their study. These projects, delivered in broadcast or multimedia, serve as formidable additions to their portfolios. Mentors will help students showcase their work on live news portals.</p>
                            </dd>
                        </dl>
                        <!-- End Accordion -->
                         
                    </div>
                    
                </div>
            </div><br><br><br>
            
        </div>
    </section>
    <!-- End Section -->

    <section class="page-section" id="convergence_media">
        <div class="container relative">
            <div class="section-text mb-60 mb-sm-40" >
                <div class="row">
                    
                    <div class="col-sm-4 mb-sm-50 mb-xs-30">
                        
                        <h4 class="mt-0 font-alt">P.G.D.J in Print and Convergence Media</h4>
                        
                        <p>
                            In this programme you will be trained for a career in traditional newspaper and magazine journalism as well as in convergence media, which is the future of journalism, combining print, photography and video into one digital piece.
                        </p>
                       
                    </div>
                    
                    <div class="col-sm-8 mb-sm-50 mb-xs-30">
                         
                        <!-- Accordion -->
                        <dl class="accordion">
                            <dt>
                                <a href="">Term 1  July to October</a>
                            </dt>
                            <dd>
                                <p>Your journalism education begins with a 10-week skills training module called 'Writing and Reporting'. In the first term, all students take the following courses</p>
                                 <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:4px; margin-bottom:0px;">Writing Skills</h3>
                                <p>You will take classes in deadline news, profile writing and feature writing.</p>
                                 <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:4px; margin-bottom:0px;">Audio-Visual Skills</h3>
                                <p>You will take classes in video, audio, photography, and graphics and design.</p>
                                 <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:4px; margin-bottom:0px;">Audience and Engagement Skills</h3>
                                <p>You will attend seminars in digital engagement including classes in social media for journalists.</p>
                                <p>You will also complete three short courses in the essentials: law, ethics, and the fundamentals of journalism.</p>

                                <p>A culmination of the skills and essentials modules comes about when students begin to produce journalistic work on a daily basis for the duration of the programme. Students update our in-house news portal with the latest stories, analyses and videos written and created by them. This work is produced under the mentorship of their pathway instructors. Students are encouraged to compete with local and national media houses on landing scoops and putting out content on the news portal that meets highest professional journalistic standards.</p>
                            </dd>
                            <dt>
                                <a href="">Term 2  November to February</a>
                            </dt>
                            <dd>
                                <p>The second term allows you to take classes in your areas of interest where you begin to specialize in beats. Our beat specialisations are: (i) Politics & Society; (ii) Business & Finance; and (iii) Arts & Culture. This includes four weeks devoted to digital training, and for six weeks you'll be assigned a beat to learn reporting methods such as how to gather and evaluate information, how to interview people, and how to write a compelling story in your area of specialisation.</p>
                            </dd>
                            <dt>
                                <a href="">Term 3  March to May</a>
                            </dt>
                            <dd>
                                <p>The final term will combine practical work at NSoJ with external work experience gained through a structured and compulsory internship programme at leading news organizations across India. Each year ends with students working on individual projects that draw from their collective learning over the course of their study. These projects, delivered in print or multimedia, serve as formidable additions to their portfolios. Mentors will help students publish their their finished work.</p>
                            </dd>
                        </dl>
                        <!-- End Accordion -->
                         
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

     <!-- Features Section -->
    <section class="page-section" id="faculty">
        <div class="container relative">
            
            <h2 class="section-title font-alt mb-70 mb-sm-40">
                Faculty
            </h2>
            
            <!-- Features Grid -->
            <div class="row multi-columns-row alt-features-grid">
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <img  src="<%= asset_path("faculty/h_s_balram.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                        </div>
                        <h2 class="alt-features-title font-alt">H.S. Balram</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;">Director <br>
                            <span class="post-prev-info font-alt">Opinion and editorial writing, Politics & Society</span></h3>
                        <div class="alt-features-descr align-left">
                            H.S. Balram is a familiar face in Karnataka's media landscape. He was Resident Editor at The Times of India for 15 years. During his tenure, the paper reached the number one position in Karnataka in terms of readership and circulation. He was also best known for his popular column To The Point. Before joining The Times of India, he was with the Indian Express in New Delhi and served as Resident Editor of the Indian Express, Bangalore. He was a director at Asianet News Network and the host of a weekly talk show on Radio Indigo 91.9 FM.

                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <img  src="<%= asset_path("faculty/saswati-nsoj1.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                        </div>
                        <h2 class="alt-features-title font-alt">Saswati Chakravarty</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Core editing skills, Business & Finance</span></h3>
                        <div class="alt-features-descr align-left">
                            Saswati is a veteran business journalist. She spent 22 years at The Economic Times, eventually serving as Resident Editor of the South Editions. She successfully incubated, set up and launched three major metropolitan editions of The Economic Times. In 2010, she started Bhasha News Media, a development media platform disseminating livelihoods-focused news to rural areas. Bhasha News Media operates in the regional language media space with a view to having a more inclusive media, built on the theme of social justice; as she puts it, "even marginalized voices have a right to be heard". She is consulting editor as well as senior faculty member at NSoJ.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                 <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <img  src="<%= asset_path("faculty/thangaraj.JPG")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                        </div>
                        <h2 class="alt-features-title font-alt">Dr. Thomas Thangaraj</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;">Dean of Academic Affairs <br><span class="post-prev-info font-alt"><span class="post-prev-info font-alt">Ethics, Politics & Society</span></h3>
                        <div class="alt-features-descr align-left">
                            Professor Thomas Thangaraj has a longstanding and celebrated career in the field of academia. He completed his doctoral studies at Harvard University and is Professor Emeritus at Emory University, Atlanta. He was Visiting Scholar at Oklahoma City University, and Visiting Professor at Harvard and Boston Universities. He has been published extensively; he is the author of 12 books and numerous academic papers. His teaching interests have been ethics, religious diversity and inter-faith engagement, subject areas that he will deliver lectures on at NSoJ, where he also serves as Dean of Academic Affairs.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <img  src="<%= asset_path("faculty/simon.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                        </div>
                        <h2 class="alt-features-title font-alt">Simon Varghese</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;">Principal Instructor <br><span class="post-prev-info font-alt">Convergence Media</span></h3>
                        <div class="alt-features-descr align-left">
                            Media and Communications professional with close to 20 years of experience in print, online and television journalism. He was Editorial head at Indiatimes.com and was responsible for the portal’s city specific site timescity.com. Earlier, he was the Online Editorial Coordinator of the Economic Times. Simon was also Senior Editor and Senior Production Executive at News9. He handles the Print and Convergence pathway at NSoJ.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <img  src="<%= asset_path("faculty/Divya-S_new.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                        </div>
                        <h2 class="alt-features-title font-alt">Divya Sreedharan</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Writing skills, art and culture, lifestyle journalism, gender, social media</span></h3>
                        <div class="alt-features-descr align-left">
                           Divya is a journalist and blogger who contributes to The Hindu Sunday Magazine, publications from the India Today group, and citizenmatters.in. She has over 15 years in journalism covering news reporting (at The Indian Express, The Hindu, ToI) and magazine writing (Marie Claire India). She has also had a short stint in advertising copywriting/content editing (Saatch & Saatchi Direct)
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <img  src="<%= asset_path("faculty/baba_prasad.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                        </div>
                        <h2 class="alt-features-title font-alt">M. Baba Prasad</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Reporting, Editing and Writing Skills</span></h3>
                        <div class="alt-features-descr align-left">
                           Baba Prasad is a veteran journalist with over 35 years of experience. He served as News Editor at The Hindu in Bangalore. Earlier, he was with the Indian Express and Mid-Day groups. He is widely recognised for his accomplishments in the newsroom and the classroom. He has delivered several University Grants Commission lectures and is a member on the board of studies at various universities. He has authored the book, Reporting: Principles and Practice.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->


                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <img  src="<%= asset_path("faculty/santosh.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                        </div>
                        <h2 class="alt-features-title font-alt">J. Santosh</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;">Principal Instructor <br><span class="post-prev-info font-alt">Broadcast media</span></h3>
                        <div class="alt-features-descr align-left">
                            Broadcast journalist J. Santosh has been a mainstay at some of the country's finest newsrooms, with stints as senior editor at NDTV, Sify and CNBC's online bureau. Building on existing experience as a print journalist, he earned his stripes during his time as senior editor with Raj TV and deputy editor with Jaya TV. With the ability to work across formats, Santosh was most recently a senior editor at New Generation Television. He handles the broadcast pathway at NSoJ, with two decades of experience in everything from creating news packages and voice-overs to reporting live from the scene.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

               
                
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <img  src="<%= asset_path("faculty/anand_subramanian.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                        </div>
                        <h2 class="alt-features-title font-alt">Anand Subramanian</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Documentary filmmaking; art and culture</span></h3>
                        <div class="alt-features-descr align-left">
                           Anand Subramanian runs the Documentary Filmmaking elective module at NSoJ. Anand is an accomplished and renowned film maker, having produced and directed several feature films, television commercials, corporate videos, television series and documentary films. He worked as the in-house filmmaker for advertising agency MAA Bozel in the 1980s, and regularly produces and directs documentary film projects in India for Unilever, London. Anand is also an actor, and has featured in Kannada films as well as in a Tamil television serial. He is an alumnus of the prestigious Film and Television Institute of India (FTII), Pune where he specialised in firm direction and of the Film School, University of Southern California, Los Angeles where he specialised in independent film making.
                        </div>
                    </div>
                </div> 

                

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                             <img  src="<%= asset_path("faculty/jervis.jpg")%>" alt="National School of Journalism, Bangalore" style="width:180px;" class="img-circle">
                        </div>
                        <h2 class="alt-features-title font-alt">JERVIS DEUEL ARTHUR</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Script writing, Television Features</span></h3>
                        <div class="alt-features-descr align-left">
                           Jervis is chief writer, director and supervising producer for No Newsense, a satirical show produced entirely by NSoJ. He has more than seven years of experience in the visual media industry where he worked in editorial and technical teams. He has played many roles ranging from Editor to Senior Team Lead. Jervis holds a Masters in Business Administration (Human Resources) and an Advanced Diploma in Business Management. Jervis uses these skills to great effect in directing No Newsense.
                        </div>
                    </div>
                </div>
                

                  <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <img  src="<%= asset_path("faculty/anon.png")%>" alt="" style="width:180px;" class="img-circle"> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Ashish Sen</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Community Radio</span></h3>
                        <div class="alt-features-descr align-left">
                           Ashish Sen is a media consultant, community radio educator and advocate. He is on the Board of AMARC (Association Mondiale des Radiodiffusuers Communautaires), Asia Pacific and a member of AMARC International&apos;s Governance Committee. He is also Editor of Community Radio News, a newsletter managed by the UNESCO Chair on Community Media. Since the late eighties he has been professionally engaged at senior management levels with frontline development organizations in India and outside like ActionAid and VOICES. Earlier, he was Assistant Editor with the Business Standard in Kolkata. He handles the Radio Modules at NSoJ.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                
                
                

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <img  src="<%= asset_path("faculty/anon.png")%>" alt="" style="width:180px;" class="img-circle"> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Namas Bhojani</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Photo Journalism</span></h3>
                        <div class="alt-features-descr align-left">
                           Namas Bhojani is an international freelance assignment photographer. Based in India, his editorial clients include Forbes, Wired (Conde Nast), CFO, CIO, Marie Claire (Hearst), Bloomberg News, Bloomberg Markets magazine, New York Times, International Herald Tribune, Financial Times, BusinessWeek, WSJ, San Jose Mercury News, Stern, Der Spiegel, Several other US and European publications including Time, Fortune. He has been a stringer for AP and AFP in the past; Consulting Photo Editor-cum-Contract Photographer for Cosmopolitan magazine's Indian edition; Chief Photographer-cum-Photo Editor of Business Today.  Spent the academic year 1995-96 at Stanford University, as part of the Knight Fellowship Program for mid-career journalists. Explored the World Wide Web, Californian wine, Jazz music, Hollywood cinema and the American way of life. Namas is a photographer who enjoys photographing very diverse subjects from Adverting and Commercial, Food to Fashion and Beauty to hardcore reportage, travel and creative image making. Namas is a senior guest faculty at NSoJ handling photo journalism.
                        </div>
                    </div>
                </div> 

                <!-- Features Item -->
                <!-- <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            
                        </div>
                        <h2 class="alt-features-title font-alt">Joseph Hoover</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Writing skills, Sports</span></h3>
                        <div class="alt-features-descr align-left">
                           Joseph Hoover is a cricket writer and was the sports editor at The Times of India, Bangalore, before he became senior editor at Deccan Chronicle. He was earlier sports in-charge at Deccan Herald, before which he was a cricket correspondent at the Indian Express. He is presently the CEO of Belagavi Panthers, a franchisee in the Karnataka Premier League (KPL) Twenty20 cricket tournament. He is also an avid wildlife enthusiast and has been instrumental in involving Indian cricketers – Sachin Tendulkar, Harbhajan Singh, Yusuf Pathan, Irfan Pathan, Yuvraj Singh, Zaheer Khan and Virender Sehwag, among others – in raising the profile of wildlife conservation. He delivers the sports journalism modules at NSoJ.
                        </div>
                    </div>
                </div> -->
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <img  src="<%= asset_path("faculty/anon.png")%>" alt="" style="width:180px;" class="img-circle"> -->
                        </div>
                        <h2 class="alt-features-title font-alt">S. Srinivasan</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Television reporting, Politics and Society, Business & Finance</span></h3>
                        <div class="alt-features-descr align-left">
                           Srinivasan is the Founder Editor of Headlines Today and Puthiya Thalaimurai, Tamil Nadu's leading TV news channel. He was the former executive editor of Aaj Tak and the Managing Editor of Mint TV. He was also the former editor of Eenadu TV and ABNi (now part of CNBC). During his early days he has been a reporter with The Economic Times, The Hindu Business Line and The Telegraph. He was also the President (News Media) of IANS. He is senior visiting faculty at NSoJ handling television reporting, and modules in Politics & Society and Business & Finance.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <!--  <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <img  src="<%= asset_path("faculty/anon.png")%>" alt="" style="width:180px;" class="img-circle">
                        </div>
                        <h2 class="alt-features-title font-alt">Joe A. Scaria</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Television, Politics & Society</span></h3>
                        <div class="alt-features-descr align-left">
                           Girish Nikam is a popular anchor and consultant with Rajya Sabha TV. He is also an independent columnist for online portals, newspapers, magazines and an editorial writer for The New Indian Express. Earlier, he was special correspondent with the Eenadu Group, India Today and Indian Express, and senior correspondent with India Today. He is senior guest faculty at NSoJ.

                        </div>
                    </div>
                </div>
                 -->                
                 <!-- End Features Item -->

              <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <img  src="<%= asset_path("faculty/anon.png")%>" alt="" style="width:180px;" class="img-circle"> -->
                        </div>
                        <h2 class="alt-features-title font-alt">S. Jason</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Politics & Society—Parliament of India</span></h3>
                        <div class="alt-features-descr align-left">
                           Jason is Director in the Rajya Sabha Secretariat, Parliament of India, New Delhi. He is in charge of the Rajya Sabha Secretariat’s conferences and protocols division. He is also a trainer in parliamentary practices and procedures both for in-house parliamentary staff as well as for visiting foreign parliamentary staff. He will deliver guest lectures on Politics & Society—Parliamentary Affairs.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

          

                

                
                
            </div>
            <!-- End Features Grid -->
        
        </div>
    </section>
    <!-- End Features Section -->



