<!-- Page Loader -->        
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->    

 <section class="small-section bg-dark-alfa-30 parallax-2" data-background=<%= asset_path("full-width-images/NSOJ_Journalism_School1.gif")%> style='margin-top: 75px; background-image:url(<%= asset_path("full-width-images/NSOJ_Journalism_School1.gif")%>)'>
        <div class="relative container align-left">
            
            <div class="row">
                
                <div class="col-md-8">
                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">NSoJ Brochure</h1>
                    <div class="hs-line-4 font-alt">
                    </div>
                </div>
                
              
            </div>
            <div class="row">
                <!-- <div class="mb-10 mt-30">
                        <a href="/slants/new" class="btn btn-mod btn-w btn-circle btn-large" style="border: 2px solid #e41919; color:red;">Apply now</a>
                    </div> -->
            </div>
            
        </div>
    </section>

    <section class="page-section pb-0">
        <div class="relative">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <img src=<%=asset_path("brochure/brochure_1.jpg")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("brochure/brochure_2.jpg")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("brochure/brochure_3.jpg")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("brochure/brochure_4.jpg")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("brochure/brochure_5.jpg")%> alt="National School of Journalism, Bangalore" />
                    <img src=<%=asset_path("brochure/brochure_6.jpg")%> alt="National School of Journalism, Bangalore" />

                </div>
            </div>
        </div>
    </section>
