

    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background=<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%> style='background-image:url(<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%>)' id="home">
        <div class="js-height-parent container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    
                   <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                        National School of Journalism
                    </h1>
                    
                    <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                        Why Us
                    </h2>
                    
                    
                    
                    
                </div>
            </div>
            <!-- End Hero Content -->
            
        </div>
    </section>
    <!-- End Home Section -->

    <!-- About Section -->
    <section class="page-section" id="why_choose_us">
        <div class="container relative">
            
            <h2 class="section-title font-alt align-left mb-50 mb-sm-40">
                 Why Choose Us?
            </h2>
            
            <div class="section-text">
                <div class="row">
                    
                    <div class="col-md-12 mb-sm-50 mb-xs-30">
                         
                       You seek a career that is dynamic, influential and exciting. You are courageous, independent, curious, open-minded, and like to communicate. Your engagement with society, your country and the world makes you want to make a difference. Begin your life as a journalist at National School of Journalism, Bangalore (NSoJ). <br><br>
 
                        An NSoJ postgraduate diploma in journalism will enable you to do the following.
                         
                    </div>
  
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mb-sm-50 mb-xs-30">
                        <h3 class="section-title font-alt align-left  " style="font-size:16px;">Tell impactful stories </h3>
                        You will be trained to write, film and narrate the most relevant and important stories of our time, from deadline reporting to profile writing and documentary features.
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mb-sm-50 mb-xs-30">
                        <h3 class="section-title font-alt align-left  " style="font-size:16px;">Kick start your career</h3>
                        In less than one year, you will develop skills and knowledge that take years to build in the field.
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mb-sm-50 mb-xs-30">
                        <h3 class="section-title font-alt align-left  " style="font-size:16px;">Find your perfect job</h3>
                        Our admissions process is extremely selective to pick out 60 of the brightest and best candidates every year. Our students are carefully chosen for their potential to be agents of transformation and to have successful careers in journalism. You will be guided by a high-level career services team who have deep and extensive industry connections, and you will have excellent career prospects. Our commitment is to help each of you find not just any job but the right journalism job to exhibit your commitment, talents and strengths.
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mb-sm-50 mb-xs-30">
                        <h3 class="section-title font-alt align-left  " style="font-size:16px;">Break stories in Bangalore city </h3>
                        Bangalore city is India's most cosmopolitan city. It is a cultural melting pot as well as a world leading technology city, making it a great place to learn how to report and to connect with innovation that is shaping journalism's future. You will contribute to and produce our in-house print, broadcast and digital publications.
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    <!-- End About Section -->

    <!-- Features Section -->
    <section class="page-section" id="advisory_board">
        <div class="container relative">
            
            <h2 class="section-title font-alt mb-70 mb-sm-40">
                Advisory Board
            </h2>
            
            <!-- Features Grid -->
            <div class="row multi-columns-row alt-features-grid">
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">H.S. Balram</h2>
                        
                        <div class="alt-features-descr align-left">
                            H.S. Balram is Director of National School of Journalism, Bengaluru. He is a familiar face in Karnataka's media landscape. He was Resident Editor at The Times of India for 15 years. During his tenure, the paper reached the number one position in Karnataka in terms of readership and circulation. He was also best known for his popular column To The Point. Before joining The Times of India, he was with the Indian Express in New Delhi and served as Resident Editor of the Indian Express, Bangalore. He was a director at Asianet News Network and the host of a weekly talk show on Radio Indigo 91.9 FM.

                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Franklyn James</h2>
                       
                        <div class="alt-features-descr align-left">
                           A strategic planner and principal architect of the success of The Times of India’s penetration and dominance in South India, Franklyn James was Vice President for Results and Market Development (South) for The Times Group, with close to 30 years of experience at the broadsheet. He has executed the launch of every edition of The Times of India and the Economic Times in South India, making Bangalore a veritable fortress for the paper and consolidating its lead over every other English daily. He was also a Senior Advisor at The Hindu, and is now Designated Partner, Purrah News Media LLP.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Imran Qureshi</h2>
                        
                        <div class="alt-features-descr align-left">
                            Imran Qureshi has served as bureau chief for an array of media houses, both in the print and broadcast media, including The Times of India, Business India Television, AAJ Tak and Headlines Today. He is a former editor with TV Today, and also contributes to BBC Hindi. Apart from his years of experience, he brings a deep knowledge of how successful newsrooms function and the best practices they must integrate. He serves as senior guest faculty at NSoJ, anchoring beat specialisations in Politics & Society for our P.G.D.J. programmes.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Saswati Chakravarty</h2>
                        
                        <div class="alt-features-descr align-left">
                           Saswati is a veteran business journalist. She spent 22 years at The Economic Times, eventually serving as Resident Editor of the South Editions. She successfully incubated, set up and launched three major metropolitan editions of The Economic Times. In 2010, she started Bhasha News Media, a development media platform disseminating livelihoods-focused news to rural areas. Bhasha News Media operates in the regional language media space with a view to having a more inclusive media, built on the theme of social justice; as she puts it, "even marginalized voices have a right to be heard". She is consulting editor and senior faculty member at NSoJ.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Dr. Thomas Thangaraj</h2>
                  
                        <div class="alt-features-descr align-left">
                            Professor Thomas Thangaraj has a longstanding and celebrated career in the field of academia. He completed his doctoral studies at Harvard University and is Professor Emeritus at Emory University, Atlanta. He was Visiting Scholar at Oklahoma City University, and Visiting Professor at Harvard and Boston Universities. He has been published extensively; he is the author of 12 books and numerous academic papers. His teaching interests have been ethics, religious diversity and inter-faith engagement, subject areas that he will deliver lectures on at NSoJ, where he also serves as Dean of Academic Affairs.
                        </div>
                       
                    </div>
                </div>
                <!-- End Features Item -->


                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">S. Srinivasan</h2>
                        
                        <div class="alt-features-descr align-left">
                           Srinivasan is the Founder Editor of Headlines Today and Puthiya Thalaimurai, Tamil Nadu's leading TV news channel. He was the former executive editor of Aaj Tak and the Managing Editor of Mint TV. He was also the former editor of Eenadu TV and ABNi (now part of CNBC). During his early days he has been a reporter with The Economic Times, The Hindu Business Line and The Telegraph. He was also the President (News Media) of IANS. He is senior visiting faculty at NSoJ handling television reporting, and modules in Politics & Society and Business & Finance.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->


                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Timothy Franklyn</h2>
                        
                        <div class="alt-features-descr align-left">
                            Timothy Franklyn is an international corporate finance lawyer, having worked in New Delhi, Singapore and Hong Kong at some of the world’s most prestigious law firms. He regularly advises governments, corporations and global investment banks on international capital markets transactions, including sovereign debt offerings, high yield bond offerings, initial public offerings and private placements. He has published several articles in The Financial Times as well as in the Indian Business Law Journal. He graduated from the London School of Economics with an LL.M in International Business Laws. He is currently a senior corporate finance lawyer at DLA Piper in Hong Kong, and serves as non-executive Chairman of Purrah News Media LLP. He is guest faculty at NSoJ and delivers modules in ethics and law as well as in Business & Finance.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Dr. Devleena Ghosh</h2>
                        
                        <div class="alt-features-descr align-left">
                            Devleena Ghosh is an associate professor in the Faculty of Communication at the University of Technology, Sydney (UTS), and is part of the Social Inquiry Program at UTS. She is a core member of the Cosmopolitan Civil Societies Research Centre, Member of the South Asian Studies Association, the Asian Studies Association of Australia and the Australian Historical Association. She serves at the helm of The Asian Studies Review as its regional editor and is the also the director of UTS' Indian Ocean and the South Asia Research Network. Her areas of expertise are post-colonial, environmental and global studies. She guides and informs social justice related courses at NSoJ.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">R.B.U. Shyam Kumar</h2>
                        
                        <div class="alt-features-descr align-left">
                           R.B.U. Shyam Kumar is the chief executive officer (CEO) of the Puthiya Thalaimurai Group, producers of Tamil Nadu's leading television news channel, Puthiya Thalaimurai. He played a key role in the successful launch of the channel in 2011. He was also instrumental in the launch of the general television entertainment channel, PudhuYugam, in 2013. Prior to joining the Puthiya Thalaimurai Group, he had a long stint with the Times of India Group.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Girish Nikam</h2>
                        
                        <div class="alt-features-descr align-left">
                           Girish Nikam is a popular anchor and consultant with Rajya Sabha TV. He is also an independent columnist for online portals, newspapers, magazines and an editorial writer for The New Indian Express. Earlier, he was special correspondent with the Eenadu Group, India Today and Indian Express, and senior correspondent with India Today. He is senior guest faculty at NSoJ.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

               
                
                
            </div>
            <!-- End Features Grid -->
        
        </div>
    </section>
    <!-- End Features Section -->
    
    <!-- Call Action Section -->
    <section class="page-section pt-0 pb-0 banner-section bg-dark bg-dark-alfa-70" data-background=<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%> style='background-image:url(<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%>)' id="technology">
        <div class="container relative">
            
            <div class="row">
                
                <div class="col-sm-6">
                    
                    <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                        <div class="banner-content">
                            <h3 class="banner-heading font-alt">Technology</h3>
                            <div class="banner-decription">
                                All our students will have access to cutting-edge news gathering, production and broadcasting technology. Our students are trained in and use software tools that are commonly used in media organisations in India and internationally. All students will receive state-of-the-art Hewlett-Packard (HP) laptops to gather, report, produce, publish and broadcast journalistic content. Costs of these laptops are included in the programme fees, and students can take these with them when they graduate from NSoJ.
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-sm-6 banner-image wow fadeInUp" data-wow-duration="1.2s">
                    <img src="<%= asset_path('promo-1.png')%>" alt="" />
                </div>
                
            </div>
            
        </div>
    </section>
    <!-- End Call Action Section -->

    <!-- Features Section -->
    <section class="page-section" id="faculty">
        <div class="container relative">
            
            <h2 class="section-title font-alt mb-70 mb-sm-40">
                Faculty
            </h2>
            
            <!-- Features Grid -->
            <div class="row multi-columns-row alt-features-grid">
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">H.S. Balram</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;">Director <br>
                            <span class="post-prev-info font-alt">Opinion and editorial writing, Politics & Society</span></h3>
                        <div class="alt-features-descr align-left">
                            H.S. Balram is a familiar face in Karnataka's media landscape. He was Resident Editor at The Times of India for 15 years. During his tenure, the paper reached the number one position in Karnataka in terms of readership and circulation. He was also best known for his popular column To The Point. Before joining The Times of India, he was with the Indian Express in New Delhi and served as Resident Editor of the Indian Express, Bangalore. He was a director at Asianet News Network and the host of a weekly talk show on Radio Indigo 91.9 FM.

                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Saswati Chakravarty</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;">Consulting Editor <br> <span class="post-prev-info font-alt">Core editing skills, Business & Finance</span></h3>
                        <div class="alt-features-descr align-left">
                            Saswati is a veteran business journalist. She spent 22 years at The Economic Times, eventually serving as Resident Editor of the South Editions. She successfully incubated, set up and launched three major metropolitan editions of The Economic Times. In 2010, she started Bhasha News Media, a development media platform disseminating livelihoods-focused news to rural areas. Bhasha News Media operates in the regional language media space with a view to having a more inclusive media, built on the theme of social justice; as she puts it, "even marginalized voices have a right to be heard". She is consulting editor as well as senior faculty member at NSoJ.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Simon Varghese</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;">Principal Instructor <br><span class="post-prev-info font-alt">Convergence Media</span></h3>
                        <div class="alt-features-descr align-left">
                            Media and Communications professional with close to 20 years of experience in print, online and television journalism. He was Editorial head at Indiatimes.com and was responsible for the portal’s city specific site timescity.com. Earlier, he was the Online Editorial Coordinator of the Economic Times. Simon was also Senior Editor and Senior Production Executive at News9. He handles the Print and Convergence pathway at NSoJ.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Imran Qureshi</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Core reporting skills, Politics & Society</span></h3>
                        <div class="alt-features-descr align-left">
                           Imran Qureshi has served as bureau chief for an array of media houses, both in the print and broadcast media, including The Times of India, Business India Television, AAJ Tak and Headlines Today. He is a former editor with TV Today, and also contributes to BBC Hindi. Apart from his years of experience, he brings a deep knowledge of how successful newsrooms function and the best practices they must integrate. He serves as senior guest faculty at NSoJ, anchoring beat specialisations in Politics & Society for our P.G.D.J. programmes.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Joseph Hoover</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Reporting, Editing and Writing Skills</span></h3>
                        <div class="alt-features-descr align-left">
                           Baba Prasad is a veteran journalist with over 35 years of experience. He served as News Editor at The Hindu in Bangalore. Earlier, he was with the Indian Express and Mid-Day groups. He is widely recognised for his accomplishments in the newsroom and the classroom. He has delivered several University Grants Commission lectures and is a member on the board of studies at various universities. He has authored the book, Reporting: Principles and Practice.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->


                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">J. Santosh</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;">Principal Instructor <br><span class="post-prev-info font-alt">Broadcast media</span></h3>
                        <div class="alt-features-descr align-left">
                            Broadcast journalist J. Santosh has been a mainstay at some of the country's finest newsrooms, with stints as senior editor at NDTV, Sify and CNBC's online bureau. Building on existing experience as a print journalist, he earned his stripes during his time as senior editor with Raj TV and deputy editor with Jaya TV. With the ability to work across formats, Santosh was most recently a senior editor at New Generation Television. He handles the broadcast pathway at NSoJ, with two decades of experience in everything from creating news packages and voice-overs to reporting live from the scene.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Dr. Thomas Thangaraj</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;">Dean of Academic Affairs <br><span class="post-prev-info font-alt"><span class="post-prev-info font-alt">Ethics, Politics & Society</span></h3>
                        <div class="alt-features-descr align-left">
                            Professor Thomas Thangaraj has a longstanding and celebrated career in the field of academia. He completed his doctoral studies at Harvard University and is Professor Emeritus at Emory University, Atlanta. He was Visiting Scholar at Oklahoma City University, and Visiting Professor at Harvard and Boston Universities. He has been published extensively; he is the author of 12 books and numerous academic papers. His teaching interests have been ethics, religious diversity and inter-faith engagement, subject areas that he will deliver lectures on at NSoJ, where he also serves as Dean of Academic Affairs.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">S. Jason</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Politics & Society—Parliament of India</span></h3>
                        <div class="alt-features-descr align-left">
                           Jason is Director in the Rajya Sabha Secretariat, Parliament of India, New Delhi. He is in charge of the Rajya Sabha Secretariat’s conferences and protocols division. He is also a trainer in parliamentary practices and procedures both for in-house parliamentary staff as well as for visiting foreign parliamentary staff. He will deliver guest lectures on Politics & Society—Parliamentary Affairs.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">JERVIS DEUEL ARTHUR</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Script writing, Television Features</span></h3>
                        <div class="alt-features-descr align-left">
                           Jervis is chief writer, director and supervising producer for No Newsense, a satirical show produced entirely by NSoJ. He has more than seven years of experience in the visual media industry where he worked in editorial and technical teams. He has played many roles ranging from Editor to Senior Team Lead. Jervis holds a Masters in Business Administration (Human Resources) and an Advanced Diploma in Business Management. Jervis uses these skills to great effect in directing No Newsense.
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Namas Bhojani</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Photo Journalism</span></h3>
                        <div class="alt-features-descr align-left">
                           Namas Bhojani is an international freelance assignment photographer. Based in India, his editorial clients include Forbes, Wired (Conde Nast), CFO, CIO, Marie Claire (Hearst), Bloomberg News, Bloomberg Markets magazine, New York Times, International Herald Tribune, Financial Times, BusinessWeek, WSJ, San Jose Mercury News, Stern, Der Spiegel, Several other US and European publications including Time, Fortune. He has been a stringer for AP and AFP in the past; Consulting Photo Editor-cum-Contract Photographer for Cosmopolitan magazine's Indian edition; Chief Photographer-cum-Photo Editor of Business Today.  Spent the academic year 1995-96 at Stanford University, as part of the Knight Fellowship Program for mid-career journalists. Explored the World Wide Web, Californian wine, Jazz music, Hollywood cinema and the American way of life. Namas is a photographer who enjoys photographing very diverse subjects from Adverting and Commercial, Food to Fashion and Beauty to hardcore reportage, travel and creative image making. Namas is a senior guest faculty at NSoJ handling photo journalism.
                        </div>
                    </div>
                </div> 

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Joseph Hoover</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Reporting, Editing and Writing Skills</span></h3>
                        <div class="alt-features-descr align-left">
                           Baba Prasad is a veteran journalist with over 35 years of experience. He served as News Editor at The Hindu in Bangalore. Earlier, he was with the Indian Express and Mid-Day groups. He is widely recognised for his accomplishments in the newsroom and the classroom. He has delivered several University Grants Commission lectures and is a member on the board of studies at various universities. He has authored the book, Reporting: Principles and Practice.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">S. Srinivasan</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Television reporting, Politics and Society, Business & Finance</span></h3>
                        <div class="alt-features-descr align-left">
                           Srinivasan is the Founder Editor of Headlines Today and Puthiya Thalaimurai, Tamil Nadu's leading TV news channel. He was the former executive editor of Aaj Tak and the Managing Editor of Mint TV. He was also the former editor of Eenadu TV and ABNi (now part of CNBC). During his early days he has been a reporter with The Economic Times, The Hindu Business Line and The Telegraph. He was also the President (News Media) of IANS. He is senior visiting faculty at NSoJ handling television reporting, and modules in Politics & Society and Business & Finance.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Joe A. Scaria</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Television, Politics & Society</span></h3>
                        <div class="alt-features-descr align-left">
                           Girish Nikam is a popular anchor and consultant with Rajya Sabha TV. He is also an independent columnist for online portals, newspapers, magazines and an editorial writer for The New Indian Express. Earlier, he was special correspondent with the Eenadu Group, India Today and Indian Express, and senior correspondent with India Today. He is senior guest faculty at NSoJ.

                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Ashish Sen</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Community Radio</span></h3>
                        <div class="alt-features-descr align-left">
                           Ashish Sen is a media consultant, community radio educator and advocate. He is on the Board of AMARC (Association Mondiale des Radiodiffusuers Communautaires), Asia Pacific and a member of AMARC International&apos;s Governance Committee. He is also Editor of Community Radio News, a newsletter managed by the UNESCO Chair on Community Media. Since the late eighties he has been professionally engaged at senior management levels with frontline development organizations in India and outside like ActionAid and VOICES. Earlier, he was Assistant Editor with the the Business Standard in Kolkota. He handles the Radio Modules at NSoJ.
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

          

                <!-- Features Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span aria-hidden="true" class="icon-profile-male"></span> -->
                        </div>
                        <h2 class="alt-features-title font-alt">Divya Sreedharan</h2>
                        <h3 class="alt-features-title font-alt" style="text-transform: none;"><span class="post-prev-info font-alt">Writing skills, art and culture, lifestyle journalism, gender, social media</span></h3>
                        <div class="alt-features-descr align-left">
                           Divya is a journalist and blogger who contributes to The Hindu Sunday Magazine, publications from the India Today group, and citizenmatters.in. She has over 15 years in journalism covering news reporting (at The Indian Express, The Hindu, ToI) and magazine writing (Marie Claire India). She has also had a short stint in advertising copywriting/content editing (Saatch & Saatchi Direct)
                        </div>
                    </div>
                </div>
                <!-- End Features Item -->

                
                
            </div>
            <!-- End Features Grid -->
        
        </div>
    </section>
    <!-- End Features Section -->

    <!-- Testimonials Section -->
    <section class="page-section bg-dark bg-dark-alfa-70 fullwidth-slider" data-background=<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%> style='padding-top:75px;' id="scholarship_and_aid" >
        
        <!-- <h2 class="section-title font-alt mb-70 mb-sm-40">Scholarship and Aid</h2> -->
        <!-- Slide Item -->
        <div>
            <div class="container relative">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 align-center">
                        <div class="section-icon">
                            <span >Scholarship and Aid</span>
                        </div>
                        <!-- Section Title --><h3 class="small-title font-alt">Purrah Merit Scholarship and Financial Assistance Programme</h3>
                        <blockquote class="testimonial white">
                            <p>
                                We have established a substantial corpus of funds towards scholarships and financial assistance for students registered in our P.G.D.J. programmes for 2015-2016.
                            </p>
                            <!-- <footer class="testimonial-author">
                                John Doe, doodle inc.
                            </footer> -->
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide Item -->
        
        <!-- Slide Item -->
        <div>
            <div class="container relative">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 align-center">
                        <div class="section-icon">
                            <span >Scholarship and Aid</span>
                        </div>
                        <!-- Section Title --><h3 class="small-title font-alt">Purrah Merit Scholarship</h3>
                        <blockquote class="testimonial white">
                            <p>
                                All applicants to our P.G.D.J. programmes are automatically considered for the Purrah Merit Scholarship. Successful applicants will be informed of the value of the scholarship awarded to them in their admission offer letter.
                            </p>
                            
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide Item -->
        
        <!-- Slide Item -->
        <div>
            <div class="container relative">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 align-center">
                        <div class="section-icon">
                            <span >Scholarship and Aid</span>
                        </div>
                        <!-- Section Title --><h3 class="small-title font-alt">Financial Assistance Programe</h3>
                        <blockquote class="testimonial white">
                            <p>
                                We want to ensure that exceptional candidates have an opportunity to be trained at NSoJ irrespective of their financial background. Our need-based financial assistance programme is available to successful candidates who register in our P.G.D.J. programmes. Candidates whose aggregate family income is lower than Rs.10 Lakhs per annum are eligible to apply for financial assistance.
                            </p>
                          
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide Item -->       
    </section>
    <!-- End Testimonials Section -->

    <!-- About Section -->
    <section class="page-section" id="career_services">
        <div class="container relative">
            
            <h2 class="section-title font-alt align-left mb-50 mb-sm-40">
                 Career Services
            </h2>
            
            <div class="section-text">
                <div class="row">
                    
                    <div class="col-md-12 mb-sm-50 mb-xs-30">
                         
                       <p>The Internship and Career Services Centre at the National School of Journalism, Bangalore (NSoJ) offers valuable resources to help you at every stage of your career. </p>
 
                        <p>Experienced industry professionals advise students on a wide range of career development topics, including resumes, interviews, conducting a search, networking and selecting references. We connect students with prospective employers through our internship programme. We place our students at leading media organisations across India in a month-long mandatory internship programme. Internship and job postings will be made available on our notice board and through a variety of social media tools.</p>
                        <p>Employers have access to a workforce that is ready to work from day one. The real-media experience gained through the NSoJ Method equips our students with the knowledge and skills needed in today's environment. Graduates of our Postgraduate Diploma in Journalism programme will have a choice of the best media roles appropriate for them. We do not believe in preparing our students for any job, rather we equip our students to choose the right job that will allow them to fully express their talents and skills.</p>

                        <p>Our selective admissions process, small class size, tremendous opportunities for skills, essentials and practical development and unparalleled industry connections ensure that our students receive the most meaningful and lucrative entry job offers in the Indian media industry. Our graduates will go on to work for India's leading newspapers, magazines, blogs, television and radio channels, as well as advertising agencies. Several of our students may also choose to start their careers within corporate communications departments of large Indian and multinational corporations.</p>
                         
                    </div>
  
                </div>
            </div>
            
        </div>
    </section>
    <!-- End About Section -->

