<!-- Page Loader -->        
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->    

<div id="home" class="row">

    <div id="about" class="row" style="margin: 0;">

        <!-- Start of About Us content -->
        <div class="col-md-9" style="padding: 0;">
            <div style="margin-bottom: 10px;">
                <img src="<%=asset_path('why_nsoj/main_wide.jpg')%>" alt="">
            </div>

            <div class="col-md-4 page-left-col" style="padding: 0 5px 0 0;">
                <a class="twitter-timeline" data-chrome="nofooter noheader noscrollbar" data-theme="light" data-height="4150" data-show-replies="true" href="https://twitter.com/NSoJ_Bangalore">Tweets by NSoJ_Bangalore</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="col-md-8" style="padding: 0;">
                <div class="banner-decription" style="color:black;" >
                    You seek a career that is dynamic, influential and exciting. You are courageous, independent, curious, open-minded, and like to communicate. Your engagement with society, your country and the world makes you want to make a difference. Begin your life as a journalist at National School of Journalism, Bangalore (NSoJ). <br><br>
     
                    An NSoJ postgraduate diploma in journalism will enable you to do the following.

                    <h3 class="section-title font-alt align-left  " style="font-size:16px;">Regional Language Journalism</h3>
                    While our programmes are primarily designed for careers in the English language, we encourage student journalists to pursue careers in Indian regional languages in which they are interested and proficient. Each year, up to 20% of our total class strength comprises promising students seeking to pursue a career in vernacular journalism. We also place our students in regional print and broadcast media houses.

                    <h3 class="section-title font-alt align-left  " style="font-size:16px;">Tell impactful stories </h3>
                    You will be trained to write, film and narrate the most relevant and important stories of our time, from deadline reporting to profile writing and documentary features.

                    <h3 class="section-title font-alt align-left  " style="font-size:16px;">Kick start your career</h3>
                    In less than one year, you will develop skills and knowledge that take years to build in the field.

                    <h3 class="section-title font-alt align-left  " style="font-size:16px;">Find your perfect job</h3>
                    Our admissions process is extremely selective to pick out 60 of the brightest and best candidates every year. Our students are carefully chosen for their potential to be agents of transformation and to have successful careers in journalism. You will be guided by a high-level career services team who have deep and extensive industry connections, and you will have excellent career prospects. Our commitment is to help each of you find not just any job but the right journalism job to exhibit your commitment, talents and strengths.

                    <h3 class="section-title font-alt align-left  " style="font-size:16px;">Break stories in Bangalore city </h3>
                    Bangalore city is India's most cosmopolitan city. It is a cultural melting pot as well as a world leading technology city, making it a great place to learn how to report and to connect with innovation that is shaping journalism's future. You will contribute to and produce our in-house print, broadcast and digital publications.

                    <h3 class="section-title font-alt align-left  " style="font-size:16px;">Technology</h3>
                    All our students will have access to cutting-edge news gathering, production and broadcasting technology. Our students are trained in and use software tools that are commonly used in media organisations in India and internationally.
                    
                    <hr>

                    <h2 id="advisory_board" class="section-title font-alt mb-10" style="font-weight: 400;">Advisory Board</h2>
                    <h2 class="alt-features-title font-alt">H.S. Balram</h2>
                        H.S. Balram is Director of National School of Journalism, Bengaluru. He is a familiar face in Karnataka's media landscape. He was Resident Editor at The Times of India for 15 years. During his tenure, the paper reached the number one position in Karnataka in terms of readership and circulation. He was also best known for his popular column To The Point. Before joining The Times of India, he was with the Indian Express in New Delhi and served as Resident Editor of the Indian Express, Bangalore. He was a director at Asianet News Network and the host of a weekly talk show on Radio Indigo 91.9 FM.

                    <h2 class="alt-features-title font-alt">Franklyn James</h2>
                       A strategic planner and principal architect of the success of The Times of India’s penetration and dominance in South India, Franklyn James was Vice President for Results and Market Development (South) for The Times Group, with close to 30 years of experience at the broadsheet. He has executed the launch of every edition of The Times of India and the Economic Times in South India, making Bangalore a veritable fortress for the paper and consolidating its lead over every other English daily. He was also a Senior Advisor at The Hindu, and is now Designated Partner, Purrah News Media LLP.

                    <h2 class="alt-features-title font-alt">Aditya Sondhi</h2>
                        Dr. Aditya Sondhi is Additional Advocate General of Karnataka. He holds a Masters in Political Science, and was awarded his PhD by the Mysore University for his thesis on “The Interface between the Army and Democracy: India &amp; Pakistan Compared”. He is an alumnus of Bishop Cotton Boys’ School, Bangalore, where he was School Captain. He graduated from the National Law School of India University, where he is Visiting Faculty. Aditya has published two books – Unfinished Symphony &amp; The Order of the Crest with Penguin India and is the founder managing-trustee of the General K S Thimayya Memorial Trust.

                    <h2 class="alt-features-title font-alt">Saswati Chakravarty</h2>
                       Saswati is a veteran business journalist. She spent 22 years at The Economic Times, eventually serving as Resident Editor of the South Editions. She successfully incubated, set up and launched three major metropolitan editions of The Economic Times. In 2010, she started Bhasha News Media, a development media platform disseminating livelihoods-focused news to rural areas. Bhasha News Media operates in the regional language media space with a view to having a more inclusive media, built on the theme of social justice; as she puts it, "even marginalized voices have a right to be heard". She is consulting editor and senior faculty member at NSoJ.

                    <h2 class="alt-features-title font-alt">Dr. Thomas Thangaraj</h2>
                        Professor Thomas Thangaraj has a longstanding and celebrated career in the field of academia. He completed his doctoral studies at Harvard University and is Professor Emeritus at Emory University, Atlanta. He was Visiting Scholar at Oklahoma City University, and Visiting Professor at Harvard and Boston Universities. He has been published extensively; he is the author of 12 books and numerous academic papers. His teaching interests have been ethics, religious diversity and inter-faith engagement, subject areas that he will deliver lectures on at NSoJ, where he also serves as Dean of Academic Affairs.

                    <h2 class="alt-features-title font-alt">S. Srinivasan</h2>
                       Srinivasan is the Founder Editor of Headlines Today and Puthiya Thalaimurai, Tamil Nadu's leading TV news channel. He was the former executive editor of Aaj Tak and the Managing Editor of Mint TV. He was also the former editor of Eenadu TV and ABNi (now part of CNBC). During his early days he has been a reporter with The Economic Times, The Hindu Business Line and The Telegraph. He was also the President (News Media) of IANS. He is senior visiting faculty at NSoJ handling television reporting, and modules in Politics & Society and Business & Finance.

                    <h2 class="alt-features-title font-alt">Timothy Franklyn</h2>
                        Timothy Franklyn is an international corporate finance lawyer, having worked in New Delhi, Singapore and Hong Kong at some of the world’s most prestigious law firms. He regularly advises governments, corporations and global investment banks on international capital markets transactions, including sovereign debt offerings, high yield bond offerings, initial public offerings and private placements. He has published several articles in The Financial Times as well as in the Indian Business Law Journal. He graduated from the London School of Economics with an LL.M in International Business Laws. He currently serves as Chairman of Purrah News Media LLP and National School of Journalism.

                    <h2 class="alt-features-title font-alt">Dr. Devleena Ghosh</h2>
                        Devleena Ghosh is an associate professor in the Faculty of Communication at the University of Technology, Sydney (UTS), and is part of the Social Inquiry Program at UTS. She is a core member of the Cosmopolitan Civil Societies Research Centre, Member of the South Asian Studies Association, the Asian Studies Association of Australia and the Australian Historical Association. She serves at the helm of The Asian Studies Review as its regional editor and is the also the director of UTS' Indian Ocean and the South Asia Research Network. Her areas of expertise are post-colonial, environmental and global studies. She guides and informs social justice related courses at NSoJ.

                    <h2 class="alt-features-title font-alt">R.B.U. Shyam Kumar</h2>
                       R.B.U. Shyam Kumar is the chief executive officer (CEO) of the Puthiya Thalaimurai Group, producers of Tamil Nadu's leading television news channel, Puthiya Thalaimurai. He played a key role in the successful launch of the channel in 2011. He was also instrumental in the launch of the general television entertainment channel, PudhuYugam, in 2013. Prior to joining the Puthiya Thalaimurai Group, he had a long stint with the Times of India Group.

                </div>

                <div id="testimonials" class="banner-decription" style="color:black;" >
                        
                    <!-- What Students say -->
                    <div class="work-full-media mt-0 " style="background-color: #333;" id="scholarship_and_aid">
                        <ul class="clearlist work-full-slider owl-carousel">
                            <li>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 align-center" style="padding: 10px 0 40px 0;">
                                        <div class="section-icon"><span class="icon-quote white"></span></div>
                                        <div class="section-icon white"><span >What students say</span></div>
                                        <blockquote class="testimonial white">
                                            <p>It’s not just a college, NSoJ is family. You know we can barge into Balram Sir’s office at any point of the day. He was the Resident Editor of The Times of India and you don’t get such opportunities in normal colleges. No surprise then that I have the opportunity to do my internship at The Times of India!</p>
                                            <footer class="testimonial-author">
                                                Khushboo Aneja - P.G.D.J Print & convergence Candidate
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 align-center" style="padding: 10px 0 40px 0;">
                                        <div class="section-icon"><span class="icon-quote white"></span></div>
                                        <div class="section-icon white"><span >What students say</span></div>
                                        <blockquote class="testimonial white">
                                            <p>From NsoJ I learnt that there’s no one view about anything. There are various colours and different shades. That is what I’m going to take with me.</p>
                                            <footer class="testimonial-author">
                                                Pavani - P.G.D.J Broadcast Candidate
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 align-center" style="padding: 10px 0 40px 0;">
                                        <div class="section-icon"><span class="icon-quote white"></span></div>
                                        <div class="section-icon white"><span >What students say</span></div>
                                        <blockquote class="testimonial white">
                                            <p>I’ve learnt the technical side of journalism which I had no clue about. I think I’ve learnt to deal with people better, which is important.</p>
                                            <footer class="testimonial-author">
                                                Abdul - P.G.D.J Broadcast Candidate
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 align-center" style="padding: 10px 0 40px 0;">
                                        <div class="section-icon"><span class="icon-quote white"></span></div>
                                        <div class="section-icon white"><span >What students say</span></div>
                                        <blockquote class="testimonial white">
                                            <p>So it’s a different insight that we get while dealing with the faculty and that’s what I find exciting.</p>
                                            <footer class="testimonial-author">
                                                Jishu - P.G.D.J Print & Convergence Candidate
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 align-center" style="padding: 10px 0 40px 0;">
                                        <div class="section-icon"><span class="icon-quote white"></span></div>
                                        <div class="section-icon white"><span >What students say</span></div>
                                        <blockquote class="testimonial white">
                                            <p>Getting an internship in NDTV, I say it was not surprising at all but I sort of expected this with the faculty that we have, all eminent journalists of leading national media outlets. I mean, when you have faculty like that your standards are already set very high.</p>
                                            <footer class="testimonial-author">
                                                Namrata Srivastava - P.G.D.J Braodcast Candidate
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 align-center" style="padding: 10px 0 40px 0;">
                                        <div class="section-icon"><span class="icon-quote white"></span></div>
                                        <div class="section-icon white"><span >What students say</span></div>
                                        <blockquote class="testimonial white">
                                            <p>I love NSoJ because it's not just a classroom setting, its 80% field work and 20% class work.</p>
                                            <footer class="testimonial-author">
                                                Suphani Kanth - P.G.D.J Broadcast Candidate
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 align-center" style="padding: 10px 0 40px 0;">
                                        <div class="section-icon"><span class="icon-quote white"></span></div>
                                        <div class="section-icon white"><span >What students say</span></div>
                                        <blockquote class="testimonial white">
                                            <p>Thanks to NSoJ, I’ve been able to meet and interact with top officials in society like the Pakistani High Commissioner and Karnataka Lokayukta.</p>
                                            <footer class="testimonial-author">
                                                Ashwini - P.G.D.J Print & Convergence Candidate
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="banner-decription" style="color:black;" >
                    <h2 class="section-title font-alt align-left" id="facilities_and_infrastructure">Facilities and Infrastructure</h2>
                    <p>NSoJ boasts of the finest facilities and technology infrastructure of any J-school in India. The entire campus is equipped with dedicated high-speed wireless Internet connectivity, and houses a modern newsroom, a state-of-the-art television news studio and a superb auditorium.</p>
                    
                    <h4 class="font-alt" style="font-style: italic; text-transform: none;">Newsroom</h4>
                    <p>Students at NSoJ do not learn in classrooms but train in a newsroom under the guidance of some of India's most experienced journalists. Our newsroom is designed to inspire and provoke critical thinking.  <img src=<%=asset_path("fi_newsroom.jpg")%> alt="National School of Journalism, Bangalore" style="width: 50%; float: right;" />With specially commissioned wall art, a television wall and open spaces, our newsroom makes for a collegial, creative and intellectually stimulating work environment. Each student journalist has his or her own workspace in the newsroom to carry out journalistic deskwork. Our newsroom also features a rich library and lounge.</p>
                    
                    <h4 class="font-alt" style="font-style: italic; text-transform: none;">Studio and Production Control Room</h4>
                    <p>NSoJ has the largest and best-equipped television news studio of any journalism school in India. <img src=<%=asset_path("fi_studio.jpg")%> alt="National School of Journalism, Bangalore" style="width: 50%; float: left; margin-right: 10px;"/>Our broadcast level sound-proof and sound-damped studio features broadcast video cameras, green mat background, LED studio lighting, microphones, teleprompter to broadcast specifications. Our production control room features audio and video mixers, a high specification Apple iMac workstation with the latest video editing software, including Final Cut Pro and Adobe Premier Pro. We film daily news bulletins, television talk shows and radio interviews in our studio.</p>
                    
                    <h4 class="font-alt" style="font-style: italic; text-transform: none;">Auditorium</h4>
                    <p>NSoJ has a 100-seat auditorium with terraced seating, dual projectors and a high tech sound andpublic address system. <img src=<%=asset_path("fi_auditorium.jpg")%> alt="National School of Journalism, Bangalore" style="width: 50%; float: right;"/>Our auditorium is fully equipped to screen short films, documentaries, feature length movies (for reviews) and can also stream video in high definition. Our auditorium is the venue of talks by eminent personalities from diverse fields, including academicians, public policy strategists, human rights activists, politicians, senior lawyers, jurists, bureaucrats, artists and actors. The auditorium is also used for music concerts and cultural events.</p>

                    <h4 class="font-alt" style="font-style: italic; text-transform: none;">Accommodation</h4>
                    <p>We provide twin-sharing accommodation facilities for outstation students on a first-come first-served basis. This includes food, wi-fi and other basic amenities. For details on costs and availability, candidates are requested to contact the admissions office upon receipt of an offer of admission.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 page-right-col" style="padding: 0 0 0 5px;">
            <a href="/edit_admission_form" style="margin-bottom: 5px; display: block;"><img src="<%= asset_path("banners/admission 2.png")%>" alt="" /></a>
            <div class="post-prev-img mb-0">
                <a href="/placements" class="mfp-image">
                    <img src="<%= asset_path("left_tab/students.png")%>" alt="" />
                </a>
                <a class="left_tab_title slider-text font-alt" href="/placements">Internships and Placements</a>
            </div>
            <div class="post-prev-img mb-0">
                <a href="/program" class="mfp-image">
                    <img src="<%= asset_path("left_tab/pgp.jpg")%>" alt="" />
                </a>
                <a class="left_tab_title slider-text font-alt" href="/program">Postgraduate Programmes</a>
            </div>          
            <div class="post-prev-img mb-0">
                <a href="/program" class="mfp-image">
                    <img src="<%= asset_path("slider/events.jpg")%>" alt="" />
                </a>
                <a class="left_tab_title slider-text font-alt" href="/program">Events</a>
            </div>                            
            <div class="post-prev-img mb-0">
                <a href="/why_us#facilities_and_infrastructure" class="mfp-image">
                    <img src="<%= asset_path("slider/infra.jpg")%>" alt="" />
                </a>
                <a class="left_tab_title slider-text font-alt" href="/why_us#facilities_and_infrastructure">Infrastructure</a>
            </div>                            


            <img src="<%= asset_path("placements/left/bg0.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("placements/left/bg1.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("placements/left/bg2.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("placements/left/bg3.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("placements/left/bg4.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">  
            <img src="<%= asset_path("about_left/bg5.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("about_left/bg6.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("about_left/bg7.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">
            <img src="<%= asset_path("about_left/bg8.jpg")%>" alt="" style="width: 100%; margin-bottom: 5px;">          
        </div>
    </div>
    
</div>