<h2>Hi</h2>
<p>Slant form has been submitted by college: <%= @college_name%>, contact:<%=@phone%></p>

<h2>The Red Button</h2>

	<p>Name: <%= @rb_name1 %></p> 
	<p>Contact: <%= @rb_phone1%></p> <br>

	<p>Name: <%= @rb_name2 %></p> 
	<p>Contact: <%= @rb_phone2%></p> <br>

	<p>Name: <%= @rb_name3 %></p> 
	<p>Contact: <%= @rb_phone3%></p> <br>

	<p>Name: <%= @rb_name4 %></p> 
	<p>Contact: <%= @rb_phone4%></p> <br>

	<p>Name: <%= @rb_name5 %></p> 
	<p>Contact: <%= @rb_phone5%></p> <br>

	<p>Name: <%= @rb_name6 %></p> 
	<p>Contact: <%= @rb_phone6%></p> <br>


<h2>Breaking News</h2>

	<p>Name: <%= @bn_name1 %></p> 
	<p>Contact: <%= @bn_phone1%></p> <br>

	<p>Name: <%= @bn_name2 %></p> 
	<p>Contact: <%= @bn_phone2%></p> <br>

	<p>Name: <%= @bn_name3 %></p> 
	<p>Contact: <%= @bn_phone3%></p> <br>

	<p>Name: <%= @bn_name4 %></p> 
	<p>Contact: <%= @bn_phone4%></p> <br>

<h2>Fact check</h2>

	<p>Name: <%= @fc_name1 %></p> 
	<p>Contact: <%= @fc_phone1%></p> <br>

	<p>Name: <%= @fc_name2 %></p> 
	<p>Contact: <%= @fc_phone2%></p> <br>

	<p>Name: <%= @fc_name3 %></p> 
	<p>Contact: <%= @fc_phone3%></p> <br>

<h2>Tweet This</h2>

	<p>Name: <%= @tt_name1 %></p> 
	<p>Contact: <%= @tt_phone1%></p> <br>

	<p>Name: <%= @tt_name2 %></p> 
	<p>Contact: <%= @tt_phone2%></p> <br>

	<p>Name: <%= @tt_name3 %></p> 
	<p>Contact: <%= @tt_phone3%></p> <br>

<h2>Essay</h2>

	<p>Name: <%= @es_name %></p> 
	<p>Contact: <%= @es_phone%></p> <br>

<h2>Photo Journal</h2>

	<p>Name: <%= @pj_name %></p> 
	<p>Contact: <%= @pj_phone%></p> <br>

<h2>Documentry</h2>

	<p>Name: <%= @do_name %></p> 
	<p>Contact: <%= @do_phone%></p> <br>
