
  

  <!-- Head Section -->
    <section class="small-section bg-dark-alfa-30 parallax-2" data-background=<%= asset_path("full-width-images/NSOJ_Journalism_School1.gif")%> style='margin-top: 75px; background-image:url(<%= asset_path("full-width-images/NSOJ_Journalism_School1.gif")%>)'>
        <div class="relative container align-left">
            
            <div class="row">
                
                <div class="col-md-8">
                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Gallery</h1>
                    <div class="hs-line-4 font-alt">
                        <!-- An eye for detail makes our works excellent -->
                    </div>
                </div>
                
              
            </div>
            
        </div>
    </section>
    <!-- End Head Section -->
    
    
    <!-- Portfolio Section -->
    <section class="page-section pb-0">
        <div class="relative">
            
            <!-- Works Filter -->                    
            <!-- <div class="works-filter font-alt align-center">
                <a href="#" class="filter active" data-filter="*">All</a>
                <a href="#" class="filter" data-filter=".infrastructure">Infrastructure</a>
                <a href="#" class="filter" data-filter=".classroom">Classroom</a>                
                <a href="#" class="filter" data-filter=".studio">Studio</a>
            </div>  -->                   
            <!-- End Works Filter -->
            
            <!-- Works Grid -->
            <ul class="works-grid clearfix font-alt hover-white hide-titles masonry" id="work-grid">
                
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix classroom">
                    <a href="<%=asset_path('gallery/1.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="<%= asset_path('gallery/1.jpg')%>" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title"></h3>
                            <div class="work-descr">
                               
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->
                
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix classroom">
                    <a href="<%= asset_path('gallery/3.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img class="work-img" src="<%= asset_path('gallery/3.jpg')%>" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title"></h3>
                            <div class="work-descr">
                               
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->
                
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix design classroom">
                    <a href="<%= asset_path('gallery/4.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img class="work-img" src="<%= asset_path('gallery/4.jpg')%>" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title"></h3>
                            <div class="work-descr">
                              
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->
                
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix studio">
                    <a href="<%= asset_path('gallery/5.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img class="work-img" src="<%= asset_path('gallery/5.jpg')%>" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title"></h3>
                            <div class="work-descr">
                                
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->
                
                <!-- Work Item () -->
                <li class="work-item mix branding infrastructure">
                    <a href="<%= asset_path('gallery/8.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img class="work-img" src="<%= asset_path('gallery/8.jpg')%>" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title"></h3>
                            <div class="work-descr">
                                
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->
                
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix design classroom">
                    <a href="<%= asset_path('gallery/9.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="<%= asset_path('gallery/9.jpg')%>" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title"></h3>
                            <div class="work-descr">
                                
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

                <!-- Work Item (Lightbox) -->
                <li class="work-item mix design infrastructure">
                    <a href="<%= asset_path('gallery/10.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="<%= asset_path('gallery/10.jpg')%>" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title"></h3>
                            <div class="work-descr">
                                
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

                <!-- Work Item (Lightbox) -->
                <li class="work-item mix design infrastructure">
                    <a href="<%= asset_path('gallery/12.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="<%= asset_path('gallery/12.jpg')%>" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title"></h3>
                            <div class="work-descr">
                                
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

                <!-- Work Item (Lightbox) -->
                <li class="work-item mix design classroom">
                    <a href="<%= asset_path('gallery/16.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="<%= asset_path('gallery/16.jpg')%>" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title"></h3>
                            <div class="work-descr">
                                
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

                <!-- Work Item (Lightbox) -->
                <li class="work-item mix design infrastructure">
                    <a href="<%= asset_path('gallery/17.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="<%= asset_path('gallery/17.jpg')%>" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title"></h3>
                            <div class="work-descr">
                                
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

                <!-- Work Item (Lightbox) -->
                <li class="work-item mix design infrastructure">
                    <a href="<%= asset_path('gallery/18.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="<%= asset_path('gallery/18.jpg')%>" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title"></h3>
                            <div class="work-descr">
                                
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

                <!-- Work Item (Lightbox) -->
                <li class="work-item mix design infrastructure">
                    <a href="<%= asset_path('gallery/20.jpg')%>" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="<%= asset_path('gallery/20.jpg')%>" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title"></h3>
                            <div class="work-descr">
                                
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

            </ul>
            <!-- End Works Grid -->
            
        </div>
    </section>
    <!-- End Portfolio Section -->
    
