<!-- Navigation panel -->
<nav class="main-nav  stick-fixed">
    <div class="full-wrapper relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <%= link_to(root_path, class: "logo", method: :get ) do %>
                <img src=<%= image_path("logo-white.png") %> alt="" />
            <%end%>
            <!-- <a href="<%= root_path %>" class="logo">
                <img src=<%= image_path("logo-white.png") %> alt="" />
            </a> -->
        </div>
        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>
        
        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist scroll-nav local-scroll">
                <li>
                    <!-- <a href="#" class="mn-has-sub">Home <i class="fa fa-angle-down"></i></a> -->
                    <%= link_to(root_path, class: "mn-has-sub active", method: :get ) do %>
                        Home<i class="fa fa-angle-down"></i>
                    <%end%>
                    <ul class="mn-sub ">
                    <%  if (params[:controller] == 'landing_page' && params[:action] == 'home' ) %>
                        <li> <a href="#about">About Us</a> </li>
                        <li> <a href="#start">NSOJ Method</a> </li>
                        <li> <a href="#contact">Contact Us</a> </li>
                    <%else%>
                        <li><%= link_to("About Us",root_path(:anchor => "about"),  method: :get ) %></li>
                        <li><%= link_to("NSOJ Method",root_path(:anchor => "start"),  method: :get ) %></li>
                        <li><%= link_to("Contact Us",root_path(:anchor => "contact"),  method: :get ) %></li>

                    <%end%>
                    </ul>
                </li>

                <li>
                    <!-- <a href="#" class="mn-has-sub">Why Us <i class="fa fa-angle-down"></i></a> -->
                    <%= link_to(why_us_path, class: "mn-has-sub ", method: :get  ) do %>
                        Why Us<i class="fa fa-angle-down"></i>
                    <%end%>
                    <ul class="mn-sub ">
                    <%  if (params[:controller] == 'landing_page' && params[:action] == 'why_us' ) %>
                        <!-- <li> <a href="#advisory_board">Advisory Board</a> </li> -->
                        <li> <a href="#technology">Technology</a> </li>
                        <li> <a href="#faculty">Faculty</a> </li>
                        <li> <a href="#scholarship_and_aid">Purrah Prize</a> </li>
                        <li> <a href="#career_services">Career Services</a> </li>
                    <%else%>
                        <!-- <li><%= link_to("Advisory Board",why_us_path(:anchor => "advisory_board"),  method: :get ) %></li> -->
                        <li><%= link_to("Technology",why_us_path(:anchor => "technology"),  method: :get ) %></li>
                        <li><%= link_to("Faculty",why_us_path(:anchor => "faculty"),  method: :get ) %></li>
                        <li><%= link_to("Purrah Prize",why_us_path(:anchor => "scholarship_and_aid") ,  method: :get) %></li>
                        
                        <li><%= link_to("Career Services",why_us_path(:anchor => "career_services"),  method: :get ) %></li>
                    <%end%>    
                    </ul>
                </li>

                <li>
                    <!-- <a href="#" class="mn-has-sub ">Programmes <i class="fa fa-angle-down"></i></a> -->
                    <%= link_to(program_path, class: "mn-has-sub ", method: :get  ) do %>
                        Programmes<i class="fa fa-angle-down"></i>
                    <%end%>
                    <ul class="mn-sub ">
                    <%  if (params[:controller] == 'landing_page' && params[:action] == 'program' ) %>
                        <li> <a href="#broadcast_media">P.G.D.J in Broadcast Media</a> </li>
                        <li> <a href="#convergence_media">P.G.D.J in Print and Convergence Media</a> </li>
                    <%else%>
                        <li><%= link_to("P.G.D.J in Broadcast Media",program_path(:anchor => "broadcast_media"),  method: :get ) %></li>
                        <li><%= link_to("P.G.D.J in Print and Convergence Media",program_path(:anchor => "convergence_media") ,  method: :get) %></li>             
                    <%end%>    
                    </ul>
                </li>

                <li>
                    <!-- <a href="#" class="mn-has-sub">Admissions <i class="fa fa-angle-down"></i></a> -->
                    <%= link_to(admission_path, class: "mn-has-sub" , method: :get ) do %>
                        Admissions<i class="fa fa-angle-down"></i>
                    <%end%>
                    <ul class="mn-sub">
                    <%  if (params[:controller] == 'landing_page' && params[:action] == 'admission' ) %>
                        <li> <a href="#admission_requirements" >Admission Requirements </a> </li>
                        <li> <a href="#admission_process">Application Process</a> </li>
                 
                    <%else%>
                        <li><%= link_to("Admission Requirements",admission_path(:anchor => "admission_requirements") ,  method: :get) %></li>
                        <li><%= link_to("Application Process",admission_path(:anchor => "admission_process") ,  method: :get) %></li>
                    <%end%>    
      
                    </ul>
                </li>
                <!-- <li>
                    <%= link_to("Gallery",galleries_path, method: :get ) %>
                </li> -->
               
                 <li>
                    <!-- <a href="#" class="mn-has-sub">Blog </a> -->
                    <%= link_to("Advisory board",:controller => 'landing_page', :action => 'advisory_board') %>
                </li>

                <li>
                    <!-- <a href="#" class="mn-has-sub">NSOJ News </a> -->
                    <%= link_to("Gallery", :controller => 'landing_page', :action => 'nsoj_events') %>
                </li>
                
                 <li>
                    <!-- <a href="#" class="mn-has-sub">NSOJ News </a> -->
                    <%= link_to("Blog", "https://nsojblog.wordpress.com", class: "mn-has-sub", method: :get ) %>
                </li>
                
                <li>
                    <%= link_to(student_publications_path, class: "mn-has-sub", method: :get, :controller => 'student_publication', :action => 'index' ) do %>
                        Student Publications<i class="fa fa-angle-down"></i>
                    <%end%>
                    <ul class="mn-sub ">
                    <%  if (params[:controller] == 'student_publication' && params[:action] == 'index' ) %>
                        <li> <a href="#service-news">NSoJ Post</a> </li>
                        <li> <a href="#service-radio">NSoJ Radio</a> </li>
                        <li> <a href="#service-tv">NSoJ TV</a> </li>
                        <!-- <li> <a href="#service-blog">Blog</a> </li> -->
                    <%else%>
                        <li> <a href="/student_publications#service-news">NSoJ Post</a> </li>
                        <li> <a href="/student_publications#service-radio">NSoJ Radio</a> </li>
                        <li> <a href="/student_publications#service-tv">NSoJ TV</a> </li>
                        <!-- <li> <a href="/student_publications#service-blog">Blog</a> </li> -->
                    <%end%>    
                    </ul>
                </li>
                <% if false %>
                
                <% if logged_in? %>
                        
                    <li>
                        <a href="#" class="mn-has-sub"><div class="icon-profile-male" style="margin-right:5px;"></div><%= current_user.name %> <i class="fa fa-angle-down"></i></a>                            
                        <!-- Sub -->
                        <ul class="mn-sub to-left">
                            
                           
                            
                            <li><%= link_to "Profile", edit_user_path(current_user) %></li>
                             
                            <li role="separator" class="divider"></li>
                            <li><%= link_to "Logout", logout_path, method: :delete %></li>   
                            
                        </ul>
                        <!-- End Sub -->                                
                    </li>

                    <!-- <li><%= link_to "Logout", logout_path, method: :delete %></li>  -->
                <% else %>
                    <% %>           
                        <li>
                            <!--<%= link_to(login_path) do %>
                                <span class="btn btn-mod btn-circle ">Login</span>
                            <%end%>-->
                        </li>      
                    <%  %>
                <% end %>
                <% end %>
            </ul>
        </div>
        <!-- End Main Menu -->
        

    </div>
</nav>
<!-- End Navigation panel -->

