<!-- Navigation panel -->
<%if @hide_main_nav != true%>
<nav class="main-nav stick-fixed" style="height: 55px !important;">
    <div class="full-wrapper relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <%= link_to(root_path, class: "logo", style: "height: 55px !important; max-width:200px !important;", method: :get ) do %>
                <img src=<%= image_path("logo-white.png") %> alt="National School of Journalism, Bangalore" />
            <%end%>
            <!-- <a href="<%= root_path %>" class="logo">
                <img src=<%= image_path("logo-white.png") %> alt="National School of Journalism, Bangalore" />
            </a> -->
        </div>

        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>
        
        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist scroll-nav local-scroll">
                <li>
                    <%  if (params[:controller] == 'landing_page' && params[:action] == 'home' ) %>
                        <%= link_to(root_path, class: "active", method: :get ) do %>
                        Home<%end%>
                    <%else%>
                        <%= link_to(root_path, method: :get ) do %>
                        Home<%end%>
                    <%end%>
                </li>

                <li>
                    
                    <%  if (params[:controller] == 'landing_page' && params[:action] == 'why_us' ) %>
                        <%= link_to(why_us_path, class: "mn-has-sub active", method: :get  ) do %>
                        Why NSoJ<i class="fa fa-angle-down"></i><%end%>
                        <ul class="mn-sub ">
                            <li> <a href="#advisory_board">Advisory Board</a> </li>
                            <!-- <li> <a href="#technology">Technology</a> </li>
                            <li> <a href="#scholarship_and_aid">Purrah Prize</a> </li>
                            <li> <a href="#career_services">Career Services</a> </li> -->
                            <li> <a href="#testimonials">Testimonials</a> </li>
                            <li> <a href="#facilities_and_infrastructure">Facilities and Infrastructure</a> </li>
                        </ul>
                    <%else%>
                        <%= link_to(why_us_path, class: "mn-has-sub", method: :get  ) do %>
                        Why NSoJ<i class="fa fa-angle-down"></i><%end%>
                        <ul class="mn-sub ">
                            <li><%= link_to("Advisory Board",why_us_path(:anchor => "advisory_board"),  method: :get ) %></li>
                            <!-- <li><%= link_to("Technology",why_us_path(:anchor => "technology"),  method: :get ) %></li>
                            <li><%= link_to("Purrah Prize",why_us_path(:anchor => "scholarship_and_aid") ,  method: :get) %></li>
                            <li><%= link_to("Career Services",why_us_path(:anchor => "career_services"),  method: :get ) %></li> -->
                            <li><%= link_to("Testimonials",why_us_path(:anchor => "testimonials"),  method: :get ) %></li>
                            <li><%= link_to("Facilities and Infrastructure",why_us_path(:anchor => "facilities_and_infrastructure"),  method: :get ) %></li>
                        </ul>
                    <%end%>    
                </li>

                <li>
                    <%  if (params[:controller] == 'landing_page' && params[:action] == 'program' ) %>
                        <%= link_to(program_path, class: "mn-has-sub active", method: :get  ) do %>
                        Programmes<i class="fa fa-angle-down"></i><%end%>
                        <ul class="mn-sub ">
                            <li> <a href="#broadcast_media">P.G.D.J in Broadcast Media</a> </li>
                            <li> <a href="#convergence_media">P.G.D.J in Print and Convergence Media</a> </li>
                    <%else%>
                        <%= link_to(program_path, class: "mn-has-sub ", method: :get  ) do %>
                        Programmes<i class="fa fa-angle-down"></i><%end%>
                        <ul class="mn-sub ">
                            <li><%= link_to("P.G.D.J in Broadcast Media",program_path(:anchor => "broadcast_media"),  method: :get ) %></li>
                            <li><%= link_to("P.G.D.J in Print and Convergence Media",program_path(:anchor => "convergence_media") ,  method: :get) %></li>         
                    <%end%>       
                        <li>
                            <%  if (params[:controller] == 'student_publication' && params[:action] == 'index' ) %>
                                <%= link_to(student_publications_path, class: "mn-has-sub active", method: :get, :controller => 'student_publication', :action => 'index' ) do %>Student Publications<i class="fa fa-angle-right right"></i><%end%>
                                <ul class="mn-sub ">
                                    <li> <a href="#service-news">NSoJ Post</a> </li>
                                    <li> <a href="#service-radio">NSoJ Radio</a> </li>
                                    <li> <a href="#service-tv">NSoJ TV</a> </li>
                                </ul>
                            <%else%>
                                <%= link_to(student_publications_path, class: "mn-has-sub", method: :get, :controller => 'student_publication', :action => 'index' ) do %>Student Publications<i class="fa fa-angle-right right"></i><%end%>
                                <ul class="mn-sub ">
                                    <li> <a href="/student_publications#service-news">NSoJ Post</a> </li>
                                    <li> <a href="/student_publications#service-radio">NSoJ Radio</a> </li>
                                    <li> <a href="/student_publications#service-tv">NSoJ TV</a> </li>
                                </ul>
                            <%end%>
                        </li>         
                    </ul>
                </li>

                <li>
                        
                    <%  if (params[:controller] == 'landing_page' && params[:action] == 'admission' ) %>
                        <%= link_to(admission_path, class: "mn-has-sub active" , method: :get ) do %>
                            Admissions<i class="fa fa-angle-down"></i><%end%>
                            <ul class="mn-sub">
                                <li> <a href="#admission_requirements">Admission Requirements</a> </li>
                                <li> <a href="#admission_process">Application Process</a> </li>
                                <!-- <li> <a href="#application_deadlines">Application Deadlines and Admission Dates</a> </li> -->
                                <li> <a href="#pgdj_programme_fees">P.G.D.J. Programme Fees</a> </li>
                                <li> <a href="#application_form">Admission and Assessment Application Form</a> </li>
                                <li> <a href="#scholarship_and_aid">Scholarship and Aid</a> </li>
                    <%else%>
                        <%= link_to(admission_path, class: "mn-has-sub" , method: :get ) do %>
                            Admissions<i class="fa fa-angle-down"></i><%end%>
                            <ul class="mn-sub">
                                <li><%= link_to("Admission Requirements",admission_path(:anchor => "admission_requirements") ,  method: :get) %></li>
                                <li><%= link_to("Application Process",admission_path(:anchor => "admission_process") ,  method: :get) %></li>
                                <!--<li><%= link_to("Application Deadlines and Admission Dates",admission_path(:anchor => "application_deadlines") ,  method: :get) %></li> -->
                                <li><%= link_to("P.G.D.J. Programme Fees",admission_path(:anchor => "pgdj_programme_fees") ,  method: :get) %></li>
                                <li><%= link_to("Admission and Assessment Application Form",admission_path(:anchor => "application_form") ,  method: :get) %></li>
                                <li><%= link_to("Scholarship and Aid",admission_path(:anchor => "scholarship_and_aid") ,  method: :get) %></li>
                    <%end%>    
                        <li role="separator" class="custom_divider"></li>
                        <li><%= link_to "APPLY NOW", controller: 'admission_forms', action: 'edit' %></li> 
                    </ul>
                </li>

                <li>
                    <%  if (params[:controller] == 'slants' ) %>
                        <a class="active" href="/students/">Students</a>
                    <%else%>
                        <a href="/students/">Students</a>
                    <%end%>
                </li>

                <li>
                    <%  if (params[:controller] == 'landing_page' && params[:action] == 'faculty' ) %>
                        <a class="active" href="/faculty/">Faculty</a>
                    <%else%>
                        <a href="/faculty/">Faculty</a>
                    <%end%>
                </li>

                <li>
                    <%  if (params[:controller] == 'landing_page' && params[:action] == 'placements' ) %>
                        <a class="active" href="/placements/">Placements</a>
                    <%else%>
                        <a href="/placements/">Placements</a>
                    <%end%>
                </li>
                
                <li>
                    <%  if (params[:controller] == 'landing_page' && params[:action] == 'nsoj_events' ) %>
                        <a class="active" href="/gallery/">Gallery</a>
                    <%else%>
                        <a href="/gallery/">Gallery</a>
                    <%end%>
                </li>
                <!-- <li>
                    <%  if (params[:controller] == 'slants' ) %>
                        <a class="active" href="/slant/">Slant</a>
                    <%else%>
                        <a href="/slant/">Slant</a>
                    <%end%>
                </li> -->

                <li>
                    <%  if (params[:controller] == 'stories') %>
                        <%= link_to("/nsojpost", class: "active", method: :get ) do %>
                        <img src="<%=image_path("banners/NSoJ_post_wide.jpg")%>" width=80 alt=""><%end%>
                    <%else%>
                        <%= link_to("/nsojpost", method: :get ) do %>
                        <img src="<%=image_path("banners/NSoJ_post_wide.jpg")%>" alt="NSoJ Post" style="width: 90px;"><%end%>
                    <%end%>
                </li>

                
                <% if ((params[:controller] == 'landing_page' && params[:action] == 'admission') || (params[:controller] == 'admission_forms' && params[:action] == 'edit') || (params[:controller] == 'users' && params[:action] == 'edit'))%>
                <% if logged_in? %>
                        
                    <li>
                        <a href="#" class="mn-has-sub"><div class="icon-profile-male" style="margin-right:5px;"></div><%= current_user.name %> <i class="fa fa-angle-down"></i></a>
                        <ul class="mn-sub to-left">
                            <li><%= link_to "Profile", edit_user_path(current_user) %></li>
                            <li><%= link_to "Admission Form", controller: 'admission_forms', action: 'edit' %></li> 
                            <li role="separator" class="custom_divider"></li>
                            <li><%= link_to "Logout", logout_path, method: :delete %></li>
                        </ul>                     
                    </li>
                <% else %>
                    <% %>           
                        <li>
                            <%= link_to(login_path) do %>
                                <span class="btn btn-mod btn-circle ">Login</span>
                            <%end%>
                        </li>      
                    <%  %>
                <% end %>
                <% end %>
            </ul>
        </div>
        <!-- End Main Menu -->
    </div>
</nav>
<div style="height: 55px;">&nbsp;</div>
<!-- End Navigation panel -->

<%end%>
