<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

  <%  if (params[:controller] == 'stories' && params[:action] == 'show' ) %>
    <meta name="twitter:card" content="summary" >
    <meta name="twitter:site" content="@nsoj" >
    <meta name="twitter:title" content='<%=@story.title%>' >
    <meta name="twitter:description" content="<%=@story.content[1..100]%>" >
    <meta name="twitter:creator" content="@nsoj_bangalore">
    <meta name="twitter:image" content='<%=@story.blog_image.url%>' >

    <meta property="og:title" content='<%=@story.title%>' />
    <meta property="og:type" content="article" />
    <meta property="og:url" content='<%="http://nsoj.in#{request.original_fullpath}"%>' />
    <meta property="og:image" content='<%=@story.blog_image.url%>' />
    <meta property="og:description" content='<%=@story.content[0..100]%>' />
    
    <title><%=@story.title%></title>
    <%  @authors = ""
        @story.story_bylines.each_with_index do |student, i|
            @authors += i > 0 ? ", " : ""
            @authors += "#{student.user.name}"
        end
    %> 
    <meta name="author" content='<%=@authors.html_safe%>'>
    <meta name="description" content='<%=@story.content[0..100]%>'> 
  <%else%>
    <title>National School of Journalism - Homepage</title>
    <meta name="author" content="National School of Journalism">
    <meta name="description" content="National School of Journalism (NSoJ) is a highly selective postgraduate journalism institute that identifies and trains India's best journalistic talents."> 
  <%end%>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  

  <link rel='shortcut icon' type='image/x-icon' href='<%= asset_path("favicon.ico")%>' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body class="appear-animate">
	<div class="page" id="top">
		<%= render 'layouts/header'%>
		<%= yield %>
		<%= render 'layouts/footer'%>
	</div>
</body>
<%= debug(params) if Rails.env.development? %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88295033-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
